<js data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" data-sly-call="${clientLib.js @ categories='dtc.commerce.pdpProductSupplements'}" data-sly-unwrap></js>
<div data-sly-test="${wcmmode.edit}"> Please edit to configure the product supplements properties. </div>
<div class="container-fluid no-gutter" data-sly-use.product="com.dtc.commerce.productdetail.sightly.ProductDetailUsePojo">
<div data-sly-test="${!product.purchasable}">

<div data-sly-test="${wcmmode.edit}">
	<div ng-show="!varSelected">Please edit to configure the product supplements.</div>
</div>

<div ng-show="varSelected">
  <div class="pdp-productingredients" ng-controller="pdpProductSupplementController as varient"
  ng-if="varient.variantJson.servings.length > 0 || varient.variantJson.splIng.length > 0 || varient.variantJson.vitamins!=''
  || varient.variantJson.othIng!=''  || varient.variantJson.imgspl != ''|| varient.variantJson.keyIng.length > 0">
    <div class="product-content-container no-gutter">
      <div class="product-content-wrapper">
        <div id="accordionform">
          <div class="pdp-accordion-wrapper">
            <div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group">
              <div class="panel panel-default col-sm-12 m-b-2" ng-if="varient.variantJson.keyIng.length > 0 || varient.variantJson.imgspl != null || varient.variantJson.servings.length > 0 || varient.variantJson.splIng.length > 0 || varient.variantJson.vitamins!=null || varient.variantJson.note!=null || varient.variantJson.othIng!=null ">
                <div id="product-info-ingredients" role="tab" class="panel-heading">
                  <h4 class="panel-title col-lg-12 no-gutter">
                    <button type="button" data-toggle="collapse" data-target="#productingredients" aria-expanded="false" aria-controls="productingredients" class="btn collapsed">
                        <div class="col-sm-12 no-gutter" ><span class="pdp-header">${properties.ingHeader}</span></div>
                    </button>
                  </h4>
                </div>
              </div>


              <div id="productingredients" role="tabpanel" aria-labelledby="product-info-ingredients" aria-expanded="false" style="height: 100px;" class="panel-collapse collapse">
                <div class="panel-body" >
                  <div class="col-sm-12 col-md-12 col-lg-7 no-gutter" ng-if="varient.variantJson.imgspl != null">
                      <div class="list-pane"><img ng-src="{{varient.variantJson.imgspl}}" ng-init="varient.isImage=true;"></div>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-5" ng-class="{'col-lg-5': varient.isImage}" ng-if="varient.variantJson.keyIng.length > 0">
                    <div class="row">
                      <div class="col-sm-12 list-pane m-t-2">
                          <h3 class="m-b-0">${properties.kIngLabel}</h3>
                      </div>
                      <div class="col-sm-12 no-gutter m-t-1">
                        <ul class="m-a-0" ng-repeat="kIng in varient.variantJson.keyIng track by $index">
							<li ng-if="kIng.description" class="m-l-neg-20">
								<p class="m-l-neg-8">{{kIng.tags}} &#8212; {{kIng.description}}</p>
							</li>
                        </ul>
                      </div>
                    </div>
                  </div>


                  <div class="col-sm-12 col-md-12 col-lg-7 m-t-2 m-b-2 no-gutter"
                  ng-if="varient.variantJson.servings.length > 0 || varient.variantJson.splIng.length > 0 || varient.variantJson.vitamins!=null || varient.variantJson.note!=null">
                    <h3>${properties.infLabel}
                      <div class="col-sm-12 no-gutter m-t-1">
                        <div class="table-responsive">
                          <table>
                            <thead>
                              <tr class="pdp-cell-text">
                                <th>${properties.ingLabel}</th>
                                <th>${properties.amtLabel}</th>
                                <th>${properties.dValLabel}</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr ng-if="varient.variantJson.servings.length > 0">
                                  <td colspan="3"  >
                                  <p class="pdp-cell-text m-b-0"  ng-repeat="n in varient.variantJson.servings track by $index">{{n}}</p>
                                </td>
                              </tr>
                              <tr class="pdp-cell-data" ng-repeat="spl in varient.variantJson.splIng track by $index">
                                <td>{{spl.sIng}}</td>
                                <td>{{spl.amount}}</td>
                                <td>{{spl.dVal}}</td>
                              	</tr>
                              <tr class="pdp-cell-data" ng-if="varient.variantJson.vitamins!=null">
                                  <td colspan="3">{{varient.variantJson.vitamins}}</td>
                              </tr>
                              <tr class="pdp-cell-data" ng-if="varient.variantJson.note !=null">
                                  <td colspan="3">{{varient.variantJson.note}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </h3>
                  </div>

  				<div class="col-sm-12 col-md-12 col-lg-12 no-gutter"  ng-if="varient.variantJson.othIng!=null">
					<h3>${properties.oIngLabel}</h3>
					<p class="m-a-0 m-l-neg-8"> {{varient.variantJson.othIng}}</p>
  				</div>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
    </div>
  </div>
  <div data-sly-test="${product.purchasable}" ng-controller="pdpProductSupplementController as ctrl">
  <div data-sly-test="${!(product.keyIng || product.suplementImg || product.servings 
  || product.specialIng || product.vitamins || product.nutritionNote || product.otherIng ) && wcmmode.edit}" >Configure the product supplements </div>
    <div class="pdp-productingredients" ng-controller="pdpProductSupplementController as varient"
    data-sly-test="${product.keyIng || product.suplementImg || product.servings || product.specialIng || product.vitamins || product.nutritionNote || product.otherIng }" >
    <div class="product-content-container no-gutter">
      <div class="product-content-wrapper">
        <div id="accordionform">
          <div class="pdp-accordion-wrapper">
            <div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group">
              <div class="panel panel-default col-sm-12 m-b-2">
                <div id="product-info-ingredients" role="tab" class="panel-heading">
                  <h4 class="panel-title col-lg-12 no-gutter">
                    <button type="button" data-toggle="collapse" data-target="#productingredients" aria-expanded="false" aria-controls="productingredients" class="btn collapsed">
                        <div class="col-sm-12 no-gutter"><span class="pdp-header">${properties.ingHeader}</span></div>
                    </button>
                  </h4>
                </div>
              </div>


              <div id="productingredients" role="tabpanel" aria-labelledby="product-info-ingredients" aria-expanded="false" style="height: 100px;" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="col-sm-12 col-md-12 col-lg-7 p-r-1 m-b-2 no-gutter" data-sly-test="${product.suplementImg}">
                      <div><img src="${product.suplementImg @context = 'uri'}"></div>
                  </div>
                  
                  <div class="col-sm-12 col-md-12 col-lg-5 p-r-1 m-b-2 no-gutter" data-sly-test="${product.showKeyIngredients}">
                    <div class="row" >
                      <div class="col-sm-12" ng-if="ctrl.showLabel">
                          <h3>${properties.kIngLabel}</h3>
                      </div>
                      <div class="col-sm-12 m-t-1" data-sly-test="${product.keyIng}" >
                        <ul class="m-a-0" data-sly-list.kIng="${product.keyIng}">
							<li data-sly-test="${kIng.description}" class="m-l-neg-20">
								<p class="m-l-neg-8">${kIng.tags} &#8212; ${kIng.description}</p>
								<input type="hidden" name="showKeyIngLabel" value="${kIng.description}"/>
							</li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-7 m-b-2 no-gutter" 
                   data-sly-test="${product.servings || product.specialIng || product.vitamins || product.nutritionNote}">
                    <h3>${properties.infLabel}</h3>
                      <div class="col-sm-12 no-gutter m-t-1">
                        <div class="table-responsive">
                          <table>
                            <thead>
                              <tr class="pdp-cell-text">
                                <td>${properties.ingLabel}</td>
                                <td>${properties.amtLabel}</td>
                                <td>${properties.dValLabel}</td>
                              </tr>
                            </thead>
                            <tbody>
                              <tr data-sly-test="${product.servings}">
                                  <td data-sly-list.n="${product.servings}" colspan="3" >
                                  	<p class="pdp-cell-text m-b-0">${n}</p>
                                  </td>
                              </tr>
                              <tr data-sly-test="${product.specialIng}" class="pdp-cell-data" data-sly-repeat.spl="${product.specialIng}">
                                <td>${spl.ingredient}</td>
                                <td>${spl.amount}</td>
                                <td>${spl.dailyValue}</td>
                              	</tr>
                              <tr class="pdp-cell-data" data-sly-test="${product.vitamins}">
                                  <td colspan="3"><p>${product.vitamins}</p></td>
                              </tr>
                              <tr class="pdp-cell-data" data-sly-test="${product.nutritionNote}">
                                  <td colspan="3">${product.nutritionNote}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                  </div>
                  <div class="col-sm-12 col-md-12 col-lg-12 no-gutter" data-sly-test="${product.otherIng}">
   					<h3>${properties.oIngLabel}</h3>
  					<p class="m-a-0 m-l-neg-8"> ${product.otherIng}</p>
  				  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
  </div>
</div>