<js data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" data-sly-call="${clientLib.js @ categories='dtc.commerce.pdpProductUsage'}" data-sly-unwrap></js>
<div class="pdp-productusage-container container-fluid no-gutter" data-sly-use.product="com.dtc.commerce.productdetail.sightly.ProductDetailUsePojo">
  <div data-sly-test="${wcmmode.edit}"> Please edit to configure the product usage</div>
  <div class="product-content-container" ng-controller="pdpProductGuideController as ctrl">
    <div class="product-content-wrapper">
      <div id="accordionform">
        <div class="pdp-accordion-wrapper">
          <div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group">
            <div class="panel panel-default col-sm-12 m-b-1">
              <div id="product-usage-guide" role="tab" class="panel-heading">
                <h4 class="panel-title col-lg-12 no-gutter">
                  <button type="button" data-toggle="collapse" data-target="#productguide" aria-expanded="false" aria-controls="productguide" class="btn collapsed">
                    <div class="col-sm-12 no-gutter"><span class="pdp-header">${properties.howToUseText}</span></div>
                  </button>
                </h4>
              </div>
              <div id="productguide" role="tabpanel" aria-labelledby="product-usage-guide" aria-expanded="false" style="height: 100px;" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="col-sm-12 col-lg-6 list-pane no-gutter" data-sly-test="${product.graphicInfo}">
                    <div class="embed-responsive embed-responsive-16by9" >
                    <sly data-sly-test="${product.graphicType == 'image'}"><img src="${product.graphicInfo @context = 'uri'}">
                    </sly>
                    <sly data-sly-test="${product.graphicType == 'video'}">
                      <video id="video1" src="${properties.graphicInfo}" ng-click="ctrl.togglePlay()" class="embed-responsive-item" ui-event="{ended:'ctrl.video()'}">
                        <source type="video/mp4">${properties.browserSupportText}
                      </video>
                      <div class="video-btn">
                        <button id="bigPlayButton" ng-click='ctrl.togglePlay()' ng-hide="ctrl.videoPlaying" class="btn btn-primary play"><span>${properties.playText}</span></button>
                      </div>
                      </sly>
                    </div>
                     <div class="testimonial-video-foot col-sm-12 reset">
                      <div class="video-desc col-sm-8 reset">${product.graphicDesc} </div>
                      <sly data-sly-test="${product.graphicType == 'video'}">
                      <div class="video-duration col-sm-4 reset">${product.videoDuration}</div>
                      </sly>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-12"></div>
                  <div class="col-sm-12 col-md-12 col-lg-6 m-b-0" data-sly-test="${product.morningUsage}">
                    <div class="row">
                      <div class="col-sm-12 list-pane no-gutter">
                        <div class="pdp-cell-text">${properties.morning}</div>
                      </div>
                      <div class="col-sm-12 m-t-1 no-gutter" data-sly-test="${product.morningUsage}" data-sly-list.mUsage="${product.morningUsage}">
                        <p>${mUsage}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6" data-sly-test="${product.nightUsage}">
                    <div class="row">
                      <div class="col-sm-12 no-gutter list-pane m-b-0">
                        <div class="pdp-cell-text">${properties.night}</div>
                      </div>
                      <div class="col-sm-12 product-margin no-gutter" data-sly-test="${product.nightUsage}" data-sly-list.nUsage="${product.nightUsage}">
                        <p>${nUsage}</p>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 m-t-2 no-gutter">
                    <div class="pdp-cell-text">${product.usageDesc}</div>
                  </div>
                  <div class="col-sm-12 no-gutter product-margin m-b-0" data-sly-test="${product.generalUsage}" data-sly-list.gUsage="${product.generalUsage}">
                    <p>${gUsage}</p>
                  </div>
                  <div class="col-sm-12 m-t-2 no-gutter">
                  	<div class="pdp-cell-text" data-sly-test="${product.usageNote}">${properties.noteText} ${product.usageNote}</div>
					</ul>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>