			<section class="content m-b-0" ng-controller="deliveryOptionsController as deliveryCtrl">
				<div class="m-t-2 main-section container-fluid no-gutter clearfix">
					<div class="left-section">
						<div class="backgroundWhite name-card delivery-section">
							<form name="formDeliveryOptions" class="form">
								<div class="top-section">
									<div ng-repeat="item in deliveryCtrl.deliveryModes" class="p-l-1 p-r-1">
										<div class="clearfix">
											<div class="pull-left">
												<div class="radio row">
													<input name="deliveryModes" type="radio" ng-required="true"
														ng-model="deliveryCtrl.shippingType" ng-value="item.code"
														class="form-control col-lg-1"> <label
														class="delivery-label"><span class="pullUpLabel">{{item.name}}</span>
														<p class="p-l-5px section-content">{{item.description}}
															{{item.deliveryDate}}</p> </label>
												</div>
											</div>
											<div align="right" class="pull-right">
												<span class="pullUpLabel font-weight-bold text-uppercase" ng-bind="item.deliveryCost.value != 0 ? item.deliveryCost.formattedValue : '${properties.freeText}'"></span>
											</div>
										</div>
									</div>
								</div>
								<div class="m-t-2 m-b-0">
									<button type="submit"
                                    ng-click="deliveryCtrl.saveAndContinue(formDeliveryOptions.$valid, deliveryCtrl.saveAndContinueState)"
										class="btn btn-primary" ng-disabled="deliveryCtrl.disableDeliveryButton">${properties.saveAndContinueLabel}</button>
								</div>
								<div class="m-b-2">
									<button ng-click="deliveryCtrl.goToPage(deliveryCtrl.goBackState)"
										class="btn btn-primary-outline fullWidth">${properties.goBackLabel}</button>
								</div>
							</form>
						</div>
					</div>
					<div class="right-section show-above-lg include-section">
						<div
							class="backgroundWhite container-fluid name-card shipping-section shopping-cart-wrapper">
							<div data-sly-include="/apps/dtc/commerce/components/content/checkoutContainer/orderSummary.html"></div>
						</div>
					</div>
				</div>
			</section>