<div data-sly-test="${wcmmode.edit}">Please edit here to configure the Category Footer component.<br><br><br></div>
<sly data-sly-use.component="com.dtc.commerce.productdetail.sightly.CategoryFooterUsePojo"> 
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 category-directory-footer">
          <div class="col-sm-3 no-gutter">
            <h2>${properties.helloTitle}</h2>
            <p>${properties.helloDescription}</p>
          </div>
          <div class="col-sm-1 visible-sm"></div>
            <sly data-sly-resource="${ component.headerResourcePath @ resourceType='/apps/dtc/commerce/components/content/header', selectors=component.footerNavigation  }"></sly>
        </div>
        <div class="col-sm-12 category-directory-footer-sm">
          <div class="col-sm-12 no-gutter">
            <h2 class="m-b-0">${properties.helloTitle}</h2>
            <p>${properties.helloDescription}</p>
          </div>
          <div class="clearfix visible-sm"></div>
            <sly data-sly-resource="${ component.headerResourcePath @ resourceType='/apps/dtc/commerce/components/content/header', selectors=component.footerNavigationMobile  }"></sly>
        </div>
      </div>
    </div>
</sly>
