			<section class="content m-b-2" ng-controller="shippingAddressController as shipCtrl">
				<div class="m-t-2 main-section container-fluid no-gutter clearfix">
					<div class="left-section">
						<div
							class="backgroundWhite name-card container-fluid shipping-section no-gutter">
							<form name="formShippingAddress" novalidate scroll-for-error class="form">
								<div class="section-heading relative m-b-1 top-section">
									<span>${properties.shipToLabel}</span>
								</div>
								<div class="row m-b-1">
									<div class="col-lg-6 col-sm-6 col-md-6 col-xl-6">
										<div>
											<div>
												<label>${properties.firstNameLabel}</label>
											</div>
											<div>
												<input name="firstname" type="text"
													ng-model="shipCtrl.shippingAddressModel.firstName"
													ng-required="true" class="form-control m-b-0 fullWidth"
													ng-class="{'ng-touched': formShippingAddress.$submitted}"><span
													ng-show="(formShippingAddress.firstname.$touched || formShippingAddress.$submitted) &amp;&amp; formShippingAddress.firstname.$error.required"
													class="error-block m-t-1">${properties.firstNameErrorMessage}</span>
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-sm-6 col-md-6 col-xl-6">
										<div>
											<div>
												<label>${properties.lastNameLabel}</label>
											</div>
											<div>
												<input name="lastname" type="text"
													ng-model="shipCtrl.shippingAddressModel.lastName"
													ng-required="true" class="form-control fullWidth m-b-0"
													ng-class="{'ng-touched': formShippingAddress.$submitted}"><span
													ng-show="(formShippingAddress.lastname.$touched  || formShippingAddress.$submitted) &amp;&amp; formShippingAddress.lastname.$error.required"
													class="m-t-1 error-block">${properties.lastNameErrorMessage}</span>
											</div>
										</div>
									</div>
								</div>
								<div class="m-b-1">
									<div>
										<label>${properties.addressLine1Label}</label>
									</div>
									<div>
										<input id="autocomplete"  ng-focus="geolocate(formShippingAddress)" ng-keyup="shipCtrl.showAddressLine1Error = false" name="addressline1" type="text"
											ng-model="shipCtrl.shippingAddressData.line1" ng-required="true"
											class="form-control fullWidth m-b-0"
											ng-class="{'ng-touched': formShippingAddress.$submitted, 'ng-invalid ng-touched': shipCtrl.showAddressLine1Error}"><span
											ng-show="(formShippingAddress.addressline1.$touched  || formShippingAddress.$submitted) &amp;&amp; formShippingAddress.addressline1.$error.required"
											class="m-t-1 error-block">${properties.addressLine1ErrorMessage}</span>
											<div ng-if="shipCtrl.showAddressLine1Error" class="error-block">${'AddressLine1Error' @ i18n}</div>
									</div>
								</div>
								<div class="m-b-1">
									<div>
										<label>${properties.addressLine2Label}</label>
									</div>
									<div>
										<input name="addressline2" type="text"
											ng-model="shipCtrl.shippingAddressModel.line2"
											class="form-control fullWidth">
									</div>
								</div>
								<div class="m-b-1">
									<div>
										<label>${properties.cityLabel}</label>
									</div>
									<div>
										<input name="city" type="text"
											ng-model="shipCtrl.shippingAddressData.town" ng-required="true"
											class="form-control fullWidth m-b-0"
											ng-class="{'ng-touched': formShippingAddress.$submitted}"><span
											ng-show="(formShippingAddress.city.$touched || formShippingAddress.$submitted) &amp;&amp; formShippingAddress.city.$error.required"
											class="m-t-1 error-block">${properties.cityErrorMessage}</span>
									</div>
								</div>
								<div class="row m-b-1">
									<div class="col-lg-6 col-sm-6 col-md-6 col-xl-6">
										<div>
											<div>
												<label>${properties.stateLabel}</label>
											</div>
											<div
												class="select-wrapper state-select col-md-12 col-sm-12 col-lg-12 col-xl-12 no-gutter">
												<select name="state"
													ng-model="shipCtrl.shippingAddressData.state"
													ng-options="state.abbreviation as state.name for state in shipCtrl.states"
													ng-required="true" class="form-control fullWidth m-b-0"
													ng-class="{'ng-touched': formShippingAddress.$submitted}"></select><span
													ng-show="(formShippingAddress.state.$touched || formShippingAddress.$submitted) &amp;&amp; formShippingAddress.state.$error.required"
													class="m-t-1 error-block">${properties.stateErrorMessage}</span>
											</div>
										</div>
									</div>
									<div class="col-lg-6 col-sm-6 col-md-6 col-xl-6">
										<div>
											<div>
												<label>${properties.zipcodeLabel}</label>
											</div>
											<div>
												<input name="zipcode" type="tel"
													ng-model="shipCtrl.shippingAddressData.postalCode"
													ng-required="true" maxlength="10" zip-mask
													class="form-control fullWidth m-b-0"
													ng-class="{'ng-touched': formShippingAddress.$submitted}"><span
													ng-show="(formShippingAddress.zipcode.$touched || formShippingAddress.$submitted) &amp;&amp; formShippingAddress.zipcode.$error.required"
													class="m-t-1 error-block">${properties.zipcodeErrorMessage}</span>
												<span
													ng-show="(formShippingAddress.zipcode.$touched &amp;&amp; formShippingAddress.zipcode.$invalid &amp;&amp; !formShippingAddress.zipcode.$error.required)"
													class="m-t-1 error-block">${properties.zipcodePatternErrorMessage}</span>
											</div>
										</div>
									</div>
								</div>
								<div class="section-heading relative m-t-2rem">
									<span>${properties.orderContactInformationLabel}</span>
								</div>
								<div class="section-content m-b-1">
									<span>${properties.orderContactInformationTextLabel}</span>
								</div>
								<div class="m-b-1">
									<div>
										<label>${properties.emailLabel}</label>
									</div>
									<div>
										<input name="email" type="text"
											ng-model="shipCtrl.shippingAddressModel.email" ng-required="true"
											ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
											class="form-control fullWidth m-b-0"
											ng-class="{'ng-touched': formShippingAddress.$submitted}"><span
											ng-show="(formShippingAddress.email.$touched || formShippingAddress.$submitted) &amp;&amp; formShippingAddress.email.$error.required"
											class="m-t-1 error-block">${properties.emailRequiredErrorMessage}</span><span
											ng-show="(formShippingAddress.email.$touched &amp;&amp; formShippingAddress.email.$invalid &amp;&amp; !formShippingAddress.email.$error.required)"
											class="m-t-1 error-block">${properties.emailPatternErrorMessage}</span>
									</div>
								</div>
								<div class="m-b-1">
									<div>
										<label>${properties.phoneLabel}</label>
									</div>
									<div>
										<input name="phone" type="tel"
											ng-model="shipCtrl.shippingAddressModel.phone" ng-required="true"
											ui-mask="(999) 999-9999" class="form-control fullWidth m-b-0"
											ng-class="{'ng-touched': formShippingAddress.$submitted}"><span
											ng-show="(formShippingAddress.phone.$touched || formShippingAddress.$submitted) &amp;&amp; formShippingAddress.phone.$error.required"
											class="m-t-1 error-block">${properties.phoneErrorMessage}</span>
									</div>
								</div>
								<div class="m-b-1 m-t-2rem">
									<button type="submit"
										ng-click="shipCtrl.saveAndContinue(formShippingAddress.$valid, shipCtrl.saveAndContinuePath)"
										class="btn btn-primary">${properties.saveAndContinueLabel}</button>
								</div>
								<div class="m-b-2">
									<button type="button" data-toggle="modal"
										data-target="#exit-popup" data-backdrop="static"
										class="btn btn-primary-outline fullWidth">${properties.goBackLabel}</button>
								</div>
							</form>
						</div>
					</div>
					<div class="right-section show-above-lg include-section">
						<div
							class="backgroundWhite container-fluid name-card shipping-section shopping-cart-wrapper">
							 <div data-sly-include="/apps/dtc/commerce/components/content/checkoutContainer/orderSummary.html"></div>
					</div>
				</div>
			</div>
			</section>