<div ng-controller="orderCheckoutController as reviewCtrl">
<div class="hidden-lg-up">
<div class="checkout-order-wrapper p-t-0 p-b-0">
  <input type="hidden" name="cartModified" value="${properties.cartModifiedMessage}" />
  <input type="hidden" name="outOfStockMessage" value="${properties.outOfSTockMessage}" />
  <input type="hidden" name="comingSoonMessage" value="${properties.comingSoonMessage}" />
  <input type="hidden" name="backOrderMessage" value="${properties.backOrderMessage}" />
  <sly data-sly-use.rendition="com.dtc.commerce.productdetail.service.ProductsRenditionService">
      <input type="hidden" name="orderReviewRendition" value="${rendition.getOrderReviewRendition}"/>
  </sly>
      <div id="accordionform" class="row">
        <div class="col-sm-12 col-md-8 col-md-offset-2">
          <div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group">
            <div class="panel panel-default m-b-1 p-l-1 p-r-1">
              <div id="shopping-bag" role="tab" class="panel-heading">
                <h4 class="panel-title">
                  <button type="button" data-toggle="collapse" data-parent="#accordion" data-target="#shopping" aria-expanded="false" aria-controls="address" class="btn collapsed">
                    <div class="col-sm-12">
                      <div class="row col-sm-2 p-l-0">
                        <div class="checkout-order-wrapper shop-bag-logo m-t-neg-4"></div>
                      </div>
                      <div class="col-sm-9">
                        <h3 class="m-t-0">${properties.shoppingBagTitle} (<span ng-bind="reviewCtrl.bag.totalUnitCount"></span>)</h3>
                      </div>
                    </div>
                  </button>
                </h4>
              </div>
              <div id="shopping" role="tabpanel" aria-labelledby="shopping-bag" aria-expanded="false" style="height: 0px;" class="panel-collapse collapse">
                <div class="panel-body">
                  <div class="col-sm-12 list-pane">
                    <div ng-repeat="item in reviewCtrl.bag.entries">
                      <div ng-class="{'border-top': $first }" class="col-sm-12 top-bottom-pad-15 border-line no-gutter">
                        <div class="col-sm-3 col-md-2 col-lg-3 no-gutter p-t-1"><img ng-src="{{item.product.imagePath}}" alt="{{item.product.productTitle}}"></div>
                        <div class="col-sm-9 col-md-10 col-lg-9 no-gutter">
                          <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12">
                              <div ng-bind="item.product.productTitle" class="product-title"></div>
                              <div ng-bind="item.product.code" class="product-content"></div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-sm-12">
                              <div class="product-content" ng-hide="reviewCtrl.hidePSV">${'PSV' @ i18n} <span ng-bind="item.pvValue | number:2"></span></div>
                <div ng-repeat="baseOptionsArr in item.product.baseOptions">
                              <div ng-if="baseOptionsArr.variantType !== 'MECGenericVariantTypeProduct'">
                                <div ng-repeat="qualifiers in baseOptionsArr.selected.variantOptionQualifiers">
                                  <div class="product-size"> <span class="product-size-label" ng-bind="qualifiers.name"></span> |<p class="m-b-0" ng-bind="qualifiers.value"></p> </div>
                                </div>
                              </div>
                            </div>
                            </div>
              <div class="col-sm-6">
              <div class="item-quantity"><span class="product-size-label">${'Quantity' @ i18n}</span>:<p ng-bind="item.quantity"></p></div>              
                          </div>
                          <div class="col-sm-6 text-sm-right">
                            <div class="product-cost" ng-bind="item.totalPrice.formattedValue"></div>
                            </div>
                          </div>
                        </div>
            <div class="col-sm-12">
                            <div ng-if="item.stockStatus.length" class="stock-status m-t-0">
                              <div ng-if="reviewCtrl.stockStatusCheck(&quot;LS&quot;,item.stockStatus)" class="stock-status-sub">
                                <p class="m-b-0">${'Low Stock' @ i18n}</p>
                                <div class="stock-updates">${properties.stockLowMsgOne} {{item.stockUpdate}} ${properties.stockLowMsgTwo}</div>
                              </div>
                <div ng-if="reviewCtrl.stockStatusCheck(&quot;OS&quot;,item.stockStatus)" class="stock-status-sub">
                                <p class="m-b-0">${'Out of Stock' @ i18n}f</p>
                              </div> 
                              <div ng-if="reviewCtrl.stockStatusCheck(&quot;BO&quot;,item.stockStatus)" class="stock-status-sub">
                                <p class="m-b-0">${'On Backorder' @ i18n}</p>
                                <div class="stock-updates">${'Available on' @ i18n} {{item.stockUpdate}}</div>
                              </div>
                              <div ng-if="item.stockDescription.length" class="stock-description">{{item.stockDescription}}</div>
                            </div>
                        </div>  
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-12 list-pane-btn no-gutter p-b-1">
                    <button type="button" data-toggle="modal" data-target="#exit-popup" data-backdrop="static" class="btn btn-primary-outline col-sm-12">${properties.editButtonTitle}</button> 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="checkout-order-wrapper">
      <div class="row checkout-order-head m-b-0_5">
        <div class="col-sm-2 p-r-0">
          <div class="checkout-order-wrapper order-logo"></div>
        </div>
        <div class="col-sm-8 p-l-0">
          <h3 class="m-t-4px">${properties.orderSummaryTitle}</h3>
        </div>
        <div class="col-sm-2"></div>
      </div>
      <div class="row checkout-order-body summary">
        <div class="col-sm-12 no-gutter">
          <div class="col-sm-8 m-b-0_5">{{ctrl.orderSummary.subtotalLabel}}</div>
          <div class="col-sm-4 text-sm-right"><span ng-bind="ctrl.cartData.subTotal.formattedValue"></span></div>
          <div class="col-sm-8 m-b-0_5">{{ctrl.orderSummary.taxesLabel}}</div>
          <div class="col-sm-4 text-sm-right"><span ng-bind="ctrl.cartData.totalTax.formattedValue"></span></div>
          <div class="col-sm-8">{{ctrl.orderSummary.shippingLabel}}</div>
          <div class="col-sm-4 text-sm-right"><span ng-bind="ctrl.cartData.deliveryCost.value !=0 ? ctrl.cartData.deliveryCost.formattedValue : ctrl.orderSummary.freeText"></span></div>
      <div class="col-sm-8 m-b-0_5" ng-show="ctrl.cartData.totalDiscounts.value != 0">{{ctrl.orderSummary.savingsLabel}}</div>
          <div class="col-sm-4 text-sm-right" ng-show="ctrl.cartData.totalDiscounts.value != 0">-<span ng-bind="ctrl.cartData.totalDiscounts.formattedValue"></span> </div>
        </div>
        <div class="col-sm-12 no-gutter">
          <div class="pane-separator"></div>
        </div>
        <div class="col-sm-12 no-gutter">
          <div class="col-sm-8 estimated-total">{{ctrl.orderSummary.estimatedTotallLabel}}</div>
          <div class="col-sm-4 text-sm-right total" ng-bind="ctrl.cartData.totalPriceWithTax.formattedValue"></div>
        </div>
        <div class="col-sm-12">
          <legend class="m-b-0"><span class="order-sum-rewards">{{ctrl.orderSummary.promoCodeLabel}}</span></legend>
          <fieldset ng-class="" class="form-group">
            <div>
              <div class="text-center m-b-1"><span class="promo">{{ctrl.orderSummary.promorewardsLabel}}</span></div>
              <input type="hidden" value="${properties.invalidCVV}" name="invalidCVV" />
              <input type="hidden" value="${properties.insufficientBalance}" name="insufficientBalance" />
              <input type="hidden" value="${properties.gatewayError}" name="gatewayError" />

              <div class="col-sm-8 no-gutter">
                <input type="text" placeholder="{{ctrl.orderSummary.promoCodePlaceHolder}}" ng-change="ctrl.toggleErr()" ng-class="{'ng-invalid ng-touched':ctrl.promoError}" ng-model="ctrl.promoCode" class="form-control">
              </div><span class="input-group-btn promo-apply">
                <button type="button" promo-code-text-dtm="{{ctrl.promoCode}}" ng-click="ctrl.applyPromoCode(ctrl.promoCode,ctrl.orderSummary.errorPromoLabel)" class="btn btn-primary m-l-1 promo-code-dtm">{{ctrl.orderSummary.buttonLabel}}</button></span><span><span ng-show="ctrl.model.err" class="error-block" ng-bind="errPromoCode"></span></span>
            </div>
          </fieldset>
          <div ng-if="ctrl.voucherApplied" class="col-sm-12 no-gutter">
            <div class="promo-list-title"><span ng-hide="!ctrl.voucherApplied.length">{{ctrl.orderSummary.rewardsAppliedLabel}}</span></div>
            <div ng-repeat="item in ctrl.voucherApplied" class="promo-list">
              <div ng-click="ctrl.removePromoCode(item)" class="btn-sm-close pointer"><img src="/etc/clientlibs/dtc/core/main/css/src/assets/images/css/ic-close-circle.png" class="remove-promo-code"></div>
              <div class="text-uppercase applied-promo-dtm">{{item}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <input type="hidden" value="${properties.invalidCVV}" name="invalidCVV" />
    <input type="hidden" value="${properties.insufficientBalance}" name="insufficientBalance" />
    <input type="hidden" value="${properties.gatewayError}" name="gatewayError" />
    <div class="checkout-order-wrapper">
      <div class="row checkout-order-head">
        <div class="col-sm-2 p-r-0">
          <div class="checkout-order-wrapper ship-add-logo"></div>
        </div>
        <div class="col-sm-8 p-l-0">
          <h3 class="m-t-4px">${properties.shippingAddressTitle}</h3>
        </div>
        <a ng-href='{{reviewCtrl.editUrl}}{{reviewCtrl.shippingRoute}}'><span class="col-sm-1 pull-sm-right checkout-order-wrapper checkout-edit m-t-10px"></span>
        </a>
      </div>
      <div class="row checkout-order-body shipping">
        <div class="col-sm-12 m-b-0_5">
          <div class="m-b-0_5"><span><span ng-bind="(reviewCtrl.bag.deliveryAddress.firstName) + ' ' + (reviewCtrl.bag.deliveryAddress.lastName)"></span></span></div>
          <div><span ng-bind="reviewCtrl.bag.deliveryAddress.line1"></span><span ng-bind="reviewCtrl.bag.deliveryAddress.line2"></span><span><span
            ng-bind="(reviewCtrl.bag.deliveryAddress.town) + ' ' + (reviewCtrl.bag.deliveryAddress.region.name) + ' ' +(reviewCtrl.bag.deliveryAddress.postalCode)"></span></span></div>
        </div>
        <div class="col-sm-12 p-r-0">
          <div class="col-sm-12 col-md-6 m-b-0_5 p-l-0">
            <label class="m-b-0">${properties.emailTextLabel}</label><span ng-bind="reviewCtrl.bag.deliveryAddress.email"></span>
          </div>
          <div class="col-sm-12 col-md-6 p-l-0">
            <div class="pull-sm-left pull-md-right">
              <label class="m-b-0">${properties.phoneTextLabel}</label><span ng-bind="reviewCtrl.bag.deliveryAddress.phone"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="checkout-order-wrapper">
      <div class="row checkout-order-head">
        <div class="col-sm-2 p-r-0">
          <div class="checkout-order-wrapper delivery-logo"></div>
        </div>
        <div class="col-sm-8 p-l-0">
          <h3 class="m-t-4px">${properties.deliveryOptionsTitle}</h3>
        </div>
        <a ng-href="{{reviewCtrl.editUrl}}{{reviewCtrl.deliveryRoute}}"><span class="col-sm-1 pull-sm-right checkout-order-wrapper checkout-edit m-t-10px"></span>
        </a>
      </div>
      <div class="row checkout-order-body delivery">
        <div class="col-sm-12">
          <label><span ng-bind="reviewCtrl.bag.deliveryMode.name"></span> :</label><span class="text-uppercase p-l-1" ng-bind="reviewCtrl.bag.deliveryCost.value !=0 ? reviewCtrl.bag.deliveryCost.formattedValue : ctrl.orderSummary.freeText"></span>
        </div>
        <div class="col-sm-12">
          <p class="m-b-0">${properties.shippingArrivalText} <span ng-bind="reviewCtrl.bag.deliveryMode.description"></span></p>
        </div>
      </div>
    </div>
    <div class="checkout-order-wrapper">
      <div class="row checkout-order-head">
        <div class="col-sm-2 p-r-0">
          <div class="checkout-order-wrapper payment-logo"></div>
        </div>
        <div class="col-sm-8 p-l-0">
          <h3 class="m-t-4px">${properties.paymentMethodTitle}</h3>
        </div>
        <a ng-href="{{reviewCtrl.editUrl}}{{reviewCtrl.paymentRoute}}"><span class="col-sm-1 pull-sm-right checkout-order-wrapper checkout-edit m-t-0_5"></span>
        </a>
      </div>
      <div class="row checkout-order-body payment">
        <div class="col-sm-12"><span ng-if="reviewCtrl.cardType=='visa'" class="pull-sm-left"><img src="/etc/clientlibs/dtc/core/main/css/src/assets/images/content/visa-sm.png"></span>
                <span ng-if="reviewCtrl.cardType=='amex'" class="pull-sm-left"><img src="/etc/clientlibs/dtc/core/main/css/src/assets/images/css/a-m-e-x.png"></span>
        <span ng-if="reviewCtrl.cardType=='discover'" class="pull-sm-left"><img src="/etc/clientlibs/dtc/core/main/css/src/assets/images/css/d-i-s-c-o-v-e-r.svg"></span>
        <span ng-if="reviewCtrl.cardType=='master'" class="pull-sm-left"><img src="/etc/clientlibs/dtc/core/main/css/src/assets/images/css/m-a-s-t-e-r-c-a-r-d.png"></span>
    <div class="col-sm-9">
            <p><span ng-bind="reviewCtrl.bag.paymentInfo.accountHolderName"></span>,</p>
            <p>${properties.cardEndText}<span ng-bind="reviewCtrl.bag.paymentInfo.cardNumber | limitTo:-4"></span>, ${properties.cardExpireText} <span ng-bind="(reviewCtrl.bag.paymentInfo.expiryMonth)+ '/' +(reviewCtrl.bag.paymentInfo.expiryYear | limitTo:-2)"></span></p>
          </div>
        </div>
        <div class="col-sm-12 top-buffer-15">
          <label>${properties.billingAddressLabel}</label>
          <div ng-if= "reviewCtrl.bag.paymentInfo.billingAddress.shippingAddress">
                    <span class= "check-mark"></span><span> ${properties.checkBoxShippingAddress}</span>
          </div>
        </div>
    <div class="billing-add col-sm-12 m-b-0_5">
    <div ng-if="!reviewCtrl.bag.paymentInfo.billingAddress.shippingAddress" class="m-b-0_5 billing-add"><div ng-bind="(reviewCtrl.bag.paymentInfo.billingAddress.firstName) + ' ' + (reviewCtrl.bag.paymentInfo.billingAddress.lastName)"></div></div>
          <div ng-if="!reviewCtrl.bag.paymentInfo.billingAddress.shippingAddress" class="billing-add"><div
                    ng-bind="reviewCtrl.bag.paymentInfo.billingAddress.line1"></div>
                  <div
                    ng-bind="reviewCtrl.bag.paymentInfo.billingAddress.line2"></div>
                  <div
                    ng-bind="(reviewCtrl.bag.paymentInfo.billingAddress.town) + ' ' + (reviewCtrl.bag.paymentInfo.billingAddress.region.name) + ' ' +(reviewCtrl.bag.paymentInfo.billingAddress.postalCode)"></div></div>
        </div>
      </div>
    </div>
    <div class="checkout-order-wrapper order-placing">
      <div class="row checkout-order-head">
        <form name="termsForm" class="col-sm-12 top-buffer-15 checkbox">
            <div class="checkbox m-b-0">
              <input type="checkbox" name="termsField" ng-model=" reviewCtrl.isChecked" ng-change=" reviewCtrl.isAccepted(reviewCtrl.isChecked)" required>
                <label class="checkbox-label-section"><span>${properties.policyAgreementLabel}</span><span> <a ng-click="reviewCtrl.getPdfPath('${properties.returnPolicyPdfPath}')" class="pointer">${properties.termsAndConditionsLabel}</a></span><span>.</span></label>
            </div>
            <div ng-messages="termsForm.termsField.$error" ng-show="reviewCtrl.showError" role="alert">
              <div ng-message="required" class="error-block">${properties.policyAgreementErrorMessage}</div>
            </div>
        </form>
      </div>
      <div class="row checkout-order-body">
        <div class="col-sm-12 top-buffer-15">
          <button ng-click="reviewCtrl.placeOrder('${properties.editPlaceOrderPath}.html')" ng-disabled="reviewCtrl.isDisabled" class="btn btn-primary">${properties.placeOrderButtonTitle}</button>
        </div>
      </div>
    </div>
</div>
<div class="checkout-content-container no-gutter hidden-md-down m-t-3">
    <section class="content">
      <div class="main-section no-gutter m-t-3">
        <div class="left-section">
          <div class="large-view-1">
            <div class="checkout-order-wrapper col-lg-12 p-t-0 p-b-0">
              <div id="accordionform" class="row">
                <div class="col-sm-12">
                  <div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group">
                    <div class="panel panel-default m-b-1 p-l-1 p-r-1">
                      <div id="shopping-bag" role="tab" class="panel-heading">
                        <h4 class="panel-title">
                          <button type="button" data-toggle="collapse" data-parent="#accordion" data-target="#shopping-lg" aria-expanded="true" aria-controls="address" class="btn">
                            <div class="col-sm-12">
                              <div class="row col-sm-2 p-l-0">
                                <div class="checkout-order-wrapper shop-bag-logo p-l-0 m-t-neg-4"></div>
                              </div>
                              <div class="col-sm-9">
                                <h3 class="m-t-0">${properties.shoppingBagTitle} (<span ng-bind="reviewCtrl.bag.totalUnitCount"></span>)</h3>
                              </div>
                            </div>
                          </button>
                        </h4>
                      </div>
                      <div id="shopping-lg" role="tabpanel" aria-labelledby="shopping-bag" aria-expanded="true" style="height: 100px;" class="panel-collapse collapse in">
                        <div class="panel-body">
                          <div class="col-sm-12 list-pane">
                            <div ng-repeat="item in reviewCtrl.bag.entries">
                              <div ng-class="{'border-top': $first}" class="col-sm-12 top-bottom-pad-15 border-line no-gutter">
                                <div class="col-sm-3 col-md-3 col-lg-3 no-gutter p-t-1"><img ng-src="{{item.product.imagePath}}" alt="{{item.product.productTitle}}"></div>
                                <div class="col-sm-9 col-md-9 col-lg-9 no-gutter">
                                  <div class="row">
                                    <div class="col-lg-10 col-md-10 col-sm-10">
                                      <div ng-bind="item.product.productTitle" class="product-title"></div>
                                      <div ng-bind="item.product.code" class="product-content"></div>
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col-sm-12">
                                      <div class="product-content" ng-hide="reviewCtrl.hidePSV">${'PSV' @ i18n} <span ng-bind="item.pvValue | number:2"></span></div>
                    <div ng-repeat="baseOptionsArr in item.product.baseOptions">
                    <div ng-if="baseOptionsArr.variantType !== 'MECGenericVariantTypeProduct'">
                      <div ng-repeat="qualifiers in baseOptionsArr.selected.variantOptionQualifiers">
                        <div class="product-size"> <span class="product-size-label" ng-bind="qualifiers.name"></span> |<p class="m-b-0" ng-bind="qualifiers.value"></p> </div>
                        </div>
                      </div>
                    </div>
                                    </div>
                                    <div class="col-sm-6">
                                     
                    <div class="item-quantity"><span class="product-size-label">${'Quantity' @ i18n}</span>:<p ng-bind="item.quantity"></p></div>
                  </div>
                                    <div class="col-sm-6 text-sm-right">
                                      <div class="product-cost" ng-bind="item.totalPrice.formattedValue"></div>
                                    </div>
                                  </div>
                                </div>
                <div class="col-sm-12">
                                    <div ng-if="item.stockStatus.length" class="stock-status m-t-0">
                                      <div ng-if="reviewCtrl.stockStatusCheck(&quot;LS&quot;,item.stockStatus)" class="stock-status-sub">
                                        <p class="m-b-0">${'Low Stock' @ i18n}</p>
                                        <div class="stock-updates">${properties.stockLowMsgOne} {{item.stockUpdate}} ${properties.stockLowMsgTwo}</div>
                                      </div>
                                      <div ng-if="reviewCtrl.stockStatusCheck(&quot;BO&quot;,item.stockStatus)" class="stock-status-sub">
                                        <p class="m-b-0">${'On Backorder' @ i18n}</p>
                                        <div class="stock-updates">${'Available on' @ i18n} {{item.stockUpdate}}</div>
                                      </div>
                                      <div ng-if="item.stockDescription.length" class="stock-description">{{item.stockDescription}}</div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-sm-12 list-pane-btn no-gutter p-b-1">
                            <button type="button" data-toggle="modal" data-target="#exit-popup" data-backdrop="static" class="btn btn-primary-outline col-sm-12">${properties.editButtonTitle}</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="checkout-order-wrapper col-lg-12">
              <div class="row checkout-order-head">
                <div class="col-sm-2 p-r-0">
                  <div class="checkout-order-wrapper ship-add-logo p-l-0 m-t-neg-4"></div>
                </div>
                <div class="col-sm-8 p-l-0">
                  <h3 class="m-t-0">${properties.shippingAddressTitle}</h3>
                </div>
                <a ng-href='{{reviewCtrl.editUrl}}{{reviewCtrl.shippingRoute}}' ng-click="reviewCtrl.onEditIcon(reviewCtrl.shippingState)"><span class="col-sm-1 pull-sm-right checkout-order-wrapper checkout-edit m-t-0_5 m-b-0"></span>
                </a>
              </div>
              <div class="row checkout-order-body shipping">
                <div class="col-sm-12 m-b-0_5">
                  <div class="m-b-0_5"><span ng-bind="(reviewCtrl.bag.deliveryAddress.firstName) + ' ' + (reviewCtrl.bag.deliveryAddress.lastName)"></span></div>
                  <div><span ng-bind="reviewCtrl.bag.deliveryAddress.line1"></span><span ng-bind="reviewCtrl.bag.deliveryAddress.line2"></span><span><span
            ng-bind="(reviewCtrl.bag.deliveryAddress.town) + ' ' + (reviewCtrl.bag.deliveryAddress.region.name) + ' ' +(reviewCtrl.bag.deliveryAddress.postalCode)"></span></span></div>
                </div>
                <div class="col-sm-12">
                  <div class="col-sm-6 m-b-0_5 p-l-0">
                    <label class="m-b-0">${properties.emailTextLabel}</label><span ng-bind="reviewCtrl.bag.deliveryAddress.email"></span>
                  </div>
                  <div class="col-sm-6 col-md-6 p-r-0">
                    <div class="pull-sm-right">
                      <label class="m-b-0">${properties.phoneTextLabel}</label><span ng-bind="reviewCtrl.bag.deliveryAddress.phone"></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="checkout-order-wrapper col-lg-12">
              <div class="row checkout-order-head">
                <div class="col-sm-2 p-r-0">
                  <div class="checkout-order-wrapper delivery-logo p-l-0 m-t-neg-4"></div>
                </div>
                <div class="col-sm-8 p-l-0">
                  <h3 class="m-t-0">${properties.deliveryOptionsTitle}</h3>
                </div>
                <a ng-href="{{reviewCtrl.editUrl}}{{reviewCtrl.deliveryRoute}}" ng-click="reviewCtrl.onEditIcon(reviewCtrl.deliveryState)"><span class="col-sm-1 pull-sm-right checkout-order-wrapper checkout-edit m-t-0_5 m-b-0"></span>
                </a>
              </div>
              <div class="row checkout-order-body delivery">
                <div class="col-sm-12">
                  <label><span ng-bind="reviewCtrl.bag.deliveryMode.name"></span> :</label><span class="text-uppercase p-l-1" ng-bind="reviewCtrl.bag.deliveryCost.value !=0 ? reviewCtrl.bag.deliveryCost.formattedValue : ctrl.orderSummary.freeText"></span>
                </div>
                <div class="col-sm-12">
                  <p class="m-b-0">${properties.shippingArrivalText} <span ng-bind="reviewCtrl.bag.deliveryMode.description"></span></p>
                </div>
              </div>
            </div>
            <div class="checkout-order-wrapper col-lg-12">
              <div class="row checkout-order-head">
                <div class="col-sm-2 p-r-0">
                  <div class="checkout-order-wrapper payment-logo p-l-0 m-t-neg-4"></div>
                </div>
                <div class="col-sm-8 p-l-0">
                  <h3 class="m-t-0">${properties.paymentMethodTitle}</h3>
                </div>
              <a ng-href="{{reviewCtrl.editUrl}}{{reviewCtrl.paymentRoute}}" ng-click="reviewCtrl.onEditIcon(reviewCtrl.paymentState)"><span class="col-sm-1 pull-sm-right checkout-order-wrapper checkout-edit m-t-0_5 m-b-0"></span>
                </a>
              </div>
              <div class="row checkout-order-body payment">
                <div class="col-sm-12"><span ng-if="reviewCtrl.cardType=='visa'" class="pull-sm-left"><img src="/etc/clientlibs/dtc/core/main/css/src/assets/images/content/visa-sm.png"></span>
                <span ng-if="reviewCtrl.cardType=='amex'" class="pull-sm-left"><img src="/etc/clientlibs/dtc/core/main/css/src/assets/images/css/a-m-e-x.png"></span>
        <span ng-if="reviewCtrl.cardType=='discover'" class="pull-sm-left"><img src="/etc/clientlibs/dtc/core/main/css/src/assets/images/css/d-i-s-c-o-v-e-r.svg"></span>
        <span ng-if="reviewCtrl.cardType=='master'" class="pull-sm-left"><img src="/etc/clientlibs/dtc/core/main/css/src/assets/images/css/m-a-s-t-e-r-c-a-r-d.png"></span>
                  <div class="col-sm-9">
                    <p><span ng-bind="reviewCtrl.bag.paymentInfo.accountHolderName"></span>,</p>
                    <p>${properties.cardEndText} <span ng-bind="reviewCtrl.bag.paymentInfo.cardNumber | limitTo:-4"></span>, ${properties.cardExpireText} <span ng-bind="(reviewCtrl.bag.paymentInfo.expiryMonth)+ '/' +(reviewCtrl.bag.paymentInfo.expiryYear | limitTo:-2)"></span> </p>
                  </div>
                </div>
                <div class="col-sm-12 top-buffer-15">
                  <label>${properties.billingAddressLabel}</label>
                  <div ng-if= "reviewCtrl.bag.paymentInfo.billingAddress.shippingAddress">
                    <span class= "check-mark"></span><span> ${properties.checkBoxShippingAddress}</span>
                  </div>
                </div>
        <div class="billing-add col-sm-12 m-b-0_5">
        <div ng-if="!reviewCtrl.bag.paymentInfo.billingAddress.shippingAddress" class="m-b-0_5 billing-add"><div ng-bind="(reviewCtrl.bag.paymentInfo.billingAddress.firstName) + ' ' + (reviewCtrl.bag.paymentInfo.billingAddress.lastName)"></div></div>
          <div ng-if="!reviewCtrl.bag.paymentInfo.billingAddress.shippingAddress" class="billing-add"><div
                    ng-bind="reviewCtrl.bag.paymentInfo.billingAddress.line1"></div>
                  <div
                    ng-bind="reviewCtrl.bag.paymentInfo.billingAddress.line2"></div>
                  <div
                    ng-bind="(reviewCtrl.bag.paymentInfo.billingAddress.town) + ' ' + (reviewCtrl.bag.paymentInfo.billingAddress.region.name) + ' ' +(reviewCtrl.bag.paymentInfo.billingAddress.postalCode)"></div></div>
        </div>
              </div>
            </div>
          </div>
        </div>
        <div class="right-section">
          <div class="no-gutter large-view-2">
            <div class="checkout-order-wrapper col-lg-12">
              <div class="row checkout-order-head">
                <div class="col-sm-2 p-r-0">
                  <div class="checkout-order-wrapper order-logo p-l-0 m-t-neg-4"></div>
                </div>
                <div class="col-sm-8">
                  <h3 class="m-t-0">${properties.orderSummaryTitle}</h3>
                </div>
                <div class="col-sm-2"></div>
              </div>
              <div class="row checkout-order-body summary">
                <div class="col-sm-12 no-gutter">
                  <div class="col-sm-8 m-b-0_5">{{ctrl.orderSummary.subtotalLabel}}</div>
          <div class="col-sm-4 text-sm-right"><span ng-bind="ctrl.cartData.subTotal.formattedValue"></span></div>
                  <div class="col-sm-8 m-b-0_5">{{ctrl.orderSummary.taxesLabel}}</div>
                  <div class="col-sm-4 text-sm-right"><span ng-bind="ctrl.cartData.totalTax.formattedValue"></span></div>
                  <div class="col-sm-8">{{ctrl.orderSummary.shippingLabel}}</div>
                  <div class="col-sm-4 text-sm-right"><span ng-bind="ctrl.cartData.deliveryCost.value !=0 ? ctrl.cartData.deliveryCost.formattedValue : ctrl.orderSummary.freeText"></span></div>
              <div class="col-sm-8 m-b-0_5" ng-show="ctrl.cartData.totalDiscounts.value != 0">{{ctrl.orderSummary.savingsLabel}}</div>
                  <div class="col-sm-4 text-sm-right" ng-show="ctrl.cartData.totalDiscounts.value != 0">-<span ng-bind="ctrl.cartData.totalDiscounts.formattedValue"></span> </div>
                </div>
                <div class="col-sm-12">
                  <div class="pane-separator"></div>
                </div>
                <div class="col-sm-12 no-gutter">
                  <div class="col-sm-8 estimated-total">{{ctrl.orderSummary.estimatedTotallLabel}}</div>
                  <div class="col-sm-4 text-sm-right total" ng-bind="ctrl.cartData.totalPriceWithTax.formattedValue"></div>
                </div>
                <div class="col-sm-12">
                  <legend class="m-b-0"><span class="order-sum-rewards">{{ctrl.orderSummary.promoCodeLabel}}</span></legend>
                  <fieldset ng-class="" class="form-group">
                    <div>
                      <div class="text-center m-b-1"><span class="promo">{{ctrl.orderSummary.promorewardsLabel}}</span></div>
                      <div class="col-sm-8 p-l-0">
                        <input type="text" placeholder="{{ctrl.orderSummary.promoCodePlaceHolder}}" ng-change="ctrl.toggleErr()" ng-class="{'ng-invalid ng-touched':ctrl.promoError}" ng-model="ctrl.promoCode" class="form-control">
          </div><span class="input-group-btn promo-apply">
                        <button type="button" promo-code-text-dtm="{{ctrl.promoCode}}" ng-click="ctrl.applyPromoCode(ctrl.promoCode,ctrl.orderSummary.errorPromoLabel)" class="btn btn-primary promo-code-dtm">{{ctrl.orderSummary.buttonLabel}}</button></span><span>
                        <span ng-show="ctrl.model.err" class="error-block" ng-bind="errPromoCode"></span></span>
                    </div>
                  </fieldset>
                  <div ng-if="ctrl.voucherApplied" class="col-sm-12 no-gutter">
                    <div class="promo-list-title"><span ng-hide="!ctrl.voucherApplied.length">{{ctrl.orderSummary.rewardsAppliedLabel}}</span></div>
                    <div ng-repeat="item in ctrl.voucherApplied" class="promo-list">
                      <div ng-click="ctrl.removePromoCode(item)" class="btn-sm-close pointer"><img src="/etc/clientlibs/dtc/core/main/css/src/assets/images/css/ic-close-circle.png" class="remove-promo-code"></div>
                      <div class="text-uppercase applied-promo-dtm">{{item}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="checkout-order-wrapper order-placing col-lg-12">
              <div class="row checkout-order-head">
                <form name="termsForm" class="col-sm-12 top-buffer-15 ng-pristine ng-valid">
                    <div class="checkbox" >
                      <input type="checkbox" name="termsField" ng-model=" reviewCtrl.isChecked" ng-change=" reviewCtrl.isAccepted(reviewCtrl.isChecked)" required>
                        <label class="checkbox-label-section"><span>${properties.policyAgreementLabel}</span><span> <a ng-click="reviewCtrl.getPdfPath('${properties.returnPolicyPdfPath}')" class="pointer">${properties.termsAndConditionsLabel}</a></span><span>.</span></label>
                    </div>
                    <div ng-messages="termsForm.termsField.$error" ng-show="reviewCtrl.showError" role="alert">
                      <div ng-message="required" class="error-block">${properties.policyAgreementErrorMessage}</div>
                    </div>

                 </form>              
               </div>
              <div class="row checkout-order-body">
                <div class="col-sm-12 top-buffer-15">
                  <button ng-click="reviewCtrl.placeOrder('${properties.editPlaceOrderPath}.html')" ng-disabled="reviewCtrl.isDisabled" class="btn btn-primary">${properties.placeOrderButtonTitle}</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
