<sly data-sly-use.modifier="./linkhandler.js"/>
<sly data-sly-test="${properties.variation =='variation1' || !properties.variation}">
	<div class="landing-page-banner-container">
	  <div class="landing-page-banner-content">
		<div class="landing-page-banner">
		  <div class="landing-page-banner-overlay" ng-style="{'background-image': 'url(${properties.heroimage})'}"></div>
		  <div class="col-lg-offset-8 col-lg-4 col-sm-12 no-gutter landing-page-banner-content-in">
			<p class="small center">${properties.categorylabel}</p>
			<div class="col-sm-12 landing-page-banner-text no-gutter center">
			  <h2 class="m-b-0">${properties.headline}</h2>
			  <p class="m-b-2">${properties.description}</p><a href="${modifier.primaryLink}" class="btn btn-primary-outline">${properties.primarybuttonlabel}</a>
			</div>
		  </div>
		</div>
	  </div>
	</div>
</sly>

<sly data-sly-test="${properties.variation =='variation2'}">
<div class="landing-page-banner-full-container">
  <div class="landing-page-banner-content">
    <div class="landing-page-banner">
      <div class="landing-page-banner-overlay" ng-style="{'background-image': 'url(${properties.heroimage})'}"></div>    
      <div class="landing-page-banner-content-in">
        <div class="col-lg-9 col-sm-12 landing-page-banner-text no-gutter">
          <h2 class="m-b-0">${properties.headline}</h2>
          <p>${properties.description}</p>
        </div>
        <div class="col-lg-3 col-sm-12 landing-page-button-container no-gutter">
			<a href="${modifier.primaryLink}" class="btn btn-primary m-b-1 pull-right">${properties.primarybuttonlabel}</a>
			<div data-sly-test="${properties.displaysecondarylink == 'true'}">
				<a href="${modifier.secondaryLink}" class="btn btn-primary-outline btn-block pull-right">${properties.secondarybuttonlabel}</a></div>
			</div>	
        <div class="clearfix visible-sm"></div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix visible-sm"></div>
</sly>