  <div class="featured-categories-container" >
  <div class="featured-categories-components">
    <div class="row featured-catagories-banner-parent">
	 <div class="col-xl-6 col-lg-4 catagory-tiles-child no-gutter">
      <div class="featured-categories-banner">
	  <div class="featured-banner-container">
        <h2 class="banner-title m-b-0">${properties.hedaer}</h2>
        <p class="banner-text">${properties.description}</p>
      </div>
	  </div>
	  </div>
      <div ng-repeat="categories in [${properties.categories}]" class="col-xl-3 col-lg-4 col-md-3 col-sm-6 category-details">
      <a class="category-item"  ng-href="{{categories.categoryUrl}}.html">
          <div class="category-image"><img ng-src="{{categories.imageUrl}}" class="img-category"></div>
          <div class="category-text">
            <label class="title-category" >{{categories.categoryText}}</label>
          </div></a></div>
    </div>
  </div>
</div>