<div class="m-a-0">
  <div class="col-sm-12 no-gutter">
    <div class="col-sm-4 select-wrapper no-gutter">
      <select ng-model="ctrl.month" ng-options="month.code as month.code for month in ctrl.monthsList" ng-change="ctrl.getDaysList(ctrl.month); ctrl.leapYearValidation();" class="form-control year m-b-0" ng-focus="ctrl.checkFocus()" ng-blur="ctrl.checkDate();">
        <option value="" hidden="" ng-if="!ctrl.month || ctrl.month == 'MM'">  MM</option>
      </select>
    </div>
    <div class="col-sm-4 select-wrapper no-gutter">
      <select ng-model="ctrl.day" ng-options="day.code as day.desc for day in ctrl.daysList" ng-change="ctrl.leapYearValidation()" class="form-control year m-b-0" ng-focus="ctrl.checkFocus()" ng-blur="ctrl.checkDate();">
        <option value="" hidden="" ng-if="!ctrl.day || ctrl.day == 'DD'">  DD</option>
      </select>
    </div>
    <div class="col-sm-4 select-wrapper no-gutter">
      <select ng-model="ctrl.year" ng-options="years for years in yearsList" ng-change="ctrl.leapYearValidation()" class="form-control year m-b-0" ng-focus="ctrl.checkFocus()" ng-blur="ctrl.checkDate();">
        <option value="" hidden="" ng-if="!ctrl.year || ctrl.year == 'YYYY'">  YYYY</option>
      </select>
    </div>
    <span id="berror" ng-show="ctrl.error.hasError" class="m-t-1 error-block">{{ctrl.error.message}}</span>
  </div>
</div>