<sly data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" data-sly-call="${clientLib.js @ categories='dtc.video'}" />

<div class="welcome-on-board col-sm-12" ng-controller="videoController as video">
  <div class="row">
    <div ng-hide="!video.videoBannerShow" class="cssSlideUp">
      <h2 class="center welcome-on-board-title">${properties.title}</h2>
      <div class="welcome-on-board-banner">
        <div class="embed-responsive embed-responsive-16by9">
        <video id="video-1" poster="${properties.poster}" ng-src="${properties.videopath}" ng-click="video.togglePlay()" ui-event="{ended:'video.onVideoEnd($event)'}" class="embed-responsive-item">
            <source type="video/mp4">  ${properties.supportMsg}
          </video>
          <div class="video-btn">
            <button id="bigPlayButton" ng-click='video.togglePlay()' ng-hide="video.videoPlaying" class="btn btn-primary play"><span>${properties.playButton}</span></button>
          </div>
        </div>
      </div>
      <center ng-click="video.closeVideo('close');" class="close-video">${properties.closeButton}</center>
      <div class="clearfix visible-sm"></div>
    </div>
    <div ng-hide="video.videoBannerShow" class="cssSlideUp">
      <div class="col-sm-12">
        <center class="short-message">
          <p>${properties.closeMsg}</p>
        </center>
        <center ng-click="video.closeVideo('open');" class="close-video">${properties.welcomeMsg}</center>
      </div>
      <div class="clearfix visible-sm"></div>
    </div>
  </div>
</div>