<js data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" data-sly-call="${clientLib.js @ categories='dtc.commerce.checkoutContainer'}" data-sly-unwrap></js>
<js data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" data-sly-call="${clientLib.js @ categories='dtc.commerce.shippingAddress'}" data-sly-unwrap></js>
<js data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" data-sly-call="${clientLib.js @ categories='dtc.commerce.deliveryOptions'}" data-sly-unwrap></js>
<js data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" data-sly-call="${clientLib.js @ categories='dtc.commerce.orderCheckout'}" data-sly-unwrap></js>
<js data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" data-sly-call="${clientLib.js @ categories='dtc.commerce.paymentMethod'}" data-sly-unwrap></js>
<div class="checkout-guest-and-distributor" ng-controller="checkoutContainerController as ctrl" >
<div>
   <div class="content checkout-container order-review">
   
      <!-- Order Summary Strings BEGIN-->
      <input type="hidden" name="taxesLabel" value="${properties.taxesLabel}" ></input>
      <input type="hidden" name="shippingLabel" value="${properties.shippingLabel}" ></input>
      <input type="hidden" name="estimatedTotallLabel" value="${properties.estimatedTotallLabel}" ></input>
      <input type="hidden" name="promoCodeLabel" value="${properties.promoCodeLabel}" ></input>
      <input type="hidden" name="promoCodePlaceHolder" value="${properties.promoCodePlaceHolder}" ></input>
      <input type="hidden" name="promorewardsLabel" value="${properties.promorewardsLabel}" ></input>
      <input type="hidden" name="rewardsAppliedLabel" value="${properties.rewardsAppliedLabel}" ></input>
      <input type="hidden" name="buttonLabel" value="${properties.buttonLabel}" ></input>
      <input type="hidden" name="shippingDefaultLabel" value="${properties.shippingDefaultLabel}" ></input>
      <input type="hidden" name="errorPromoLabel" value="${properties.errorPromoLabel}" ></input>
      <input type="hidden" name="subtotalLabel" value="${properties.subtotalLabel}" ></input>
      <input type="hidden" name="savingsLabel" value="${properties.savingsLabel}" ></input>
      <input type="hidden" name="freeText" value="${properties.freeText}" ></input>   
      <!-- Order Summary Strings END -->
      
      <input type="hidden" name="shoppingBag" value="${properties.shoppingBagPath}" ></input>
      <input type="hidden" id="navTitle" name="navTitle" value="${properties.navTitle}" ></input>
      <input type="hidden" name="shippingAddressTitle" value="${properties.shippingNavTitle}" ></input>
      <input type="hidden" name="deliveryOptionsTitle" value="${properties.deliveryNavTitle}" ></input>
      <input type="hidden" name="paymentMethodTitle" value="${properties.paymentNavTitle}" ></input>
      <input type="hidden" name="orderReviewTitle" value="${properties.reviewNavTitle}" ></input>
      <input type="hidden" id="ship" name="navTitle" value="${properties.shipNav}.html" ></input>
      <input type="hidden" id="deli" name="navTitle" value="${properties.deliveryNav}.html" ></input>
      <input type="hidden" id="pay" name="navTitle" value="${properties.paymentNav}.html" ></input>
      <input type="hidden" id="review" name="navTitle" value="${properties.reviewNav}.html" ></input>
      <input type="hidden" id="shipRoute" name="navTitle" value="${properties.shipRoute}" ></input>
      <input type="hidden" id="deliRoute" name="navTitle" value="${properties.deliRoute}" ></input>
      <input type="hidden" id="payRoute" name="navTitle" value="${properties.payRoute}" ></input>
      <input type="hidden" id="reviewRoute" name="navTitle" value="${properties.reviewRoute}" ></input>
      <input type="hidden" id="shipState" name="navTitle" value="${properties.shipState}" ></input>
      <input type="hidden" id="deliState" name="navTitle" value="${properties.deliState}" ></input>
      <input type="hidden" id="payState" name="navTitle" value="${properties.payState}" ></input>
      <input type="hidden" id="reviewState" name="navTitle" value="${properties.orderState}" ></input>
      <input type="hidden" id="disableNavigationID" name="disableNavigationFlag" value="true" ></input>
      <input type="hidden" id="checkOutErrorToast" name="checkOutErrorToastMessage" value="${properties.checkoutError}" ></input>
      <input type="hidden" id="invalidStateZipErrorToast" name="invalidStateZipErrorToastMessage" value="${properties.invalidStateZipErrorMessage}" ></input>
      <input type="hidden" id="nvgsignoutpath" value="${properties.nvgsignoutpath}" ></input>
      <div class="checkout-title-container no-gutter" >
         <section class="header">
            <div class="section invite-banner">
               <div align="left" class="container-fluid p-t-1">
                  <div data-toggle="modal" data-target="#exit-popup" data-backdrop="static" class="pointer p-l-1 navigate-back"><span class="text-white">${properties.bagLabel}</span></div>
                  <div align="center" class="text-white logo-section">
                     <div>
                        <!-- <h5 class="m-b-0_5 font-weight-normal text-white text-uppercase">${properties.logoHeader}</h5> -->
                        <h1 class="font-weight-normal text-white text-uppercase">${properties.pageHeader}</h1>
                     </div>
                  </div>
               </div>
               <div class="steps">
				  <div align="center" class="container-fluid clearfix displayTable actionMenu" data-sly-test="${wcmmode.edit}">
                     <div ng-click="ctrl.gotoPage('home')" class="pull-left">Home</div>
					 <div ng-click="ctrl.gotoPage('${properties.shipState}')" class="pull-left shippingAddress-logo"></div>
					 <div ng-click="ctrl.gotoPage('${properties.deliState}')" class="pull-left deliveryOptions-logo"> </div>
					 <div ng-click="ctrl.gotoPage('${properties.payState}')" class="pull-left paymentMethod-logo"></div>
					 <div ng-click="ctrl.gotoPage('${properties.orderState}')" class="pull-left orderReview-logo"></div>
				  </div>

			   
                  <div align="center" class="container-fluid clearfix displayTable actionMenu" data-sly-test="${!wcmmode.edit}">
                     <div ng-if="!ctrl.hasDeliveryAddress && ctrl.checkoutStep != 'shippingAddress'" class="pull-left shippingAddress-logo">
                        <div ng-if="ctrl.checkoutStep == 'shippingAddress'" class="active-arrow-up"></div>
                     </div>
                     <div ng-if="!ctrl.hasDeliveryAddress && ctrl.checkoutStep == 'shippingAddress'" class="pull-left shippingAddress-logo active relative">
                        <div ng-if="ctrl.checkoutStep == 'shippingAddress'" class="active-arrow-up"></div>
                     </div>
                     <div ng-if="ctrl.hasDeliveryAddress && ctrl.checkoutStep == 'shippingAddress'" class="pull-left shippingAddress-logo active relative">
                        <div ng-if="ctrl.checkoutStep == 'shippingAddress'" class="active-arrow-up"></div>
                     </div>
                     <div ng-if="ctrl.hasDeliveryAddress && ctrl.checkoutStep != 'shippingAddress'" ng-click="ctrl.gotoPage('${properties.shipState}')" class="pull-left relative pointer shippingAddress-logo-done"></div>
                     <div ng-if="!ctrl.hasDeliveryMode && ctrl.checkoutStep != 'deliveryOptions'" class="pull-left deliveryOptions-logo">
                        <div ng-if="ctrl.checkoutStep == 'deliveryOptions'" class="active-arrow-up"></div>
                     </div>
                     <div ng-if="!ctrl.hasDeliveryMode && ctrl.checkoutStep == 'deliveryOptions'" class="pull-left deliveryOptions-logo-active relative">
                        <div ng-if="ctrl.checkoutStep == 'deliveryOptions'" class="active-arrow-up"></div>
                     </div>
                     <div ng-if="ctrl.hasDeliveryMode && ctrl.checkoutStep == 'deliveryOptions'" class="pull-left deliveryOptions-logo-active relative">
                        <div ng-if="ctrl.checkoutStep == 'deliveryOptions'" class="active-arrow-up"></div>
                     </div>
                     <div ng-if="ctrl.hasDeliveryMode && ctrl.checkoutStep != 'deliveryOptions'" ng-click="ctrl.gotoPage('${properties.deliState}')" class="pull-left deliveryOptions-logo pointer relative deliveryOptions-logo-done"> </div>
                     <div ng-if="!ctrl.hasPaymentInfo && ctrl.checkoutStep != 'paymentMethod'" class="pull-left paymentMethod-logo">
                        <div ng-if="ctrl.checkoutStep == 'paymentMethod'" class="active-arrow-up"></div>
                     </div>
                     <div ng-if="!ctrl.hasPaymentInfo && ctrl.checkoutStep == 'paymentMethod'" class="pull-left paymentMethod-logo-active relative">
                        <div ng-if="ctrl.checkoutStep == 'paymentMethod'" class="active-arrow-up"></div>
                     </div>
                     <div ng-if="ctrl.hasPaymentInfo && ctrl.checkoutStep == 'paymentMethod'" class="pull-left paymentMethod-logo-active relative">
                        <div ng-if="ctrl.checkoutStep == 'paymentMethod'" class="active-arrow-up"></div>
                     </div>
                     <div ng-if="ctrl.hasPaymentInfo && ctrl.checkoutStep != 'paymentMethod'" ng-click="ctrl.gotoPage('${properties.payState}')" class="pull-left pointer relative paymentMethod-logo-done"></div>
                     <div  class="pull-left orderReview-logo" ng-class="ctrl.checkoutStep == 'orderReview' ? 'orderReview-logo-active relative' : ''">
                        <div ng-if="ctrl.checkoutStep == 'orderReview'" class="active-arrow-up"> </div>
                     </div>
                  </div>
               </div>
			   <div class="step-indicator"><small class="text-uppercase text-white" ng-bind="ctrl.navTitle"></small></div>
      </div>
      </section>
   </div>	
    <sly data-sly-include="toastMessage.html" data-sly-unwrap></sly>
	<div class="checkout-content-container no-gutter">
      <div ui-view></div>
   </div>
</div>
</div>
<sly data-sly-include="/apps/dtc/commerce/components/content/checkoutContainer/orderSummaryAccordion.html" data-sly-unwrap></sly>

<div id="exit-popup" role="dialog" class="popup-modal-section modal fade" >
   <div class="modal-dialog">
      <div class="modal-content">
         <div class="modal-body">
            <div class="modal-close-icon-section clearfix pointer">
               <div data-dismiss="modal" class="pull-right modal-close-icon"></div>
            </div>
            <div class="m-b-2">${properties.modalHeader}</div>
            <div>
               <button data-dismiss="modal" class="btn btn-primary m-b-1"><span class="text-uppercase font-weight-normal">${properties.stagLabel}</span></button>
               <button data-dismiss="modal" onclick="window.location.href='${properties.shoppingBagPath @ context = 'text'}.html';" class="btn btn-primary-outline fullWidth font-weight-normal cart-nav-dtm">
               		<span class="text-uppercase">${properties.gotoBagLabel}</span>
               	</button>
            </div>
         </div>
      </div>
   </div>
</div>
</div>