<div id="accordionform" class="accordionForm show-below-lg" ng-if="ctrl.checkoutStep!='orderReview'">
	<div id="accordion" role="tablist" aria-multiselectable="true"
		class="panel-group">
		<div class="panel panel-default accordion-panel relative">
			<div id="panel1" role="tab" class="panel-heading">
				<h4
					ng-click="ctrl.model.isPullLabelVisible = !ctrl.model.isPullLabelVisible"
					ng-init="ctrl.model.isPullLabelVisible = true" class="panel-title">
					<button type="button" data-toggle="collapse"
						data-parent="#accordion" data-target="#panel"
						aria-expanded="false" aria-controls="payment"
						ng-click="ctrl.togglePanel()" class="btn drawerButton collapsed">
						<div ng-show="ctrl.model.isPullLabelVisible"
							class="clearfix accord-label-section fullWidth">
							<div class="pull-left">
								<label class="pullUpLabel text-transform-none">{{ctrl.orderSummary.estimatedTotallLabel}}</label>
							</div>
							<div align="right" class="pull-right">
								<label class="pullUpData"
									ng-bind="ctrl.cartData.totalPriceWithTax.formattedValue"></label>
							</div>
						</div>
					</button>
				</h4>
			</div>
			<div id="panel" role="tabpanel" aria-labelledby="panel1"
				aria-expanded="false" style="height: 0px;"
				class="panel-section panel-collapse collapse">
				<div class="panel-body include-section">
					<div
						class="backgroundWhite container-fluid name-card shipping-section shopping-cart-wrapper">
						<div class="shopping-cart-top">
							<div class="clearfix shopping-cart-section">
								<div class="pull-left">
									<label>{{ctrl.orderSummary.subtotalLabel}}</label>
								</div>
								<div class="pull-right">
									<label class="font-weight-bold"
										ng-bind="ctrl.cartData.subTotal.formattedValue"></label>
								</div>
							</div>
							<div class="clearfix shopping-cart-section">
								<div class="pull-left">
									<label>{{ctrl.orderSummary.taxesLabel}}</label>
								</div>
								<div class="pull-right">
									<label class="font-weight-bold" ng-if="ctrl.cartData.totalTax.value != 0"
										ng-bind="ctrl.cartData.totalTax.formattedValue"></label> <label
										class="section-content label-content"
										ng-if="ctrl.cartData.totalTax.value == 0">{{ctrl.orderSummary.shippingDefaultLabel}}</label>
								</div>
							</div>
							<div ng-if="ctrl.cartData.deliveryCost.formattedValue" class="clearfix shopping-cart-section">
								<div class="pull-left">
									<label>{{ctrl.orderSummary.shippingLabel}}</label>
								</div>
								<div class="pull-right">
									<label class="font-weight-bold" ng-bind="ctrl.cartData.deliveryCost.value !=0 ? ctrl.cartData.deliveryCost.formattedValue : '${properties.freeText}'"></label>
								</div>
							</div>
							<div
								class="clearfix shopping-cart-section shopping-cart-last-section"
								ng-show="ctrl.cartData.totalDiscounts.value != 0">
								<div class="pull-left">
									<label>{{ctrl.orderSummary.savingsLabel}}</label>
								</div>
								<div class="pull-right">
									<label class="font-weight-bold">-{{ctrl.cartData.totalDiscounts.formattedValue}}</label>
								</div>
							</div>
							<div class="section-separator shopping-cart-section"></div>
							<div class="row shopping-cart-section estimated-total-section">
								<div class="col-sm-6 col-md-6 col-lg-8 col-xl-8 no-gutter">
									<label class="estimated-total">{{ctrl.orderSummary.estimatedTotallLabel}}</label>
								</div>
								<div align="right" class="col-sm-6 col-md-6 col-lg-4 col-xl-4">
									<label
										ng-bind="ctrl.cartData.totalPriceWithTax.formattedValue"></label>
								</div>
							</div>
							<div class="section-heading relative promocode-section">
								<span>{{ctrl.orderSummary.promoCodeLabel}}</span>
							</div>
							<div class="section-content promo-code-brief-label">
								<span>{{ctrl.orderSummary.promorewardsLabel}}</span>
							</div>
							<div class="m-b-0 promo-code-section clearfix">
								<form name="formPromoCode" class="form">
									<div class="pull-left">
										<input type="text" name="promo"
											placeholder="${properties.promoCodePlaceHolder}"
											ng-model="ctrl.model.promoCode"
											ng-class="{'ng-invalid ng-touched': ctrl.model.err}"
											ng-change="toggleErr()"
											class="form-control promo-code-input m-b-0"><span
											ng-show="ctrl.model.err"
											class="error-block m-t-0 font-weight-bold"
											ng-bind="errPromoCode"></span>
									</div>
									<div class="pull-right">
										<button type="submit" promo-code-text-dtm="{{ctrl.model.promoCode}}"
											ng-click="ctrl.applyPromoCode(ctrl.model.promoCode,'${properties.errorPromoLabel}')"
											class="btn btn-primary button promo-code-button promo-code-dtm">
											<span class="text-uppercase">{{ctrl.orderSummary.buttonLabel}}</span>
										</button>
									</div>
								</form>
							</div>
							<div class="promotion-and-rewards-section">
								<span ng-hide="!ctrl.voucherApplied.length"
									class="small-heading text-uppercase font-size-13">{{ctrl.orderSummary.rewardsAppliedLabel}}</span>
							</div>
							<div ng-repeat="item in ctrl.voucherApplied" ng-if="item"
								class="m-b-0">
								<span ng-click="ctrl.removePromoCode(item)"
									class="m-r-1 pointer"><img
									src="/etc/clientlibs/dtc/core/main/css/src/assets/images/css/ic-close-circle.png"
									class="remove-promo-code"></span><span
									class="font-size-13 promoCode applied-promo-dtm text-uppercase" ng-bind="item"></span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>