<span is-open="productCtrl.isOpen" on-toggle="productCtrl.toggle(open)"
	uib-dropdown="" class="dropdown"><span uib-dropdown-toggle=""><a
		class="mouse-cursor" id="ratings-link"><span ng-bind="productCtrl.ratingValue"></span><span> ${'Ratings' @ i18n}</span></a></span>
	<div uib-dropdown-menu="" class="dropdown-menu">
		<div class="pdp-popover">
			<div class="text-lg-right">
				<span ng-click="(productCtrl.isOpen = false)">
					<div class="cross-sign"></div>
				</span>
			</div>
			<div ng-show="productCtrl.section.sec2" class="container">
				<div>
					<div class="row left-upper-content">
						<div class="col-sm-4 percent" ng-bind="productCtrl.ratingPercentage"></div>
						<div class="col-sm-8 right-upper-content">${'percentagelabel' @ i18n}</div>
					</div>
				</div>
				<hr class="h-rule">
				<div>
					<div class="row below-content">
						<button type="button" ng-click="productCtrl.onRateProduct('sec2','sec3')"
							class="btn Rate-btn">${'ratelabel' @ i18n}</button>
					</div>
				</div>
			</div>
			<div ng-show="productCtrl.section.sec3"
				class="container">
				<div>
					<div class="row left-upper-content">
						<div class="col-md-3 col-sm-3 col-lg-3 col-xs-3 percent"></div>
						<div class="col-md-9 col-sm-8 col-lg-9 col-xs-9 ques-content">${'purchasetextlabel' @ i18n}</div>
					</div>
				</div>
				<div>
					<div class="row below-content">
						<button type="button" ng-click="productCtrl.changeSection('sec3','sec4')"
							class="btn Rate-btn Sample-btn">${'samplelabel' @ i18n}</button>
						<br>
						<button type="button" ng-click="productCtrl.changeSection('sec3','sec4')"
							class="btn Rate-btn Purchase-btn">${'purchaselabel' @ i18n}</button>
					</div>
				</div>
			</div>
			<div ng-show="productCtrl.section.sec4"
				class="container">
				<div>
					<div class="row left-upper-content">
						<div class="col-sm-3 percent"></div>
						<div class="col-sm-9 ques-content">${'wouldyoulabel' @ i18n}</div>
					</div>
				</div>
				<div>
					<div class="row below-content">
						<button type="button" ng-click="productCtrl.changeSection('sec4','sec5')"
							class="btn Yes-btn">${'yeslabel' @ i18n}</button>
						<br>
						<button type="button" ng-click="productCtrl.changeSection('sec4','sec5')"
							class="btn No-btn">${'nolabel' @ i18n}</button>
					</div>
				</div>
			</div>
			<div ng-show="productCtrl.section.sec5"
				class="container">
				<div>
					<div class="row left-upper-content">
						<div class="col-sm-12 overall-rating-content">${'overalllabel' @ i18n}</div>
						<div class="col-sm-12 pdp-small-container">
							<span ng-show="!productCtrl.submitButtonDisable" class="col-sm-12"
								ng-bind="productCtrl.ratingVal"></span><span
								ng-show="productCtrl.submitButtonDisable" class="col-sm-12"></span>
							<ul class="pdp-popover-stars">
								<li ng-repeat="star in productCtrl.getNumber()"><img
									ng-src="{{productCtrl.starFunction(star)}}"
									ng-click="productCtrl.rateProduct(star)"
									ng-mouseover="productCtrl.starMouseOver(star)"
									ng-mouseleave="productCtrl.starMouseLeave()"></li>
							</ul>
						</div>
						<div class="col-sm-12 Rating-submit-text">
							<p>
								${'submittedlabel' @ i18n}<br>${'changelabel' @ i18n}
							</p>
						</div>
					</div>
				</div>
				<div>
					<div class="row">
						<div class="col-sm-12 percent-text1">
							<button type="button"
								ng-click="productCtrl.changeSection('sec5','sec6');productCtrl.close();"
								ng-disabled="productCtrl.submitButtonDisable" class="btn Submit-btn1">${'submitlabel' @ i18n}</button>
						</div>
					</div>
				</div>
			</div>
			<div ng-show="productCtrl.section.sec6"
				class="container">
				<div>
					<div class="row left-upper-content">
						<div class="col-sm-12 Feedback feedback-upper-content">
							<center>${'feedbacklabel' @ i18n}</center>
						</div>
					</div>
					<div class="col-md-9 col-sm-8 col-lg-9 col-xs-9 Ratingstar-line">
						${'ratinglabel' @ i18n}</div>
				</div>
				<div>
					<div class="row">
						<div class="col-sm-12 pdp-small-container">
							<ul class="pdp-popover-stars-1">
								<li ng-repeat="star in productCtrl.getNumber()"><img
									ng-src="{{productCtrl.starFunction(star)}}"></li>
							</ul>
						</div>
						<button type="button" ng-click="productCtrl.closeModal();"
							class="btn close-btn">${'closelabel' @ i18n}</button>
					</div>
				</div>
			</div>
		</div>
	</div></span>
	 <input type="hidden" id ="setPopOverRatingVal"/>
     <input type="hidden" id="nvgsigninpath" value="${properties.nvgsigninpath}"/>