<js data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" data-sly-call="${clientLib.js @ categories='dtc.commerce.productDetail'}" data-sly-unwrap></js>
<div data-sly-use.product="com.dtc.commerce.productdetail.sightly.ProductDetailUsePojo">
   <div data-sly-test="${!product.skuIdentifier}">${product.defaultMessage}</div>
   <input type="hidden" name="images" id="productImages" value="${product.imagesList}" />
   <input type="hidden" name="product-sku" value="${product.skuIdentifier}" />
   <input type="hidden" name="productName" value="${product.productName}" />
   <input type="hidden" name="productSize" value="${product.productSize}" />
   <input type="hidden" name="variantSelectors" value="${product.variantSelectors}" /> 
   <input type="hidden" name="purchasable" value="${product.purchasable ? 'true' : 'false'}" /> 
   <input type="hidden" name="showShade" value="${product.showShade ? 'true' : 'false'}" /> 
   <div class="navigation-banner hidden-xs-down">
      <div class="container-fluid pdp-productbasics" data-sly-test="${product.skuIdentifier}" ng-controller="productDetailController as productCtrl">
         <div class="row">
		 <div class="col-sm-12 p-t-1 p-b-1" ng-if="productCtrl.history()"><a ng-click="productCtrl.backBtnClick()">&lt; ${'Back' @ i18n}</a></div>
            <div class="col-md-6 col-sm-12 pdp-product-carousel">
               <!-- Carrousel box-->
               <div ng-if="!productCtrl.images.length" class="Carousal-boxes"><span>${'NoImageLabel' @ i18n}</span>
               </div>
               <slick id="slickProduct" settings="productCtrl.slickPrimaryConfig" ng-if="productCtrl.images.length&amp;&amp;productCtrl.slickPrimaryConfig.enabled" class="carousel carousel-primary">
                  <div ng-repeat="data in productCtrl.images" class="Carousal-boxes">
                     <div><img ng-src="{{data.imagePath}}"></div>
                  </div>
               </slick>
            </div>
            <!-- End Carrousel box-->
            <div class="col-md-1 col-sm-12 visible-lg"></div>
            <div class="col-md-5 col-sm-12 col-xs-12 pdp-product-detials">
               <div class="row">
                  <div class="col-sm-12">
                     <h1 ng-bind="productCtrl.productName"></h1>
                     <div class="Heart-Icon" ng-if=false>
                        <button ng-click="productCtrl.addFavorite()" class="favorite {{productCtrl.checkFavorite()}}">
                           <svg width="30" height="27" class="heart">
                              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                 <g id="heart-outline" stroke="#999">
                                    <path id="fill" d="M22.3634,0.9763 C19.9054,0.9763 17.1654,1.9943 15.9764,5.2263 C15.8984,5.4373 15.5944,5.4293 15.5214,5.2163 C14.4144,1.9913 11.5714,0.9763 9.1154,0.9763 C4.4974,0.9763 0.7394,5.0363 0.7394,10.0263 C0.7394,12.3713 1.5684,14.5963 3.0754,16.2903 L15.0314,28.2673 C15.4224,28.6583 16.0564,28.6593 16.4484,28.2673 L28.1794,16.5343 C29.8234,14.8303 30.7394,12.5113 30.7394,10.0263 C30.7394,5.0363 26.9814,0.9763 22.3634,0.9763" fill="none"></path>
                                 </g>
                              </g>
                           </svg>
                        </button>
                     </div>
                     <div class="clearfix visible-sm"></div>
                  </div>
               </div>
               <div class="row" >
                  <div class="col-sm-12 psv-section">
                     <h2 class="rate" ng-bind="productCtrl.price"></h2>
                     <div class="psv-rate" ng-hide="productCtrl.hidePSV"><span class="psv-label">${'PSV' @ i18n} </span><span class="psv-value" ng-bind="productCtrl.minPvv | number:2"></span><span ng-show="showSeperator" ng-bind="seperator"></span><span class="psv-value" ng-bind="productCtrl.maxPvv | number:2"></span></div>
                  </div>
               </div>
               <div class="row">
                  <div class="description">
                     <div class="col-sm-12 order-type" ng-if="false">${properties.recurringlabel} <span ng-bind="productCtrl.priceData[0].adrPrice.formattedValue"></span></div>
                     <div class="col-sm-12 order-discount" ng-if="false">you save $7.50</div>
                  </div>
               </div>
               <div class="row" ng-hide="productCtrl.hideVariant">
                  <div class="psv-section">
                     <div class="item pdp-variation">
                        <div class="col-sm-12 m-b-1">
                          <span class="pdp-variation-label">${properties.variantslabel}:</span>
                          <span class="pdp-variation-color">{{productCtrl.selectedVariant}}</span>
                        </div>
                        <div data-sly-test="${product.showShade}" class="col-sm-12 p-a-0">
                           <fieldset>
                              <div class="radio-custom-color-wrap m-b-0" data-sly-list.variants="${product.variantDetail}">
                                 <div class="radio-custom-color">
                                    <input ng-model="repeatSelect.selected" type="radio" name="colors" value="${variants.mecVariantValue}" id="${variants.identifier}"  du-smooth-scroll="pdp-top" ng-click="productCtrl.loadProduct('${variants.identifier}','${variants.variantImagePath}','${variants.jcrTitle}','${variants.jsonIng}','${variants.size}','${variants.mecVariantValue}',$event)" class="color-picker" ng-class="{'selected': '${variants.identifier}' == productCtrl.variantSkuFromUrl}">
                                    <label for="${variants.identifier}">
                                      <span style="background: ${variants.swatchColor ? variants.swatchColor : '#FFFFFF' @ context = 'styleString'}" class="swatch"></span>
                                    </label>
                                 </div>
                              </div>
                           </fieldset>
                        </div>
                        <div data-sly-test="${!product.showShade}" class="col-lg-8 col-md-10 col-sm-12">
                           <fieldset class="select-wrapper">
                              <select id="productDropDown" data-sly-list="${product.variantDetail}" ng-model="ctrl.productDropDown" ng-change="productCtrl.loadProductOnChange()" class="form-control">
                                 <option hidden value="" data-sly-test="${itemList.index == 0}" selected="selected" >${properties.dropdownLabel}</option>
                                 <option value="${item.identifier}"	data-variantname="${item.jcrTitle}" data-mecvariantvalue="${item.mecVariantValue}"
                                        data-variantimagepath="${item.variantImagePath}" data-mecvarianttype="${item.mecVariantType}"
                                        data-variantjsoning="${item.jsonIng}" data-size="${item.size}">${item.mecVariantValue}</option>
                              </select>
                           </fieldset>
                        </div>
                        <div class="col-sm-12"><span ng-show="productCtrl.showError" class="error-block">${properties.variantErrroMsg} ${properties.variantslabel}</span></div>
                     </div>
                  </div>
               </div>
               <div class="row">
                  <div class="psv-section">
					<div ng-show="productCtrl.showItemNo">
						 <div class="col-sm-1 col-xs-2">
							<div class="item">${'Item' @ i18n}</div>
						 </div>
						 <div class="col-sm-11 col-xs-10">
							<div class="item-specification" ng-bind="productCtrl.sku"></div>
						 </div>
					</div>
                    <div ng-show="productCtrl.productSize">
	                     <div class="clearfix visible-sm"></div>
	                     <div class="col-sm-1 col-xs-2">
	                        <div class="item">${properties.sizelabel}</div>
	                     </div>
	                     <div class="col-sm-11">
	                        <div class="item-specification" ng-bind="productCtrl.productSize"></div>
	                     </div>
	                     <div class="clearfix visible-sm"></div>
                    </div>
                  </div>
               </div>
			   <div class="row" ng-hide="productCtrl.hideStockStatus">
                  <div class="col-sm-12">
                    <div ng-if="productCtrl.stockStatus.length" class="stock-status">
                      <div ng-show="productCtrl.checkStockStatus(&quot;LS&quot;)" class="stock-status-sub">
                        <p class="m-b-0">${'Low Stock' @ i18n}</p>
                        <div class="stock-updates">${properties.stockLowMsgOne} {{productCtrl.totalStockAvailable}} ${properties.stockLowMsgTwo}</div>
                      </div>
                      <div ng-show="productCtrl.checkStockStatus(&quot;OS&quot;)" class="stock-status-sub">
                        <p class="m-b-0">${'Out of Stock' @ i18n}</p>
                      </div>
                      <div ng-show="productCtrl.checkStockStatus(&quot;BO&quot;)" class="stock-status-sub">
                        <p class="m-b-0">${'On Backorder' @ i18n}</p>
                        <div class="stock-updates" ng-show="productCtrl.stockUpdate">${'Available on' @ i18n} <span ng-bind="productCtrl.stockUpdate"></span></div>
                      </div>
					  <div ng-show="productCtrl.checkStockStatus(&quot;CS&quot;)" class="stock-status-sub">
                        <p class="m-b-0">${'Coming Soon' @ i18n}</p>
                        <div class="stock-updates" ng-show="productCtrl.stockUpdate">${'Available on' @ i18n} <span ng-bind="productCtrl.stockUpdate"></span></div>
                      </div>
                    </div>
                  </div>
               </div>
               <div class="row changeQTYRow">
                  <div class="psv-section col-sm-12">
                     <div class="item"><span>${'Quantity' @ i18n}</span></div>
                     <div class="input-group"><span ng-class="{'button-disable': productCtrl.quantity <= 1}" ng-click="productCtrl.changeQuantity('-')" class="input-group-addon left decrease-btn-dtm">-</span>
                        <input type="text" name="product-qty" ng-model="productCtrl.quantity" ng-disabled="true" class="form-control"><span ng-click="productCtrl.changeQuantity('+')" ng-class="{'button-disable': productCtrl.quantity >= productCtrl.stockRemaining}" class="input-group-addon right  increase-btn-dtm">+</span>
                     </div>
                  </div>
               </div>
               <div class="row addToCartButtonRow">
                  <div class="psv-section col-sm-12 col-md-10 col-lg-8">
                     <button type="button" class="btn btn-primary" ng-click="productCtrl.addProductToCart(productCtrl.sku)" ng-disabled="productCtrl.disableAddtoCart">${'Purchase' @ i18n}</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- row-->
      <!-- content container-->
   </div>
   <div class="row main-row">
	   <div class="description-main-content" data-sly-test="${product.description || product.benefits}">
		  <div class="left-description-content">
			 <h1 class="col-lg-12 col-md-12 description-heading-text no-gutter">${'descriptionlabel' @ i18n}</h1>
		  </div>
		  <hr class="hr-line">
		  <div class="col-lg-6 col-md-12 no-gutter">
			 <h4 class="description-paragraph">${product.description}</h4>
		  </div>
		  <div class="col-lg-6 col-md-12">
			 <ul class="list-items" data-sly-list.benefit="${product.benefits}">
				<li>${benefit}</li>
			 </ul>
		  </div>
	   </div>
   </div>
</div>
<!-- End of Description and Benefits -->
