<div class="modal-body">
	<div>
		<div ng-click="cancel()" class="modal-cross-sign"></div>
	</div>
	<form>
		<div class="form-group">
			<p>${properties.signedin}</p>
		</div>
		<div class="form-group">
			<label class="form-control-label">${properties.username}</label> <input type="text"
				ng-model="params.name" class="form-control"><span
				ng-show="errorMessage.name" class="error-block" ng-bind="errorMessage.name"></span>
		</div>
		<div class="form-group">
			<label class="form-control-label">${properties.password}</label> <input
				type="password" ng-model="params.password" class="form-control"><span
				ng-show="errorMessage.password" class="error-block" ng-bind="errorMessage.password"></span>
		</div>
		<div class="form-group">
			<input type="button" value="SIGN IN" ng-click="validate()"
				class="btn btn-primary">
		</div>
	</form>
</div>