<div class="checkout-content-container no-gutter" ng-controller="paymentMethodController as paymentCtrl">
      <section class="content m-b-0">
        <div class="accepted-card-container hidden-lg-up">
          <div class="accepted-card">
            <div class="col-md-3 col-sm-12 no-gutter">
              <p class="small">${properties.acceptedCard}</p>
            </div>
            <div class="col-md-9 col-sm-12 no-gutter">
              <ul>
                <li class="visa"></li>
                <li class="amex"></li>
                <li class="mastercard"></li>
                <li class="discover"></li>
              </ul>
            </div>
          </div>
        </div>        
        <div class="m-t-2 main-section container-fluid no-gutter clearfix" >
				<div class="left-section">
					<div class="accepted-card-container hidden-md-down">
              <div class="accepted-card">
                <div class="col-lg-3 no-gutter">
                  <p class="small">${properties.acceptedCard}</p>
                </div>
                <div class="col-lg-9">
                  <ul>
                    <li class="visa"></li>
                    <li class="amex"></li>
                    <li class="mastercard"></li>
                    <li class="discover"></li>
                  </ul>
                </div>
              </div>
            </div>
              <div class="backgroundWhite name-card payment-method-section">
							<form name="formPayment" novalidate class="form">
								<div class="payment-section container-fluid">
									<div>
										<div class="row">
											<div class="col-lg-9 col-xl-9 col-sm-9 col-md-9">
												<input type="text" required
													ng-model="paymentCtrl.cartData.paymentInfo.accountHolderName"
													ng-pattern="/^[a-zA-Z0-9\x20-\x5f\s]*$/"
													ng-blur="paymentCtrl.checkCreditCardType($event)"
													placeholder="${properties.cardOwnerPlaceHolder}"
													class="form-control" name="cardName">
											</div>
											<div class="col-lg-3 col-xl-3 col-sm-3 col-md-3">
												<label
													class="text-white text-uppercase font-size-13 label-section ng-binding">${properties.debitCredit}</label>
											</div>
										</div>
										<div align="left" class="credit-card-number-label">
											<label class="text-white">${properties.cardNumberLabel}</label>
										</div>
										<div class="credit-card-number clearfix">
											<input type="tel" required
													id="credit-card-number"
                                                    ng-class="{'ng-invalid':paymentCtrl.invalidCardError}"
													ng-model="paymentCtrl.model.paymentMethod.handleCreditCardNumber"
													move-next-on-maxlength placeholder="XXXX-XXXX-XXXX-XXXX"
													ng-blur="paymentCtrl.luhnCheck(); paymentCtrl.lengthCheck(); paymentCtrl.cvvLength(); paymentCtrl.checkCreditCardType($event)"
													ng-focus="paymentCtrl.validCheck(); paymentCtrl.isCreditCardEmpty"
                                                    onkeypress="return !(event.charCode &gt; 31 &amp;&amp; (event.charCode &lt; 48 || event.charCode &gt; 57))"
													class="form-control">

										</div>
										<div class="last-section clearfix">
											<div class="pull-left">
												<div align="left">
													<label class="text-white">${properties.cardExp}</label>
												</div>
												<div>
													<input type="tel" required
														ng-model="paymentCtrl.model.paymentMethod.data.expiry"
														ng-class="{'ng-invalid ng-touched':paymentCtrl.invalidExpiryError}"
														ui-mask="99/99"
														placeholder="${properties.expiryPlaceHolder}"
														ng-blur="paymentCtrl.checkCreditCardType($event)"
														ng-focus="paymentCtrl.validExpCheck()"
														maxlength="5"
														class="form-control" name="cardExpiry">
												</div>
											</div>
											<div class="pull-left">
												<div align="left" class="tooltipwrapper">
													<label class="text-white">${properties.cardCVV}
													<button id="dropdownInfo" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="dropdown-trigger"></button>
                                                    	    <div aria-labelledby="dropdownLogin" class="dropdown-menu">
                                                                <div ng-if="paymentCtrl.isAmexCard" class="show-amex-div"></div>
                                                                <div ng-if="!paymentCtrl.isAmexCard" class="show-non-amex-div"></div>
                                                        	</div>													
													</label>
												</div>
												<div ng-hide="!paymentCtrl.isMobileDevice">
													<input type="tel" required
                                                    	id="cvv-number"
														ng-class="{'ng-invalid ng-touched':paymentCtrl.invalidCVVError}"
														ng-model="paymentCtrl.model.paymentMethod.data.cvv"
														placeholder="${properties.cvvPlaceHolder}"
														maxlength="4" autocomplete=off
														ng-blur="paymentCtrl.cvvLength();paymentCtrl.checkCreditCardType($event)"
														ng-focus="paymentCtrl.validCVVCheck()"
														onkeypress="return !(event.charCode &gt; 31 &amp;&amp; (event.charCode &lt; 48 || event.charCode &gt; 57))"
														class="form-control cvvText" name="cardCVV">
												</div>
												<div ng-hide="paymentCtrl.isMobileDevice">
													<input type="password" required
                                                    	id="cvv-number"
														ng-class="{'ng-invalid ng-touched':paymentCtrl.invalidCVVError}"
														ng-model="paymentCtrl.model.paymentMethod.data.cvv"
														placeholder="${properties.cvvPlaceHolder}"
														maxlength="4" autocomplete=off
														ng-blur="paymentCtrl.cvvLength();paymentCtrl.checkCreditCardType($event)"
														ng-focus="paymentCtrl.validCVVCheck()"
														onkeypress="return !(event.charCode &gt; 31 &amp;&amp; (event.charCode &lt; 48 || event.charCode &gt; 57))"
														class="form-control cvvText" name="cardCVV">
												</div>
											</div>
										</div>
									</div>
								</div>
								<span ng-if="!paymentCtrl.cardValid || !paymentCtrl.validLength" class="error-block m-t-1">${properties.invalidCreditcardErrorMessage}</span>
								<div
									ng-class="{'visa': paymentCtrl.model.creditCardType == paymentCtrl.model.paymentMethod.creditCardTypes.visa, 'mastercard': 	paymentCtrl.model.creditCardType == paymentCtrl.model.paymentMethod.creditCardTypes.mastercard, 'discover': paymentCtrl.model.creditCardType == paymentCtrl.model.paymentMethod.creditCardTypes.discover, 'amex': paymentCtrl.model.creditCardType == paymentCtrl.model.paymentMethod.creditCardTypes.amex, 'other': paymentCtrl.model.creditCardType == paymentCtrl.model.paymentMethod.creditCardTypes.other}"
									class="payment-section-validated text-white hide container-fluid">
									<div>
										<div align="right" class="name-section clearfix">
											<label class="text-capitalize pull-right">{{paymentCtrl.cartData.paymentInfo.accountHolderName}}</label>
										</div>
										<div align="left">
											<label class="text-label font-size-13 text-gray-dull">
												${properties.cardNumberLabel}</label>
										</div>
										<div class="credit-card-number clearfix">
                                                <span ng-bind="paymentCtrl.defaultFormat ?  paymentCtrl.defaultFormat : paymentCtrl.retainDefaultValue"></span>
										</div>
										<div class="last-section">
											<div class="pull-left">
												<div align="left">
													<label class="text-label font-size-13 text-gray-dull">
														${properties.cardExp}</label>
												</div>
												<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
													<span>{{paymentCtrl.getExpiryDate(paymentCtrl.model.paymentMethod.data.expiry)}}</span>
												</div>
											</div>
											<div class="pull-left">
												<div align="left">
													<label class="text-label font-size-13 text-gray-dull">
														${properties.cardCVV}</label>
												</div>
												<div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
													<span ng-bind="paymentCtrl.cvvFormat ?  paymentCtrl.cvvFormat : paymentCtrl.retainCVVNumber"></span>
												</div>
											</div>
										</div>
										<div class="pull-right">
											<label> <a href=""
												ng-click="paymentCtrl.togglePaymentSection('.payment-section', '.payment-section-validated', $event)"
												class="text-uppercase font-weight-bold color-aqua">${properties.edit}</a></label>
										</div>
									</div>
								</div>
                                <span class="error-block m-t-1">{{paymentError}}</span>
								<div align="left" class="billing-section m-t-2">
									<label class="text-uppercase font-weight-bold">${properties.billingAddress}</label>
									<div>
										<label> <input type="checkbox"
											ng-model="paymentCtrl.model.paymentMethod.data.sameAsShippingAddress"><span
											class="p-l-1">${properties.shippingAddress}</span>
										</label>
									</div>
								</div>
								<div
									ng-if="!paymentCtrl.model.paymentMethod.data.sameAsShippingAddress"
									class="m-t-2">
									<div class="row m-b-1">
										<div class="col-lg-6 col-sm-6 col-md-6 col-xl-6">
											<div>
												<div>
													<label>${properties.firstName}</label>
												</div>
												<div>
													<input name="firstname" type="text"
														ng-model="paymentCtrl.cartData.paymentInfo.billingAddress.firstName"
														required class="form-control fullWidth"
														ng-class="{'ng-touched': formPayment.$submitted}"><span
														ng-show="(formPayment.firstname.$touched || formPayment.$submitted) &amp;&amp; formPayment.firstname.$error.required"
														class="error-block">${properties.errorFirstName}</span>
												</div>
											</div>
										</div>
										<div class="col-lg-6 col-sm-6 col-md-6 col-xl-6">
											<div>
												<div>
													<label>${properties.lastName}</label>
												</div>
												<div>
													<input name="lastname" type="text"
														ng-model="paymentCtrl.cartData.paymentInfo.billingAddress.lastName" required
														class="form-control fullWidth"
														ng-class="{'ng-touched': formPayment.$submitted}"><span
														ng-show="(formPayment.lastname.$touched || formPayment.$submitted) &amp;&amp; formPayment.lastname.$error.required"
														class="error-block">${properties.errorLastName}</span>
												</div>
											</div>
										</div>
									</div>
									<div class="m-b-1">
										<div>
											<label>${properties.shippingAddress1}</label>
										</div>
										<div>
											<input id="autocomplete"  ng-focus="geolocate(formPayment)" ng-keyup="paymentCtrl.showAddressLine1Error = false" name="addressline1" type="text"
												ng-model="paymentCtrl.billingAddressData.line1"
												required class="form-control fullWidth"
												ng-class="{'ng-touched': formPayment.$submitted, 'ng-invalid ng-touched': paymentCtrl.showAddressLine1Error}"><span
												ng-show="(formPayment.addressline1.$touched || formPayment.$submitted) &amp;&amp; formPayment.addressline1.$error.required"
												class="error-block">${properties.errorAddrOne}</span>
												<div ng-if="paymentCtrl.showAddressLine1Error" class="error-block">${'AddressLine1Error' @ i18n}</div>
										</div>
									</div>
									<div class="m-b-1">
										<div>
											<label>${properties.shippingAddress2}</label>
										</div>
										<div>
											<input name="addressline2" type="text"
												ng-model="paymentCtrl.cartData.paymentInfo.billingAddress.line2"
												class="form-control fullWidth">
										</div>
									</div>
									<div class="m-b-1">
										<div>
											<label>${properties.city}</label>
										</div>
										<div>
											<input name="city" type="text"
												ng-model="paymentCtrl.billingAddressData.town" required
												class="form-control fullWidth"
												ng-class="{'ng-touched': formPayment.$submitted}"><span
												ng-show="(formPayment.city.$touched || formPayment.$submitted) &amp;&amp; formPayment.city.$error.required"
												class="error-block">${properties.errorCity}</span>
										</div>
									</div>
									<div class="row m-b-1">
										<div class="col-lg-6 col-sm-6 col-md-6 col-xl-6">
											<div>
												<div>
													<label>${properties.state}</label>
												</div>
												<div
													class="select-wrapper col-md-12 col-sm-12 col-lg-12 col-xl-12 no-gutter">
													<select name="state"
														ng-model="paymentCtrl.billingAddressData.state"
														ng-options="state.abbreviation as state.name for state in paymentCtrl.states"
														required class="form-control fullWidth"
														ng-class="{'ng-touched': formPayment.$submitted}"></select><span
														ng-show="(formPayment.state.$touched || formPayment.$submitted) &amp;&amp; formPayment.state.$error.required"
														class="error-block">${properties.errorState}</span>
												</div>
											</div>
										</div>
										<div class="col-lg-6 col-sm-6 col-md-6 col-xl-6">
											<div>
												<div>
													<label>${properties.zipCode}</label>
												</div>
												<div>
													<input name="zipcode" type="tel"
														ng-model="paymentCtrl.billingAddressData.postalCode" required
														maxlength="10" zip-mask
														class="form-control fullWidth"
														ng-class="{'ng-touched': formPayment.$submitted}"><span
														ng-show="(formPayment.zipcode.$touched || formPayment.$submitted) &amp;&amp; formPayment.zipcode.$error.required"
														class="error-block">${properties.errorZipCode}</span>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div>
									<div class="m-b-1 m-t-2">
										<button type="submit"
											ng-click="paymentCtrl.saveAndContinue(formPayment.$valid, paymentCtrl.saveAndContinueState, formPayment)"
											class="btn btn-primary">${properties.saveContinue}</button>
									</div>
									<div class="m-b-3">
										<button ng-click="paymentCtrl.goBack(paymentCtrl.goBackState)"
											class="btn btn-primary-outline fullWidth">${properties.goBack}</button>
									</div>
								</div>
							</form>
						</div>
					</div>

					<div class="right-section show-above-lg include-section">
						<div
							class="backgroundWhite container-fluid name-card shipping-section shopping-cart-wrapper">
							<div data-sly-include="/apps/dtc/commerce/components/content/checkoutContainer/orderSummary.html"></div>	
						</div>
					</div>
				</div>
	</section>
</div>