<js data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" data-sly-call="${clientLib.js @ categories='dtc.core.bannerimage'}" data-sly-unwrap></js>

<sly data-sly-test="${wcmmode.edit}">
    <h2>Click here to Edit DTC Banner Image</h2>
</sly>

<input type="hidden" id="heroimages" ng-init="heroimages='${properties.categories}'" ng-model="heroimages" value="${properties.categories}"/>
<input type="hidden" id="defcategoryImage" ng-init="defcategoryImage='${properties.defcategoryImage}'" ng-model="defcategoryImage" value="${properties.defcategoryImage}"/>
<input type="hidden" id="defcategorylabel" ng-init="defcategorylabel='${properties.defcategorylabel}'" ng-model="defcategorylabel" value="${properties.defcategorylabel}"/>
<input type="hidden" id="defheadline" ng-init="heroimages='${properties.defheadline}'" ng-model="defheadline" value="${properties.defheadline}"/>
<input type="hidden" id="defdescription" ng-init="defdescription='${properties.defdescription}'" ng-model="defdescription" value="${properties.defdescription}"/>

<div ng-init="ctrl.init();" ng-controller="dtcBannerImageController as ctrl">
    <sly data-sly-test="${properties.variation =='variation1' || !properties.variation}">
        <div class="landing-page-banner-container">
            <div class="landing-page-banner-content">
                <div class="landing-page-banner">
                    <div class="landing-page-banner-overlay" ng-style="{'background-image': 'url({{ctrl.showImageUrl}})'}"></div>
                    <div class="col-lg-offset-8 col-lg-4 col-sm-12 no-gutter landing-page-banner-content-in">
                        <p class="small center">{{ctrl.categorylabel}}</p>
                        <div class="col-sm-12 landing-page-banner-text no-gutter center">
                            <h2 class="m-b-0">{{ctrl.headline}}</h2>
                            <p class="m-b-2">{{ctrl.description}}</p><a ng-click="ctrl.openLink('${properties.primarylink}')" class="btn btn-primary-outline">${properties.primarybuttonlabel}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </sly>

    <sly data-sly-test="${properties.variation =='variation2'}">
        <div class="landing-page-banner-full-container">
            <div class="landing-page-banner-content">
                <div class="landing-page-banner">
                    <div class="landing-page-banner-overlay" ng-style="{'background-image': 'url({{ctrl.showImageUrl}})'}"></div>
                    <div class="landing-page-banner-content-in">
                        <div class="col-lg-9 col-sm-12 landing-page-banner-text no-gutter">
                            <h2 class="m-b-0">{{ctrl.headline}}</h2>
                            <p>{{ctrl.description}}</p>
                        </div>
                        <div class="col-lg-3 col-sm-12 landing-page-button-container no-gutter">
                            <a ng-click="ctrl.openLink('${properties.primarylink}')" class="btn btn-primary m-b-1 pull-right">${properties.primarybuttonlabel}</a>
                            <div data-sly-test="${properties.displaysecondarylink == 'true'}">
                                <a ng-click="ctrl.openLink('${properties.secondarylink}')" class="btn btn-primary-outline btn-block pull-right">${properties.secondarybuttonlabel}</a></div>
                        </div>
                        <div class="clearfix visible-sm"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix visible-sm"></div>
    </sly>
</div>