<js data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" data-sly-call="${clientLib.js @ categories='dtc.commerce.productTestimonial'}" data-sly-unwrap></js>
<div data-sly-test="${wcmmode.edit}"> Please edit to configure the product testimonial properties. </div>
<input type="hidden" name="testimonialBasePath" value="${properties.testimonialPath}" />
<div class="pdp-testimonial-container container-fluid" ng-controller="productTestimonialController as ctrl">
  <div class="row reset">
    <div class="testimonial-header col-sm-12 reset">${properties.headerText}</div>
    <div class="testimonial-slides col-sm-12 col-md-6 col-md-push-3 col-xl-4 col-xl-push-4 reset">
      <slick settings="ctrl.slickVideoConfig" ng-if="ctrl.testimonials.length" class="carousel carousel-primary">
    <div ng-repeat="slide in ctrl.testimonials | limitTo: ${properties.testimonial} ">
          <div ng-if="!slide.isVideo" class="col-sm-12 reset">
            <div class="testimonial-body col-sm-12 reset">
              <p>{{slide.text}}</p>
            </div>
            <div class="dash col-sm-12"></div>
            <div ng-if="slide.name ==''">
            <div class="testimonial-foot col-sm-12 reset">{{slide.age}}</div>
                </div>
            <div ng-if="slide.age ==''">
            <div class="testimonial-foot col-sm-12 reset">{{slide.name}}</div>
                </div>
            <div ng-if="slide.age != '' && slide.name !=''">
            <div class="testimonial-foot col-sm-12 reset">{{slide.name}},<span>{{slide.age}}</span></div>
                </div>
          </div>
          <div ng-if="slide.isVideo" class="col-sm-12">
            <div class="embed-responsive embed-responsive-16by9">
              <video id="video-{{$index}}" ng-src="{{ctrl.trustUrl(slide.video)}}" class="embed-responsive-item" ng-click='ctrl.togglePlay($index)' ui-event="{ended:'ctrl.video($index)'}">
                <source type="video/mp4">${properties.notVideo}
              </video>
              <div class="video-btn">
                <button id="bigPlayButton" ng-click='ctrl.togglePlay($index)' ng-hide="ctrl.videoPlaying" class="btn btn-primary play"><span>Play</span></button>
              </div>
            </div>
            <div class="testimonial-video-foot col-sm-12 reset">
                <div ng-if="slide.name ==''">
                    <div class="video-desc col-sm-8 reset">{{slide.age}}</div>
                  </div>
                   <div ng-if="slide.age ==''">
                   <div class="video-desc col-sm-8 reset">{{slide.name}}</div>
                  </div>
              <div ng-if="slide.age != '' && slide.name!=''">
              <div class="video-desc col-sm-8 reset">{{slide.name}},<span>{{slide.age}}</div>
                  </div>
              <div class="video-duration col-sm-4 reset">${properties.minutes}.${properties.seconds} MINS</div>
            </div>
          </div>
        </div>
      </slick>
    </div>
  </div>
</div>