<js data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" data-sly-call="${clientLib.js @ categories='dtc.commerce.storeFrontHeader'}" data-sly-unwrap></js>
<div class="storefront-nav-header" ng-controller="storefrontHeaderController as storeHeader">
  <div class="row reset">
    <div class="col-sm-10 col-md-11 nav-header-logo reset">
      <div ng-if="!storeHeader.disImage" class="distributor-logo"></div>
	  <div ng-if="storeHeader.disImage" class ="distributor-logo"><img ng-src="{{storeHeader.imageUrl}}" alt=""></div>
      <div class="distributor-details-lg-xl">
          <div class="distributor-name-lg-xl">{{storeHeader.distributorName}}</div>
      </div>
    </div>
    <div ng-click="storeHeader.goToPage('${properties.shoppingBagPath}')" class="col-sm-2 col-md-1 nav-header-cart reset">
      <div ng-if="storeHeader.cartItem &gt; 0" class="header-cart-value">{{storeHeader.cartItem}}</div>
    </div>
  </div>
</div>
<sly data-sly-include="/apps/dtc/commerce/components/content/header/toastMessage.html"></sly>
<sly data-sly-include="/apps/dtc/commerce/components/content/header/shoppingBag.html"></sly>