<div  data-sly-use.bannerImage="bannerPromotion.js"></div>
<div  class="col-sm-12 col-md-12 col-lg-12 no-gutter larger-tile" ng-style="{'background-image':'url(${bannerImage.firstImage.path})'}">
   <div class="overlay">
      <div class="overlay-data">
         <h2>${properties.overlayHeadLineOne}</h2>
         <span>${properties.overlayDescriptionOne}</span>
      </div>
      <div class="overlay-button">
         <a ng-href="${properties.buttonNavigation}.html"><button class="btn btn-primary-outline shop">${properties.overlayButtonLabel}</button></a>
      </div>
   </div>
</div>