<js data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" data-sly-call="${clientLib.js @ categories='dtc.commerce.orderConfirmation'}" data-sly-unwrap></js>
<div data-sly-use.orderConfirmationImages="orderConfirmationImages.js"></div>
<div class="checkout-guest-and-distributor">
<div class="content checkout-container" ng-controller="orderConfirmationController as ctrl">
  <div class="checkout-title-container no-gutter">
    <div class="order-section">
				<div class="content checkout-container">
					<div class="checkout-title-container no-gutter">
						<div class="order-section">
							<div
								class="order-confirmation-banner text-white" 
									 ng-style="{'background-image':'url(${orderConfirmationImages.topBannerImage.path})'}">
								<div class="order-top-section">
									<div class="main-section confirmation-logo text-center">
										<div class="header m-b-1 m-t-1">
											<span>${properties.congratulationsHeader}</span>
										</div>
										<p class="font-proximanova m-b-1 font-size-small">
											<span>${properties.confirmationAndTrackingDetails1}
												&nbsp;</span><a class="font-weight-bold pointer" ng-bind="ctrl.confirmationData.deliveryAddress.email"></a>&nbsp;<span>
												${properties.confirmationAndTrackingDetails2}</span>
										</p>
										<div class="m-b-1">
											<a class="font-weight-bold pointer" ng-click="ctrl.viewOrPrint('${properties.viewOrPrintPath}.html')">
												${properties.viewOrPrint}</a>
										</div>
										<div class="font-size-small">
											<span>${properties.orderText1}</span>
										</div>
										<div class="p-b-2">
											<span class="order-id pointer" ng-click="ctrl.viewOrPrint('${properties.orderIDPath}.html')" ng-bind="' #'+(ctrl.confirmationData.code)"></span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
      <div class="separator-section-break show-below-lg"></div>
				<div class="content checkout-container">
					<div class="checkout-title-container no-gutter">
						<div class="account-text-section">
							<div class="account-text-container"
								ng-style="{'background-image':'url(${orderConfirmationImages.bottomBannerImage.path})'}">
								<div class="account-text-wrapper">
									<div class="description-text-section">
										<div class="account-header">
											<div class="distributor-profile-image banner-image">
												<img ng-if="!ctrl.isStoreFront || !ctrl.distProfileImage" ng-src ="${orderConfirmationImages.avatarImage.path}" />
												<img ng-if="ctrl.isStoreFront && ctrl.distProfileImage" src="{{ctrl.distProfileImage}}" />												
											</div>
											<div class="banner-text inverse m-t-1">
												<p>${properties.congratulationsMsg} <span ng-bind="ctrl.confirmationData.deliveryAddress.firstName"></span>,</p>											
											</div>
											<div class="clearfix visible-sm"></div>
										</div>
										<p ng-if="!ctrl.isStoreFront || !ctrl.congratsMessage" class="inverse m-t-2">${properties.briefMsg}</p>
										<p ng-if="ctrl.isStoreFront && ctrl.congratsMessage" class="inverse m-t-2">{{ctrl.congratsMessage}}</p>
										<p ng-if="!ctrl.isStoreFront || !ctrl.distName" class="author-text m-t-2 m-b-2 inverse">${properties.initials} ${properties.name}</p>
										<p ng-if="ctrl.isStoreFront && ctrl.distName" class="author-text m-t-2 m-b-2 inverse">${properties.initials} {{ctrl.distName}}</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
  </div> 
              <div ng-if="ctrl.guest">
              <sly data-sly-resource="${ @path='postpurchase', resourceType='/apps/dtc/signup/components/content/signup-post-purchase'}"> </sly>
              </div>
              <div class="help-section-container">
                <div class="help-section">
                             <div class="col-sm-12 col-lg-4 no-gutter">
                               <div class="col-lg-3 col-md-2 col-sm-3 p-l-0">
                                           <div class="pull-right secure-transactions"></div>
                               </div>
                               <div class="col-lg-9 col-md-6 col-sm-6 p-r-0"><a class="helper-title" ng-href="${properties.secureTransactionPath}" target="${properties.newWindow ? '_blank':''}">${properties.secureTransactions}</a>
                                           <div class="helper-desc">${properties.secTransDesc}</div>
                               </div>
                             </div>
                             <div class="col-sm-12 col-lg-4 no-gutter">
                               <div class="col-lg-3 col-md-2 col-sm-3 p-l-0">
                                           <div class="pull-right easy-return"></div>
                               </div>
                               <div class="col-lg-9 col-md-6 col-sm-6 p-r-0"><a class="helper-title" ng-href="${properties.easyReturnsPolicyPath}" target="${properties.newWindow ? '_blank':''}">${properties.easyReturnPolicy}</a>
                                           <div class="helper-desc">${properties.easyReturnPolicyDesc}</div>
                               </div>
                             </div>
                             <div class="col-sm-12 col-lg-4 no-gutter">
                               <div class="col-lg-3 col-md-2 col-sm-3 p-l-0">
                                           <div class="pull-right help"></div>
                               </div>
                               <div class="col-lg-9 col-md-6 col-sm-6 p-r-0"><a class="helper-title" ng-href="${properties.helpAssitancePath}" target="${properties.newWindow ? '_blank':''}">${properties.helpAssistance}</a>
                                           <div class="helper-desc">${properties.helpAssistanceDesc}</div>
                               </div>
                             </div>
                             <div class="clearfix visible-sm"></div>
                </div>
              </div>
</div>
</div>
