<sly data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"
     data-sly-call="${clientLib.js @ categories='dtc.commerce.solrQueryService'}"
     data-sly-unwrap/>
<js data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" data-sly-call="${clientLib.js @ categories='dtc.commerce.cartRecommendations'}" data-sly-unwrap></js>
<div data-sly-test="${wcmmode.edit}"> Please edit this component to configure properties for Cart Recommendations </div>
<div class="shopping-carousel col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-controller="cartRecommendationsController as ctrl" ng-show="showCartRecommendations">
  <div class="col-lg-12 col-md-12 col-sm-12 top-buffer text-center">
      <h2 class="shopping-carousel-heading">${properties.cartRecommendation}</h2>
  </div>
  <div ng-if="ctrl.recommendationsReload" class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
    <secondary-carousel product-data="recommendations" slick-type="slickType" slick-config="slickSecondaryConfig"
    data-sly-include="/apps/dtc/commerce/components/content/cartRecommendations/secondaryCarousel.html"></secondary-carousel>
  </div>
  <scroll-to-top></scroll-to-top>
</div>
<div class="clearfix visible-sm"></div>