<div ng-if="slickType=='type1'" class="secondary-carousel-component">
  <slick settings="slickSecondaryConfig" ng-if="recos.length" class="carousel carousel-secondary">
    <div ng-repeat="data in recos track by $index" class="Carousal-boxes"><a ng-href="${properties.productPath}{{data.url}}" class="pdp-carousel-image"><img ng-src="{{data.img}}" width="100%"></a><a ng-href="${properties.productPath}{{data.url}}" class="pdp-product-name-link">{{data.name}}</a>
      <div class="star-container">
        <div class="shopping-carousel-star">
          <star-rating rating-value="data.rating" max="ctrl.max">
			<div  class="star-rating-component star-big">
			  <div style="background-position: {{data.stars}}" class="star-rating-hover"></div>
			</div>
		   </star-rating>
        </div>
        <div class="clearfix visible-sm"></div>
      </div>
      <div class="stock-status">
        <p ng-show="false" class= "stockRecently-{{data.skuid}}-LS">${'Low Stock' @ i18n}</p>
        <p ng-show="false" class= "stockRecently-{{data.skuid}}-OS">${'Out of Stock' @ i18n}</p>
        <p ng-show="false" class= "stockRecently-{{data.skuid}}-BO">${'On Backorder' @ i18n}</p>
       </div>          
      <p ng-if="data.price.length" class="small m-b-0"><span>{{data.price}}</span>
        <span class="separator" ng-hide="hidePSV">|</span>
        <span ng-hide="hidePSV">${'PSV' @ i18n} </span>
        <span ng-hide="hidePSV" ng-bind="data.psvValue | number:2"></span>
        <span ng-if="!hidePSV" ng-show="data.showPsvSeperator" ng-bind="seperator"></span>
        <span ng-hide="hidePSV" ng-bind="data.maxPv | number:2"></span>
      </p>
      <div class="purchase-link"><a ng-href="${properties.productPath}{{data.url}}">${'Purchase' @ i18n}</a></div>
    </div>
  </slick>
</div>
<div ng-if="slickType=='type2'" class="secondary-carousel-component">
  <slick settings="slickSecondaryConfig" ng-if="recommendations.length" class="carousel carousel-secondary">
    <div ng-repeat="data in recommendations">
      <figure><a ng-href="${properties.productPath}{{data.url}}"><img ng-src="{{data.img}}" alt=""></a>
        <figcaption>
          <div class="row carousel-row-margin">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center"><a ng-bind="data.name" ng-href="${properties.productPath}{{data.url}}" class="shopping-carousel-itemname"></a></div>
            <div class="star-container">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <div class="shopping-cart-carousel-star">
                  <star-rating rating-value="data.rating" max="ctrl.max">
					<div  class="star-rating-component star-big">
					<div style="background-position: {{data.stars}}" class="star-rating-hover"></div>
					</div>
				  </star-rating>
                </div>
              </div>
            </div>
            <div class="clearfix visible-sm"></div>
            <div class="stock-status text-center">
              <p ng-show="false" class= "stockRecently-{{data.skuid}}-LS">${'Low Stock' @ i18n}</p>
        	  <p ng-show="false" class= "stockRecently-{{data.skuid}}-OS">${'Out of Stock' @ i18n}</p>
              <p ng-show="false" class= "stockRecently-{{data.skuid}}-BO">${'On Backorder' @ i18n}</p>
            </div>
            <div ng-if="data.price.length">
            <div ng-class="ctrl.hidePSV ? 'col-xs-12 col-sm-12 col-md-12 col-lg-12 text-center' : 'col-lg-6 col-md-6 col-sm-6 col-xs-6 text-lg-right text-sm-right text-xs-rightk'" class="no-gutter psv-container">
              <p class="shopping-carousel-line"><span ng-bind="data.price" class="carousel-content-left-text"></span></p>
            </div>
            <div ng-if="!ctrl.hidePSV" class="col-sm-6 no-gutter">
              <p ng-class="ctrl.hidePSV ? '' : 'carousel-border' " class="shopping-carousel-line p-l-8px"><span>${'PSV' @ i18n} </span>
                <span ng-bind="data.psv  | number:2" class="carousel-content-right-text"></span>
                <span ng-show="data.psvSeperator" ng-bind="seperator"></span>
    		    <span class="carousel-content-right-text" ng-bind="data.maxPv  | number:2"></span>
    		  </p>
            </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
              <div class="row">
                <div class="col-sm-12">
                  <button type="button" ng-click="ctrl.addProductToCart(data.skuid)" class="btn btn-primary add-to-cart-button">${'Add' @ i18n}</button>
                </div>
              </div>
            </div>
          </div>
        </figcaption>
      </figure>
    </div>
  </slick>
</div>