<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Author id : Deloitte Digital
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/-->
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='dtc.signup.signupform'}" data-sly-unwrap/>
<div data-sly-use.defaultPicComponent="defaultPicComponent.js" data-sly-unwrap>
<sly data-sly-use.tncPrivacyPolicyUse="signup-create-password.js"></sly>
<div class="associate-signup-content" ng-controller="signUpController as createaccountctrl" ng-init='createaccountctrl.init()'>
<input type="hidden" name="defaultPicPath" id="defaultPicPath" value="${defaultPicComponent.distributorSetupImage.path}">
<sly data-sly-test="${wcmmode.edit}">
<input type="hidden" id="editMode" value="'${wcmmode.edit}'">
</sly>
 <div ng-if="createaccountctrl.hostInfo.hostFirstName" class="invite-banner invite-banner-wrapper invite-banner-associate-signup">
    <div class="section-associate">
      <div ng-if="createaccountctrl.hostInfo.hostFirstName" class="host-image-section">
        <div class="outer-image-wrapper" ng-if="!createaccountctrl.isDefaultPic">
          <div class="inner-image-wrapper">
            <img ng-if="createaccountctrl.hostInfo.hostProfilePhotoUrl" ng-src="{{createaccountctrl.hostInfo.hostProfilePhotoUrl}}" class="distributor-avatar avatar banner-image">
            <img ng-if="!createaccountctrl.hostInfo.hostProfilePhotoUrl" ng-src="{{createaccountctrl.defaultthumbnailURL}}" class="distributor-avatar avatar banner-image">
          </div>
        </div>
        <img ng-if="createaccountctrl.isDefaultPic" class="default-pic" ng-src="{{createaccountctrl.defaultthumbnailURL}}">
      </div>
      <div class="invite-banner-text-section">
        <h2 ng-if="createaccountctrl.fromInvite && createaccountctrl.isCustomer" class="text-center banner-text-associate-signup inverse"> ${properties.invitedText} {{createaccountctrl.hostInfo.hostFirstName}} {{createaccountctrl.hostInfo.hostLastName}}${properties.inviteCustomerText}</h2>
        <h2 ng-if="createaccountctrl.fromInvite && createaccountctrl.isDistributor" class="text-center banner-text-associate-signup inverse"> ${properties.invitedText} {{createaccountctrl.hostInfo.hostFirstName}} {{createaccountctrl.hostInfo.hostLastName}}${properties.inviteDistributorText}</h2>
        <h2 ng-if="createaccountctrl.fromInvite && createaccountctrl.isAssociate" class="text-center banner-text-associate-signup inverse"> ${properties.invitedText} {{createaccountctrl.hostInfo.hostFirstName}} {{createaccountctrl.hostInfo.hostLastName}}${properties.inviteAssociateText}</h2>
        <h2 ng-if="createaccountctrl.fromInvite && createaccountctrl.isFrndsFamily" class="text-center banner-text-associate-signup inverse"> ${properties.frndsInvitedText} {{createaccountctrl.hostInfo.hostFirstName}} {{createaccountctrl.hostInfo.hostLastName}}${properties.inviteFrndsText}</h2>
        
        <h2 ng-if="!createaccountctrl.fromInvite" class="text-center banner-text-associate-signup inverse">${properties.selectedText} {{createaccountctrl.hostInfo.hostFirstName}} {{createaccountctrl.hostInfo.hostLastName}} ${properties.teamText}</h2>
      </div>
      <h2 ng-if="createaccountctrl.linkExpired" class="error-block">${properties.inviteExpiredErr}</h2>
      </div>
  </div>
 <div ng-if="!createaccountctrl.hostInfo.hostFirstName" class="invite-banner invite-banner-wrapper invite-banner-associate-signup" ng-class="{'no-sponsor':!createaccountctrl.hostInfo.hostFirstName}">
    <div class="section">
      <div class="banner-title">
        <div class="header-content-wrapper">
            <div class="outer-image-wrapper" ng-if="!createaccountctrl.isDefaultPic">
	            <div class="inner-image-wrapper">
	              <img ng-src="{{createaccountctrl.defaultthumbnailURL}}">
	            </div>
            </div>
            <img ng-if="createaccountctrl.isDefaultPic" class="default-pic" ng-src="{{createaccountctrl.defaultthumbnailURL}}">
            <div class="invite-banner-text-section invite-banner-text-wrapper">
            	<p class="banner-text-associate-signup text-center account-Title">${properties.accounttitle}</p>
          	</div>
          </div>
      </div>
    </div>
  </div>

  <div class="signup-container">
    <div class="signup-components">
      <fieldset class="form-group">
        <div class="withSocialTitle" style="display:none;">
            <legend><span>${properties.socialtitle}</span></legend>
            <input type="hidden" id="distsocial-signupmain" value="${properties.distsocialredsignupmain}"/>
            <input type="hidden" id="assosocialred-signupmain" value="${properties.assosocialredsignupmain}"/>
            <input type="hidden" id="custfsmilysocialred-signupmain" value="${properties.custfsmilysocialredsignupmain}"/>
            <input type="hidden" id="passwdcreate-signupmain" value="${properties.passwdcreatesignupmain}"/>
            <input type="hidden" id="genericerrormsg" value="${properties.genericerrormsg}"/>
            <input type="hidden" id="socialexistingusererrmsg" value="${properties.socialexistingusererrmsg}"/>
        </div>
        <div class="social-signup" style="display:none;"><a ng-click="socialLogin(this.socialLoginProvider='facebook')" class="btn btn-social btn-facebook col-xs-12">
            <div class="social-media-icon"></div>
            <div class="social-media-text">${properties.socialmediatext}</div></a></div>
            <div class="error-container col-sm-12 m-t-0" id="signupSocialErrorBlock" style="display:none">
                <span class="error-block" id="signupSocialErrorMsg"></span>
            </div>
        <div class="content-seperator" style="display:none;"><span class="divider">
            <p class="preCheckoutOR">${properties.orLabel}</p></span></div>
        <form name="createaccountctrl.form" class="m-t-0" novalidate="novalidate" controller="createaccountctrl" ng-if="!createaccountctrl.linkExpired">
          <div class="form-group">
            <div class="row p-t-1 hidden-lg-up">
              <legend>
                <span class="line seperation-title">${properties.confirmYourInfo}</span>
              </legend>
            </div>
            <div class="row hidden-md-down">
              <legend>
                <span class="line seperation-title">${properties.confirmYourInfo}</span>
              </legend>
            </div>
            <div class="row">
              <label class="form-label">${properties.usernameLabel}</label>
              <input type="email" name="username" ng-model="createaccountctrl.emailCredentials.userEmailField" ng-blur="createaccountctrl.validateEmail(createaccountctrl.form); emailFocusOut = true;" ng-focus="createaccountctrl.hideDuplicateError();" required ng-pattern="createaccountctrl.emailPattern" ng-class="{'ng-touched':((createaccountctrl.form.$submitted && createaccountctrl.form.username.$error) || (duplicateEmail)),'ng-invalid':(duplicateEmail)}" class="form-control m-b-0" fieldspinner display="createaccountctrl.displayFieldSpinner" autocorrect="off" autocapitalize="none" autocomplete="off">
              <span ng-show="(createaccountctrl.form.username.$touched &amp;&amp; createaccountctrl.form.username.$error.required) || (createaccountctrl.form.username.$dirty &amp;&amp; createaccountctrl.form.username.$error.required) || (createaccountctrl.form.$submitted  &amp;&amp; createaccountctrl.form.username.$error.required)" class="error-block m-t-1">${properties.usernameErr}</span>
              <span ng-show="(emailFocusOut && createaccountctrl.form.username.$touched &amp;&amp; createaccountctrl.form.username.$error.pattern) || (emailFocusOut && createaccountctrl.form.username.$dirty &amp;&amp; createaccountctrl.form.username.$error.pattern) || (createaccountctrl.form.$submitted  &amp;&amp; createaccountctrl.form.username.$error.pattern)" class="error-block m-t-1">${properties.usernameInvalidErr}</span>
              <span id='verifyUsernameAval' class="error-block" style="display:none">${properties.duplicateUsernameErr}</span>
            </div>
            <div class="row">
            <div class="content-seperator">
              <div class="m-b-2">
                <label class="form-label">${properties.firstNameLabel}</label>
                <input type="text" name="firstName" ng-model="createaccountctrl.firstName" required ng-class="{'ng-touched':(createaccountctrl.form.$submitted && createaccountctrl.form.firstName.$error)}" class="form-control m-b-0"><span ng-show="(createaccountctrl.form.firstName.$touched &amp;&amp; createaccountctrl.form.firstName.$error.required) || (createaccountctrl.form.firstName.$dirty &amp;&amp; createaccountctrl.form.firstName.$error.required) || (createaccountctrl.form.$submitted  &amp;&amp; createaccountctrl.form.firstName.$error.required)" class="error-block m-t-1">${properties.firstNameErr}</span>
              </div>
              
              <div class="m-b-2">
                <label class="form-label">${properties.lastNameLabel}</label>
                <input type="text" name="lastName" ng-model="createaccountctrl.lastName" required ng-class="{'ng-touched':(createaccountctrl.form.$submitted && createaccountctrl.form.lastName.$error)}" class="form-control m-b-0"><span ng-show="(createaccountctrl.form.lastName.$touched &amp;&amp; createaccountctrl.form.lastName.$error.required) || (createaccountctrl.form.lastName.$dirty &amp;&amp; createaccountctrl.form.lastName.$error.required) || (createaccountctrl.form.$submitted  &amp;&amp; createaccountctrl.form.lastName.$error.required)" class="error-block m-t-1">${properties.lastNameErr}</span>
              </div>

              <div class="m-b-2" ng-if="createaccountctrl.isPhoneVisible">
                <email-phone credentials="createaccountctrl.phoneCredentials" is-phone="createaccountctrl.isPhone" title="${properties.phoneNumberLabel}" class="m-b-0"></email-phone><span ng-show="(createaccountctrl.form.phoneNumber.$touched &amp;&amp; createaccountctrl.form.phoneNumber.$error.required) || (createaccountctrl.form.phoneNumber.$dirty &amp;&amp; createaccountctrl.form.phoneNumber.$error.required) || (createaccountctrl.form.$submitted  &amp;&amp; createaccountctrl.form.phoneNumber.$error.required)" class="error-block m-t-1">${properties.phoneNumberErrorMsg}</span>
              </div>

            </div>
          </div>
          <div class="row">
            <legend><span class="line seperation-title">${properties.passwordSectionTitle}</span></legend>
          </div>
          <div class="row">
            <password-pattern credentials="createaccountctrl.credentials", click-to-show-password-title="createaccountctrl.clickToShowPasswordTitle", click-to-hide-password-title="createaccountctrl.clickToHidePasswordTitle", fix-to-continue-title="createaccountctrl.fixToContinueTitle", password-do-not-match-error="createaccountctrl.passwordDoNotMatchError", confirm-password-error="createaccountctrl.confirmPasswordError", invalid-password-error="createaccountctrl.invalidPasswordError", empty-password-error="createaccountctrl.emptyPasswordError", min-char-title="createaccountctrl.minCharTitle", confirm-password-title="createaccountctrl.confirmPasswordTitle", create-password-title="createaccountctrl.createPasswordTitle", password-hint="createaccountctrl.passwordDisclaimer" is-required="createaccountctrl.isRequired" is-submitted="createaccountctrl.form.$submitted"></password-pattern>
          </div>
          <sly data-sly-test="${properties.enableAcctRegPolicy == 'true'}">
          <div class="row">
            <div class="checkbox col-sm-12 no-gutter">
              <input type="checkbox" id="accountregistrationpolicy" name="accountregistrationpolicy" value="accountregistrationpolicybox" ng-model="createaccountctrl.policycheck">
              <label class="form-label account-policy-title">${properties.acceptText} <a ng-click="createaccountctrl.knowMore(&quot;termsUse&quot;)" class="form-label">${properties.termsAndUseLabel}</a> and <a ng-click="createaccountctrl.knowMore(&quot;privacyPolicy&quot;)" class="form-label">${properties.privacyPolicyLabel}</a></label>
            </div>
          </div>
          </sly>
          <div class="row">
            <input type="hidden" id="distributorRedirect" value="${properties.distributorRedirect}"/>
            <input type="hidden" id="associateRedirect" value="${properties.associateRedirect}"/>
            <input type="hidden" id="customerRedirect" value="${properties.customerRedirect}"/>
            <input type="hidden" id="minimalInfo" value="${properties.minimalInfo}"/>
            <input type="hidden" id="expiredLink" value="${properties.expiredLink}"/>
            
            <input type="hidden" id="passwordDisclaimer" value="${properties.passwordDisclaimer}"/>
            <input type="hidden" id="createPasswordTitle" value="${properties.createPasswordTitle}"/>
            <input type="hidden" id="confirmPasswordTitle" value="${properties.confirmPasswordTitle}"/>
            <input type="hidden" id="minCharTitle" value="${properties.minCharTitle}"/>
            <input type="hidden" id="emptyPasswordError" value="${properties.emptyPasswordError}"/>
            <input type="hidden" id="invalidPasswordError" value="${properties.invalidPasswordError}"/>
            <input type="hidden" id="confirmPasswordError" value="${properties.confirmPasswordError}"/>
            <input type="hidden" id="passwordDoNotMatchError" value="${properties.passwordDoNotMatchError}"/>
            <input type="hidden" id="fixToContinueTitle" value="${properties.fixToContinueTitle}"/>
            <input type="hidden" id="clickToHidePasswordTitle" value="${properties.clickToHidePasswordTitle}"/>
            <input type="hidden" id="clickToShowPasswordTitle" value="${properties.clickToShowPasswordTitle}"/>
            
            <input type="hidden" id="termsAndUsePopUpHeading" value="${properties.termsAndUsePopUpHeading}"/>
			<input type="hidden" id="privacyPolicyPopUpHeading" value="${properties.privacyPolicyPopUpHeading}"/>
			<input type="hidden" id="termsAndUseContentPath" value="${tncPrivacyPolicyUse.termsAndUseContentPath}"/>
			<input type="hidden" id="privacyPolicyContentPath" value="${tncPrivacyPolicyUse.privacyPolicyContentPath}"/>
			<input type="hidden" id="popUpBackButtonLabel" value="${properties.popUpBackButtonLabel}"/>
			<input type="hidden" id="popUpGoBackButtonLabel" value="${properties.popUpGoBackButtonLabel}"/>
          </div>

            <div class="row">
              <button ng-click="createaccountctrl.getStartedShow(createaccountctrl.form)" type="submit" ng-disabled="(!createaccountctrl.policycheck && ${properties.enableAcctRegPolicy == 'true'}) || (createaccountctrl.displayFieldSpinner)" class="btn btn-primary">${properties.continue}</button>
              <button type="button" class="btn btn-primary-outline fullWidth" ng-click="createaccountctrl.goToUrl('${properties.pathNevermindSignIn}');">${properties.nevermindSignIn}</button>
            </div>
          </div>
          
        </form>
        <sly data-sly-test="${properties.enableLinks == 'true'}">
         <div ng-hide="createaccountctrl.hide">
         <div class="distributorAccountOption"><span class="text-link section-title-base">${properties.areYouLookingText}</span><br><span class="distributorAccountOptionLink pointer"><a href="${properties.becomeDistributorPath}.html">${properties.createAccountText}</a></span></div>
            <div class="content-seperator"><span class="divider">
                <p class="preCheckoutOR">${properties.orLabel}</p></span></div>
            <div class="distributorAccountOption"><span class="text-link section-title-base alreadyHaveAccount">${properties.alreadyText}<br>${properties.webLoginText}</span><br><span class="distributorAccountOptionLink pointer"><a href="${properties.webAccountPath}.html">${properties.createUsernameText}</a></span></div>
        </div>
         </sly>
      </fieldset>
         <input type="hidden" id="loggedInRedirectionPagePathSignUp" value="${properties.loggedInRedirectionPagePathSignUp}"/>
         <input type="hidden" id="sponsorsearchpath" value="${properties.sponsorsearchpath}"/>
    </div>
  
  <div ng-hide="createaccountctrl.hideChangeSponsor" class="sponsor">
    <div><span class="text-link"> ${properties.linktextheading1}</span></div>
    <div><span><a ng-click="createaccountctrl.sponsor('${properties.sponsorsearchpath}');">${properties.linktext1}</a></span></div>
  </div>
  <div ng-hide="createaccountctrl.hideChooseSponsor" class="sponsor">
    <div><span class="text-link">${properties.linktextheading2}</span></div>
    <div><span><a ng-click="createaccountctrl.sponsor('${properties.sponsorsearchpath}');">${properties.linktext2}</a></span></div>
  </div>
</div>
<custom-modal-component ng-if="createaccountctrl.showModal" back="{{createaccountctrl.back}}" go-back="{{createaccountctrl.goBack}}" modal-heading="{{createaccountctrl.modalHeading}}" is-modal-call="true" src-url="{{createaccountctrl.modalURL}}" callback-on-success="createaccountctrl.hideCustomModal"></custom-modal-component>
</div>