<js data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" data-sly-call="${clientLib.js @ categories='dtc.commerce.shoppingCart'}" data-sly-unwrap></js>
<div ng-controller="shoppingCartComponentController as ctrl">
   <input type="hidden" name="productsPath" value="${properties.productPath}" />
   <input type="hidden" name="cartModified" value="${properties.cartModifiedMessage}" />
   <input type="hidden" name="itemsModified" value="${properties.itemsModifiedMessage}" />
   <input type="hidden" name="outOfStockMessage" value="${'Out of Stock' @ i18n}" />
   <input type="hidden" name="comingSoonMessage" value="${'Coming Soon' @ i18n}" />
   <input type="hidden" name="backOrderMessage" value="${'On Backorder' @ i18n}" />
   <sly data-sly-use.rendition="com.dtc.commerce.productdetail.service.ProductsRenditionService">
      <input type="hidden" name="shoppingCartRendition" value="${rendition.getShoppingCartRendition}"/>
   </sly>
   <div ng-class="(ctrl.bag.totalUnitCount === 0)?'reset-width':''" class="col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 top-bottom-pad-15 p-x-0 shop-cart-wrap shopping-cart-wrapper">
      <div class="col-lg-6 col-md-12 col-sm-12 shopping-bag-wrapper no-gutter">
         <div ng-if="ctrl.bag.entries.length &gt; 0" class="col-lg-12">
            <h2 class="shopping-bag-headings">${properties.shoppingBagTitle} (<span ng-bind="ctrl.bag.totalUnitCount"></span>)</h2>
         </div>
         <div ng-repeat="item in ctrl.bag.entries">
            <div ng-class="{'remove-border': $last}" class="col-sm-12 top-bottom-pad-15 border-line no-gutter">
               <div class="col-sm-3 col-md-2 col-lg-3"><img ng-src="{{item.product.imagePath}}" alt="{{item.product.productTitle}}"></div>
               <div class="col-sm-9 col-md-10 col-lg-9">
                  <div class="row">
                     <div class="col-lg-10 col-md-5 col-sm-10 no-gutter">
                        <div class="product-title"><a ng-href="{{item.product.baseOptions[0].productURL}}"><span ng-bind="item.product.productTitle"></span></a></div>
                        <div class="product-content" ng-bind="item.product.code"></div>
                     </div>
                     <div class="col-lg-12 col-md-6 col-sm-12 hidden-sm-down hidden-lg-up no-gutter">
                        <div ng-if="item.stockStatus.length" class="stock-status">
                           <div ng-if="ctrl.stockStatus(&quot;LS&quot;,item.stockStatus)" class="stock-status-sub">
                              <p class="m-b-0">${'Low Stock' @ i18n}</p>
                              <div class="stock-updates">${properties.stockLowMsgOne} {{item.stockUpdate}} ${properties.stockLowMsgTwo}</div>
                           </div>
                           <div ng-if="ctrl.stockStatus(&quot;OS&quot;,item.stockStatus)" class="stock-status-sub">
                              <p class="m-b-0">${'Out of Stock' @ i18n}</p>
                           </div>
                           <div ng-if="ctrl.stockStatus(&quot;BO&quot;,item.stockStatus)" class="stock-status-sub">
                              <p class="m-b-0">${'On Backorder' @ i18n}</p>
                              <div class="stock-updates sm-display-change">${'Available on' @ i18n} {{item.stockUpdate}}</div>
                           </div>
                           <div ng-if="item.stockDescription.length" class="stock-description">{{item.stockDescription}}</div>
                        </div>
                     </div>
                     <div class="col-lg-2 col-md-1 col-sm-2 hidden-md-down">
                        <div ng-click="removeItem(item.product.code)" product-code="{{item.product.code}}" product-name="{{item.product.productTitle}}" class="pull-right btn-sm-close remove-btn-dtm"></div>
                     </div>
                     <div class="col-lg-2 col-md-1 col-sm-2 hidden-lg-up no-gutter">
                        <div ng-click="removeItem(item.product.code)" product-code="{{item.product.code}}" product-name="{{item.product.productTitle}}" class="btn-lg-close remove-btn-dtm"></div>
                     </div>
                     <div class="col-lg-12 col-md-4 col-sm-12 no-gutter hidden-sm-down hidden-lg-up lift-up-md-quantity">
                        <div class="item-quantity"><span>${'Quantity' @ i18n}</span></div>
                        <div class="input-group"><span ng-class="{'button-disable': item.quantity == 1}" product-code="{{item.product.code}}" product-name="{{item.product.productTitle}}" ng-click="ctrl.changeQuantity(item.quantity, $index,item.product.code,item.stockRemaining, '-')" class="input-group-addon left decrease-btn-dtm">-</span>
                           <input type="text" ng-model="item.quantity" ng-disabled="true" class="form-control"><span product-code="{{item.product.code}}" product-name="{{item.product.productTitle}}" ng-click="ctrl.changeQuantity(item.quantity, $index,item.product.code,item.stockRemaining, '+')" ng-class="{'button-disable': item.quantity &gt;= item.stockRemaining}" class="input-group-addon right increase-btn-dtm">+</span>
                        </div>
                     </div>
                  </div>
                  <div class="row">
                     <div class="col-lg-6 col-md-4 col-sm-6 no-gutter lift-up-md-remaining">
                        <div class="product-content sm-section-margin" ng-hide="ctrl.hidePSV">${'PSV' @ i18n} <span ng-bind="item.pvValue | number:2"></span></div>
                        <div ng-repeat="baseOptionsArr in item.product.baseOptions">
                           <div ng-if="baseOptionsArr.variantType !== 'MECGenericVariantTypeProduct'">
                              <div ng-repeat="qualifiers in baseOptionsArr.selected.variantOptionQualifiers">
                                 <div class="product-size">
                                    <span class="product-size-label">
                                    <span ng-bind="qualifiers.name"></span></span> | <span ng-bind="qualifiers.value"></span>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-6 col-md-4 text-md-right pull-md-right col-sm-6 text-sm-right lift-up-md-remaining">
                        <div class="product-cost"><span ng-bind="item.totalPrice.value | currency"></span></div>
                     </div>
                     <div class="col-lg-12 col-sm-12 hidden-md no-gutter">
                        <div ng-if="item.stockStatus.length" class="stock-status">
                           <div ng-if="ctrl.stockStatus(&quot;LS&quot;,item.stockStatus)" class="stock-status-sub">
                              <p class="m-b-0">${'Low Stock' @ i18n}</p>
                              <div class="stock-updates sm-display-change">${properties.stockLowMsgOne} {{item.stockUpdate}} ${properties.stockLowMsgTwo}</div>
                           </div>
                           <div ng-if="ctrl.stockStatus(&quot;BO&quot;,item.stockStatus)" class="stock-status-sub">
                              <p class="m-b-0">${'On Backorder' @ i18n}</p>
                              <div class="stock-updates sm-display-change">${'Available on' @ i18n} {{item.stockUpdate}}</div>
                           </div>
                           <div ng-if="item.stockDescription.length" class="stock-description">{{item.stockDescription}}</div>
                        </div>
                     </div>
                     <div style="margin-top:8px;" class="col-lg-12 col-md-4 col-sm-12 no-gutter hidden-md">
                        <div class="item-quantity"><span>${'Quantity' @ i18n}</span></div>
                        <div class="input-group"><span ng-class="{'button-disable': item.quantity == 1}" product-code="{{item.product.code}}" product-name="{{item.product.productTitle}}" ng-click="ctrl.changeQuantity(item.quantity, $index,item.product.code,item.stockRemaining,'-')" class="input-group-addon left decrease-btn-dtm">-</span>
                           <input type="text" ng-model="item.quantity" ng-disabled="true" class="form-control"><span product-code="{{item.product.code}}" product-name="{{item.product.productTitle}}" ng-click="ctrl.changeQuantity(item.quantity, $index,item.product.code,item.stockRemaining,'+')" ng-class="{'button-disable': item.quantity &gt;= item.stockRemaining}"  class="input-group-addon right increase-btn-dtm">+</span>
                        </div>
                     </div>
                  </div>
                  <div class="row"></div>
              </div>
            </div>
         </div>
         <div ng-if="ctrl.bag.totalUnitCount == 0" class="col-xs-12">
            <div class="empty-shopping-bag text-center">
               <div class="empty-cart"><span class="icn-bag"></span></div>
               <p>${properties.emptyShoppingBag}</p>
               <button type="button" ng-click="ctrl.redirectToPDPPage()" class="btn btn-primary">${properties.continueShopping}</button>
            </div>
        </div>
      </div>
      <div ng-if="ctrl.bag.totalUnitCount &gt; 0" class="col-lg-6 col-md-12 col-sm-12 shopping-bag-2">
         <!-- ORDERSUMMARY-START -->
         <div>
            <div class="psv-wrapper col-lg-12 col-md-12 col-sm-12" ng-if="false">
               <div class="col-lg-12 col-md-12 col-sm-12">
                  <h2 class="shopping-bag-headings">${properties.monthlyPSV}</h2>
               </div>
               <div class="col-lg-12 order-psv-md">
                  <div class="col-lg-5 col-md-5 col-sm-5 psv-headings text-center">
                     <div>${properties.currentText}</div>
                     <div class="psv-values">134</div>
                     <div>${'PSV' @ i18n} </div>
                  </div>
                  <div class="col-lg-2 col-md-2 col-sm-2 top-bottom-pad-15 arrow-right"></div>
                  <div class="col-lg-5 col-md-5 col-sm-5 psv-headings text-center">
                     <div>${properties.orderPlacedText}</div>
                     <div class="psv-values">240</div>
                     <div>${'PSV' @ i18n} </div>
                  </div>
               </div>
            </div>
            <div class="order-summary-wrapper col-lg-12 col-md-12 col-sm-12">
               <div class="col-lg-12 col-md-12 col-sm-12">
                  <h2 class="shopping-bag-headings ord-sum m-b-0">${properties.orderSummaryText}</h2>
               </div>
               <div class="col-lg-12 col-md-6 col-sm-12 pull-md-right top-bottom-pad-15">
                  <div class="col-lg-6 col-md-6 col-sm-6 order-sum-total no-gutter" ng-show="ctrl.model.savings">${properties.shoppingBagSubtotalText}</div>
                  <div class="col-lg-6 col-md-6 col-sm-6 text-sm-right order-sum no-gutter" ng-show="ctrl.model.savings">{{ctrl.currencySymbol}}<span ng-bind="(ctrl.bag.subTotal.value | number : 2)"></span></div>
                  <div class="col-lg-6 col-md-6 col-sm-6 order-sum-total no-gutter" ng-show="ctrl.model.savings">${properties.savingsLabel}</div>
                  <div class="col-lg-6 col-md-6 col-sm-6 text-sm-right order-sum no-gutter" ng-show="ctrl.model.savings">-<span ng-bind="ctrl.bag.totalDiscounts.formattedValue"></span></div>
                  <div class="col-lg-6 col-md-6 col-sm-6 order-sum-total no-gutter">${properties.estimatedTotalText}</div>
                  <div class="col-lg-6 col-md-6 col-sm-6 text-sm-right order-sum no-gutter">{{ctrl.currencySymbol}}<span ng-bind="(ctrl.bag.subTotal.value - ctrl.bag.totalDiscounts.value | number : 2)"></span></div>
                  <div class="col-lg-12 col-md-12 col-sm-12 taxes-shipping-block">${properties.taxesAndShippingText}</div>
               </div>
               <div class="col-lg-12 col-md-6 col-sm-12">
                  <legend><span class="order-sum-rewards">${properties.promotionRewardsText}</span></legend>
                  <fieldset ng-class="{'has-danger': ctrl.error.isError}" class="form-group">
                     <div>
                        <input type="text" placeholder="${properties.promoCodePlaceHolder}" ng-model="ctrl.promoCode" class="form-control promo-label" ng-change="ctrl.toggleErr()"><span class="input-group-btn promo-apply">
                        <button type="button" promo-code-text-dtm="{{ctrl.promoCode}}" ng-click="ctrl.applyPromoCode(ctrl.promoCode,'${properties.rewardsError}')" class="btn btn-primary promo-code-dtm" ng-disabled="ctrl.isApply">${'Apply' @ i18n}</button></span>
                        <div class="clearfix visible-sm"></div>
                        <span ng-show="ctrl.error.isError" ng-bind="ctrl.error.errorMessage" class="validation"></span><span ng-show="ctrl.model.err" class="error-block m-t-1 font-weight-bold" ng-bind="errPromoCode"></span>
                     </div>
                     <div class="promotion-and-rewards-section">
                        <div class="clearfix visible-sm"></div>
                        <span ng-hide="!ctrl.voucherApplied.length" class="small-heading text-uppercase font-size-13">${properties.rewardsApplied}</span>
                     </div>
                     <div ng-repeat="item in ctrl.voucherApplied" ng-if="item" class="m-b-0"><span ng-click="ctrl.removePromoCode(item)" class="m-r-1 pointer checkout-guest-and-distributor"><img src="/etc/clientlibs/dtc/core/main/css/src/assets/images/css/ic-close-circle.png" class="remove-promo-code"></span><span class="font-size-13 promoCode applied-promo-dtm text-uppercase">{{item}}</span></div>
                  </fieldset>
               </div>
               <div ng-if="ctrl.bag.totalUnitCount !== 0">
                  <div class="col-lg-12 col-md-6 col-sm-12 text-md-right">
                     <a ng-if="ctrl.isUserLoggedIn" ng-click="ctrl.gotoCheckout('${properties.loggedInCheckoutPath}')" type="button" class="btn btn-primary checkout-btn-dtm">${'Checkout' @ i18n}</a>
                     <a ng-if="!ctrl.isUserLoggedIn" ng-click="ctrl.gotoCheckout('${properties.authenticationPath}')" type="button" class="btn btn-primary checkout-btn-dtm">${'Checkout' @ i18n}</a>
                  </div>
               </div>
            </div>
         </div>
         <!-- ORDERSUMMARY-END -->
      </div>
      <div class="clearfix visible-sm"></div>
      <div ng-if="ctrl.bag.totalUnitCount &gt; 0" class="col-sm-12 col-md-12 col-lg-12 top-buffer-15 p-x-0">
         <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 top-bottom-pad-15">
            <div class="col-sm-3">
               <div class="pull-right secure-transcation"></div>
            </div>
            <div class="col-sm-9">
               <a class="helper-title" ng-href="${properties.secureTransactionPath}" target="${properties.newWindow ? '_blank':''}">${properties.secureTransactions}</a>
               <div class="helper-desc">${properties.secTransDesc}</div>
            </div>
         </div>
         <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 top-bottom-pad-15">
            <div class="col-sm-3">
               <div class="pull-right easy-return"></div>
            </div>
            <div class="col-sm-9">
               <a class="helper-title" ng-href="${properties.easyReturnsPolicyPath}" target="${properties.newWindow ? '_blank':''}">${properties.easyReturnPolicy}</a>
               <div class="helper-desc">${properties.easyReturnPolicyDesc}</div>
            </div>
          </div>
         <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 top-bottom-pad-15">
            <div class="col-sm-3">
               <div class="pull-right help"></div>
            </div>
            <div class="col-sm-9">
               <a class="helper-title" ng-href="${properties.helpAssitancePath}" target="${properties.newWindow ? '_blank':''}">${properties.helpAssistance}</a>
               <div class="helper-desc">${properties.helpAssistanceDesc}</div>
            </div>
         </div>
         <div class="clearfix visible-sm"></div>
      </div>
   </div>
</div>
<div class="clearfix visible-sm"></div>