<div class="cards-component">
    <slick ng-if="cards.toDoCards" settings="slickCardsConfig" class="carousel carousel-primary carousel-cards" id="cardsComponent">
        <div class="cards-section" ng-repeat="slide in cards.toDoCards track by $index">
            <figure>
                <div class="card">
                    <div class="card-block">
                        <div class="card-header">
                            <p class="card-number">{{cards.subheading}} &num;{{slide.id + 1}}</p>
                            <button ng-click="removeSlide($event,slide,'icon');" class="btn btn-link card-dismiss"></button>
                        </div>
                        <h2 class="card-title">{{slide.title | limitTo: 40}}{{slide.title.length > 40 ? '...' : ''}}</h2>
                        <div ng-if="!slide.favourite" class="card-text">
                            <p>{{slide.desc | limitTo: 125}}{{slide.desc.length > 125 ? '...' : ''}}</p>
                        </div>
                        <div ng-if="slide.favourite" class="card-text">
                            <div class="col-md-10 no-gutter">
                                <p>{{slide.desc | limitTo: 95}}{{slide.desc.length > 95 ? '...' : ''}}</p>
                            </div>
                            <div class="col-sm-2 no-gutter">
                                <div ng-style="{'background-image': 'url({{slide.iconUrl}})'}" class="category-favorite pull-right"></div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <p class="card-duration">{{slide.duration}} {{cards.timelabel}}</p><a href="#" ng-click="removeSlide($event,slide,'link'); cards.removeCard(slide); cards.callToAction(slide.url,slide.id)" class="card-link">{{slide.urlLabel}}</a>
                        </div>
                    </div>
                </div>
            </figure>
        </div>
    </slick>
</div>