<div data-sly-test="${wcmmode.edit}">
    Product Container Component
</div>

<div data-sly-resource="${'productDetail' @ resourceType='/apps/dtc/commerce/components/content/productDetail'}"></div>
<div data-sly-test="${!properties.hideProductTestimonials || wcmmode.edit}">
    <div data-sly-resource="${'pdpProductTestimonials' @ resourceType='/apps/dtc/commerce/components/content/productTestimonial'}"></div>
</div>
<div data-sly-test="${!properties.hidePdpProductSupplements || wcmmode.edit}">
<div data-sly-resource="${'pdpProductSupplements' @ resourceType='/apps/dtc/commerce/components/content/pdpProductSupplements'}"></div>
</div>
<div data-sly-test="${!properties.hidePdpProductUsage || wcmmode.edit}">
    <div data-sly-resource="${'pdpProductUsage' @ resourceType='/apps/dtc/commerce/components/content/pdpProductUsage'}"></div>
</div>
<div data-sly-test="${!properties.hideProductResources || wcmmode.edit}">
<div data-sly-resource="${'pdpProductResources' @ resourceType='/apps/dtc/commerce/components/content/productResources'}"></div>
</div>
<div data-sly-test="${!properties.hidePdpCrossSell || wcmmode.edit}">
    <div data-sly-resource="${'pdpCrossSell' @ resourceType='/apps/dtc/commerce/components/content/pdpCrossSell'}"></div>
</div>
<div data-sly-test="${!properties.hidePdpUpSell || wcmmode.edit}">
    <div data-sly-resource="${'pdpUpSell' @ resourceType='/apps/dtc/commerce/components/content/pdpUpSell'}"></div>
</div>
<div data-sly-test="${!properties.hidePdpUpSellKit || wcmmode.edit}">
    <div data-sly-resource="${'pdpUpSellKit' @ resourceType='/apps/dtc/commerce/components/content/pdpUpSellKit'}"></div>
</div>

