<!--/*
    Copyright 2015 Adobe Systems Incorporated

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/-->
<js	data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"
	data-sly-call="${clientLib.js @ categories='dtc.commerce.products'}"
	data-sly-unwrap></js>
<div data-sly-use.product="Products" class="page__main" ng-controller="productsController as pc">
    <div data-sly-test="${wcmmode.edit && product.showSkuPicker}" class="drop-wrapper">

        <input name="allSkus" type="hidden" value="${product.allSkus}"></input>
        <input name="missingSkus" type="hidden" value="${product.missingPmdSkus}"></input>

		<div class="col-lg-6 col-sm-12 p-t-1 drop-section">
            <div class="dropdown dropdown-scroll">
                <button class="btn btn-default dropdown-toggle skus-btn" type="button" id="dropdownMenu1" data-toggle="dropdown">${'allSkus' @ i18n}<span class="caret"></span>
                </button>
                <ul class="dropdown-menu skus-ul" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation">
                        <div class="input-group input-group-sm search-control">
                            <input type="text" class="form-control" placeholder="{{pc.totalSkus | number:0}} ${'resultsfound' @ i18n}" ng-model="query"></input>
                        </div>
                    </li>
                    <li role="presentation" ng-repeat='skus in pc.allSkus | filter:{name:query}'> <a ng-click="pc.redirectToPdp(skus.url)"> {{skus.name}} </a>
                    </li>
                </ul>
            </div>
		</div>
		<div class="col-lg-6 col-sm-12 p-t-1 drop-section">
            <div class="dropdown dropdown-scroll">
                <button class="btn btn-default dropdown-toggle skus-btn" type="button" id="dropdownMenu2" data-toggle="dropdown">${'missingSkus' @ i18n}<span class="caret"></span>
                </button>
                <ul class="dropdown-menu skus-ul" role="menu" aria-labelledby="dropdownMenu2">
                    <li role="presentation">
                        <div class="input-group input-group-sm search-control">
                            <input type="text" class="form-control" placeholder="{{pc.totalMissingSkus | number:0}} ${'resultsfound' @ i18n}" ng-model="query2"></input>
                        </div>
                    </li>
                    <li role="presentation" ng-repeat='skus in pc.missingSkus | filter:{name:query2}'> <a ng-click="pc.redirectToPdp(skus.url)"> {{skus.name}} </a>
                    </li>
                </ul>
            </div>
		</div>
        <div class="clearfix visible-sm"></div>
   </div>
    <div data-sly-test="${(wcmmode.edit || wcmmode.preview) && product.errorMessage != null}">
        ${product.errorMessage}
    </div>
    <div data-sly-test="${!product.showSkuPicker && product.errorMessage == null}">
        <div data-sly-resource="${@path=product.pmdPath, resourceType='dtc/commerce/components/content/productContainer'}"></div>
    </div>
    <div data-sly-test="${wcmmode.disabled && product.errorPage}">
        <script type="text/javascript">
            window.location.href = "${product.errorPagePath @ context='scriptString'}" ;
        </script>
    </div>
</div>