
<ng-form name="passwordForm" novalidate="novalidate">
  <div class="password-pattern">
      <div class="form-group m-b-1">
        <div>
            <label for="password">{{ctrl.createPasswordTitle}}</label>
        </div>
        <input id="passwordInput" ng-model="ctrl.credentials.userPassword" type="{{ctrl.credentials.currentPasswordState == 'text'? 'text': 'password'}}" name="currentPasswordState" ng-blur="ctrl.analyzePassword(passwordForm);" ng-keyup="ctrl.verifyPassword(passwordForm)" required="" ng-class="{'ng-touched':ctrl.isSubmitted, 'ng-invalid': ctrl.credentials.isInvalidPassword || ctrl.credentials.emptyPasswordError }" class="form-control form-input password-input"><img id="passwordImage" ng-click="ctrl.changeImage(true)" ng-src="{{ctrl.credentials.currentPasswordState === 'text'? ctrl.credentials.passwordImage.text: ctrl.credentials.passwordImage.mask}}" title="{{ctrl.credentials.currentPasswordState === 'text'? ctrl.clickToHidePasswordTitle : ctrl.clickToShowPasswordTitle}}" class="password-icon">
        <div ng-class="{'error-block': ctrl.credentials.isInvalidPassword || ctrl.credentials.emptyPasswordError}">
                <div class="error-block" ng-show="ctrl.credentials.emptyPasswordError || (passwordForm.currentPasswordState.$touched && !ctrl.credentials.userPassword.length)">{{ctrl.emptyPasswordError}}</div>
                <div class="error-block" ng-show="ctrl.credentials.userPassword && ctrl.credentials.isInvalidPassword">{{ctrl.invalidPasswordError}}</div>
		  <div ng-class="{'error-block': !passwordForm.currentPasswordState.$error.required &amp;&amp; ctrl.credentials.isInvalidPassword,'gray-lighter':!(!passwordForm.currentPasswordState.$error.required &amp;&amp; ctrl.credentials.isInvalidPassword)}">
          <p ng-if="ctrl.passwordHint" ng-bind-html="ctrl.passwordHintMessage" class="custom-password-hint m-t-1 small"></p></div>
		</div>
      </div>
      <div class="form-group m-b-1">
                <label for="password">{{ctrl.confirmPasswordTitle}}</label>
        <input name="confirm_password" id="passwordInput" ng-model="ctrl.credentials.confirmPassword" type="{{ctrl.credentials.confirmPasswordState == 'text'? 'text': 'password'}}" ng-blur="ctrl.verifyPassword(passwordForm);" ng-keyup="ctrl.verifyPassword(passwordForm)" required="" ng-class="{'ng-touched':ctrl.isSubmitted, 'ng-invalid': ctrl.credentials.isInvalidPassword || ctrl.credentials.emptyPasswordError }" class="form-control form-input password-input"><img id="passwordImage" ng-click="ctrl.changeImage(false)" ng-src="{{ctrl.credentials.confirmPasswordState === 'text'? ctrl.credentials.passwordImage.text: ctrl.credentials.passwordImage.mask}}" title="{{ctrl.credentials.currentPasswordState === 'text'? ctrl.clickToHidePasswordTitle : ctrl.clickToShowPasswordTitle}}" class="password-icon">
        <div class="error-block">
                <div ng-show="ctrl.credentials.emptyConfirmPasswordError && (passwordForm.confirm_password.$touched || ctrl.isSubmitted)">{{ctrl.confirmPasswordError}}</div>
        </div>
                <!--  
                <div ng-show="(ctrl.credentials.isInvalidConfirmPassword) && passwordForm.confirm_password.$touched && ctrl.credentials.confirmPassword.length" class="error-container col-sm-12"><strong class="error-block">{{ctrl.passwordDoNotMatchError}}</strong><br><span>{{ctrl.fixToContinueTitle}}</span></div>
                -->
                <div ng-show="(ctrl.credentials.isInvalidConfirmPassword) && ctrl.credentials.confirmPassword.length" class="error-container col-sm-12"><strong class="error-block">{{ctrl.passwordDoNotMatchError}}</strong><br><span>{{ctrl.fixToContinueTitle}}</span></div>
      </div>
  </div>
</ng-form>
