<sly data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"
	 data-sly-call="${clientLib.js @ categories='dtc.commerce.utils, dtc.commerce.solrQueryService, granite.csrf.standalone'}"
	 data-sly-unwrap/>
<js data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" data-sly-call="${clientLib.js @ categories='dtc.commerce.personalCareCategory'}" data-sly-unwrap></js>
<div class="container-fluid category-standard" ng-controller="personalCareCategoryController as perCareCtrl">
		<input type="hidden" name="productsPath" value="${properties.productPath}" />
		<input type="hidden" name="searchText" value="${properties.productCategory}"/>
		<sly data-sly-use.rendition="com.dtc.commerce.productdetail.service.ProductsRenditionService">
            <input type="hidden" name="categoryRendition" value="${rendition.getCategoryStandardRendition}"/>
        </sly>
        
        <div class="row" >
			<div data-sly-test="${!properties.categoryTitle && wcmmode.edit && !properties.productCategory}" data-sly-unwrap><h4><span>Please double click to edit the component</span></h4></div>
				<div  class="col-sm-12 ${properties.categoryTitle ? 'category-heading' : ''}  no-gutter">
					<h3 class="center"><span>${properties.categoryTitle}</span><em class="center"></em></h3>
					<div class="product-standard-container">
					<div ng-repeat="product in perCareCtrl.productDataArr" class="col-lg-3 col-md-4 col-sm-6 product-standard no-gutter">
						<pdpproductviewcategory product-data="product" data-sly-include="/apps/dtc/commerce/components/content/categoryStandardProductDetail/pdpproductviewcategory.html" ></pdpproductviewcategory>
					</div>
					</div>
				</div>
		</div>
</div>