<div class="pdp-product-view"ng-controller="priceDetailsController as pricectrl">
  <div class="col-sm-12 no-gutter" ng-controller="PopoverController as popctrl">

    <div ng-if=false ng-click="ctrl.toggle()" ng-show="!productCtrl.show" class="category-favorite">
        <input type="hidden" ng-model="record" value="{{product.product_sku}}" ng-init="record=product.product_sku"/>
      <button ng-class="{active: productCtrl.isShown}" class="favorite">
        <svg width="20px" height="18px" viewbox="0 0 24 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="heart">
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g id="heart-outline" transform="translate(1.000000, 0.000000)" stroke="#999">
              <path id="fill" d="M22.3634,0.9763 C19.9054,0.9763 17.1654,1.9943 15.9764,5.2263 C15.8984,5.4373 15.5944,5.4293 15.5214,5.2163 C14.4144,1.9913 11.5714,0.9763 9.1154,0.9763 C4.4974,0.9763 0.7394,5.0363 0.7394,10.0263 C0.7394,12.3713 1.5684,14.5963 3.0754,16.2903 L15.0314,28.2673 C15.4224,28.6583 16.0564,28.6593 16.4484,28.2673 L28.1794,16.5343 C29.8234,14.8303 30.7394,12.5113 30.7394,10.0263 C30.7394,5.0363 26.9814,0.9763 22.3634,0.9763" fill="#ffffff"></path>
            </g>
          </g>
        </svg>
      </button>
    </div>

  <div class="col-sm-12 pdp-product-catalogue">
  	<a ng-href="{{product.prodUrl}}">
  		<img src="{{product.imagePath}}" alt="{{product.product_name}}">
  	</a>
  </div>
  <div class="col-sm-12 pdp-product-title">
    <a ng-href="{{product.prodUrl}}"><p class="no-gutter">{{product.product_name}}</p></a>
    <star-rating rating-value="productCtrl.productData.ratingCount" max="productCtrl.maxRating" ng-show="!productCtrl.show" class="pdp-product-category-stars" data-sly-include="/apps/dtc/commerce/components/content/categoryStandardProductDetail/starRating.html"></star-rating>
	<div ng-if="product.stock_Status.length" class="stock-status" >
      <p ng-if="pricectrl.stockCheck(&quot;LS&quot;, product.stock_Status)">${'Low Stock' @ i18n}</p>
      <p ng-if="pricectrl.stockCheck(&quot;OS&quot;, product.stock_Status)">${'Out of Stock' @ i18n}</p>
      <p ng-if="pricectrl.stockCheck(&quot;BO&quot;, product.stock_Status)">${'On Backorder' @ i18n}</p>
    </div>
  </div>
  <div class="col-sm-12 pdp-product-rate"><span >{{product.priceValue}}</span><i ng-hide="perCareCtrl.hidePSV || product.psvLabel">|</i><span ng-hide="perCareCtrl.hidePSV || product.psvLabel" class="psv-color">${'PSV' @ i18n} </span> <span ng-hide="perCareCtrl.hidePSV">{{product.minPvvValue | number:2}}</span><span ng-show="product.seperator" ng-bind="seperator"></span><span ng-hide="perCareCtrl.hidePSV">{{ product.maxPvvValue | number:2}}</span></div>
  <div class="col-sm-12 purchase-link"><a ng-href="{{product.prodUrl}}">${'Purchase' @ i18n}</a></div>
</div>
</div>