<sly data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"
	 data-sly-call="${clientLib.js @ categories='dtc.commerce.utils, dtc.commerce.solrQueryService, granite.csrf.standalone'}"
	 data-sly-unwrap/>
<js data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" data-sly-call="${clientLib.js @ categories='dtc.commerce.viewAllProducts'}" data-sly-unwrap></js>
<div data-sly-test="${wcmmode.edit}"> Please edit this component to configure properties of view all products </div>
<input type="hidden" name="searchText" value="${properties.productCategory}"/>
<input type="hidden" name="productsPath" value="${properties.productPath}"/>
<div class="container-fluid category-directory" ng-controller="viewAllProductsController as ctrl" >
  <div class="row">
    <div class="col-md-12 category-directory-banner no-gutter">
      <div ng-style="{'background-image': 'url(${properties.imageNav})'}" class="col-md-12 col-sm-0 category-snapshot">
        <div class="col-lg-5 col-md-6 col-sm-6 hidden-sm-down">
          <h1 class="headline">${properties.pageHeadline}</h1>
          <p>${properties.pageShortDescription}</p>
        </div>
      </div>
    </div>
    <div class="col-sm-12 category-snapshot-down">
      <h1 class="headline">${properties.pageHeadline}</h1>
      <p>${properties.pageShortDescription}</p>
    </div>
	<div class= "clearfix visible-lg"></div>
    <div class="col-sm-12 category-directory-info">
      <h5 class="center">${properties.pageCategory}</h5>
      <h1 class="center">${properties.pageSubCategory}</h1>
    </div>
    <div class="col-sm-12 category-directory-content" >
      <uib-accordion>
        <div uib-accordion-group="" ng-repeat="group in products | orderBy: 'category'" ng-init="status = {isOpen: $first &amp;&amp; ctrl.isFirstOpen}" is-open="status.isOpen" class="panel-default">
          <uib-accordion-heading>
            <h2>{{group.category}}
            <p>({{group.count}} ${properties.categoryTitleLabel})</p>
            </h2>
          </uib-accordion-heading>
          <div class="row category-directory-row">
            <div ng-repeat="getProducts in group.products | orderBy: 'name'" class="col-lg-3 col-md-4 col-sm-12 m-b-1 category-directory-section"><a ng-href="{{getProducts.url}}" >{{getProducts.name}}</a></div>
          </div>
        </div>
      </uib-accordion>
    </div>
  </div>
</div>
