<div data-sly-test="${wcmmode.edit}"> Please edit to configure the Video Category Directory</div>
<sly data-sly-use.video="videoCategoryS3.js"></sly>
<js data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" data-sly-call="${clientLib.js @ categories='dtc.commerce.videoCategoryDirectory'}" data-sly-unwrap></js>
<div class="category-directory-video-container container-fluid no-gutter" ng-controller="videoCategoryDirectoryController as ctrl">
  <div class="row display-fixer">
    <div class="col-sm-12 video-box height-fixer">
      <div  class="embed-responsive embed-responsive-16by9 height-fixer">
        <video id="video-category-directory" class="embed-responsive-item height-fixer" ng-click="ctrl.togglePlay()">
          <source src="${video.s3Path}" type="video/mp4">                ${properties.browserWarning}
        </video>
        <div ng-hide="ctrl.videoPlaying" class="video-btn height-fixer">
          <div class="video-overlay inverse">
            <div class="video-desc">
              <h2 class="m-b-0">${properties.videoLabelOne}  ${properties.videoLabelTwo}</h2>
            </div>
            <div ng-click="ctrl.togglePlay()" class="watch-video-outer m-b-0">
              <div class="watch-video-inner m-b-0">
                <p class="m-b-0">${properties.videoButton}</p>
              </div>
            </div>
          </div>
        </div>
        <div ng-click="ctrl.togglePlay()" ng-hide="!ctrl.videoPlaying" class="video-btn height-fixer"></div>
      </div>
    </div>
  </div>
</div>
