<js
	data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"
	data-sly-call="${clientLib.js @ categories='dtc.commerce.orderDetail'}"
	data-sly-unwrap></js>
<div ng-controller="orderDetailController as ctrl">
<sly data-sly-use.rendition="com.dtc.commerce.productdetail.service.ProductsRenditionService">
      <input type="hidden" name="orderReviewRendition" value="${rendition.getOrderReviewRendition}"/>
      <input type="hidden" name="printPreviewCheckBox" value="${properties.printPreviewCheckBox}"/>
</sly>
<div class="order-details non-printable-section">
	<div class="checkout-guest-and-distributor">
		<div class="content checkout-container order-review">
			<div class="checkout-title-container no-gutter">
				<section class="header">
					<div class="section banner-container">
						<div align="left" class="container-fluid p-t-1">
							<div class="center">
								<h1
									class="font-weight-normal text-white text-uppercase order-detail-header">${properties.orderDetailTitle}</h1>
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="checkout-content-container no-gutter hidden-lg-up">
				<div class="large-view-1">
					<div class="checkout-order-wrapper p-t-2 p-b-0 m-t-0_5">
						<div class="row checkout-order-body summary">
							<div class="col-sm-12 no-gutter m-b-0_5">
								<div class="col-sm-12 order-type">${properties.orderTypeText}</div>
								<div class="col-sm-12"><span class="underline"
										ng-bind="'#'+ctrl.checkoutData.code"></span>
								</div>
                                <div class="col-sm-12 purchase-date">${properties.purchaseDate}<span ng-bind="ctrl.checkoutData.created"></span></div>
								<div ng-hide="ctrl.hidePSV" class="col-sm-12">
									<span class="total-psv-text">${properties.totalPSV}</span><span
										class="total-psv-val"><span
										ng-bind="ctrl.checkoutData.totalPvValue | number:2"></span></span>
								</div>
                             <div class="col-sm-12"><span class="ship-method" ng-bind="ctrl.checkoutData.deliveryMode.name"></span> :<span class="ship-method font-weight-normal" ng-bind="ctrl.deliveryCost"></span></div>
							</div>
						</div>
						<div ng-if="ctrl.checkoutData.entries.length &gt; 0"
							id="accordionform" class="row">
							<div class="col-sm-12">
								<div id="accordion" role="tablist" aria-multiselectable="true"
									class="panel-group col-sm-12">
									<div class="panel panel-default m-b-0 p-l-0 p-r-0">
										<div id="shopping-bag" role="tab" class="panel-heading">
											<h4 class="panel-title">
												<button type="button" data-toggle="collapse"
													data-target="#shopping" aria-expanded="true"
													aria-controls="address" class="btn">
													<div class="col-sm-12">
														<div class="row col-sm-2 p-l-0">
															<div
																class="checkout-order-wrapper shop-bag-logo m-t-neg-4"></div>
														</div>
														<div class="col-sm-9">
															<h3 class="m-t-0">
																${properties.shoppingBagTitle} (<span
																	ng-bind="ctrl.checkoutData.totalUnitCount"></span>)
															</h3>
														</div>
													</div>
												</button>
											</h4>
										</div>
										<div id="shopping" role="tabpanel"
											aria-labelledby="shopping-bag" aria-expanded="true"
											style="height: 0px;" class="panel-collapse collapse in">
											<div class="panel-body">
												<div class="col-sm-12 list-pane">
													<div ng-repeat="item in ctrl.checkoutData.entries">
														<div ng-class="{'border-line': !$last }"
															class="col-sm-12 top-bottom-pad-20 no-gutter">
															<div class="col-sm-3 col-md-2 col-lg-3 no-gutter p-t-1">
																<img
																	ng-src="{{item.product.imagePath}}">
															</div>
															<div class="col-sm-9 col-md-10 col-lg-9 no-gutter">
																<div class="row">
																	<div class="col-lg-12 col-md-12 col-sm-12">
																		<div ng-bind="item.product.productTitle" class="product-title"></div>
																		<div ng-bind="item.product.code"
																			class="product-content"></div>
																	</div>
																</div>
																<div class="row item-desc-cont">
																	<div class="col-sm-12">
																		<div ng-hide="ctrl.hidePSV" class="product-content">
																			${'PSV' @ i18n} <span
																				ng-bind="item.pvValue | number:2"></span>
																		</div>
																		<div
																			ng-repeat="baseOptionsArr in item.product.baseOptions">
																			<div
																				ng-if="baseOptionsArr.variantType !== 'MECGenericVariantTypeProduct'">
																				<div
																					ng-repeat="qualifiers in baseOptionsArr.selected.variantOptionQualifiers">
																					<div class="product-size">
																						<span class="product-size-label" ng-bind="qualifiers.name"></span> |<p class="m-b-0" ng-bind="qualifiers.value"></p>																							
																					</div>
																				</div>
																			</div>
																		</div>
																	</div>
																	<div class="col-sm-6">
																		<div class="item-quantity">
																			<span class="product-size-label">${'Quantity' @ i18n}</span>:
																			<p ng-bind="item.quantity"></p>
																		</div>
																	</div>
																	<div class="col-sm-6 text-sm-right item-cost">
																		<div class="product-cost"
																			ng-bind="item.totalPrice.formattedValue"></div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="large-view-1">
					<div class="checkout-order-wrapper order-summary-wrapper-fixer">
						<div class="row checkout-order-head m-b-0_5">
							<div class="col-sm-2 p-r-0">
								<div class="checkout-order-wrapper order-logo"></div>
							</div>
							<div class="col-sm-6 no-gutter">
								<h3 class="m-t-0">${properties.orderSummaryTitle}</h3>
							</div>
						</div>
						<div class="row checkout-order-body summary">
							<div class="col-sm-12">
								<div class="col-sm-8 m-b-1 no-gutter">${properties.shoppingBagTotal}</div>
								<div class="col-sm-4 text-sm-right p-r-0">
									<span ng-bind="ctrl.checkoutData.subTotal.formattedValue"></span>
								</div>
								<div class="col-sm-8 m-b-1 no-gutter">${properties.taxCost}</div>
								<div class="col-sm-4 text-sm-right p-r-0">
									<span ng-bind="ctrl.checkoutData.totalTax.formattedValue"></span>
								</div>
								<div class="col-sm-8 m-b-1 no-gutter">${properties.shippingCost}</div>
								<div class="col-sm-4 text-sm-right p-r-0">
									<span ng-bind="ctrl.checkoutData.deliveryCost.value !=0 ? ctrl.checkoutData.deliveryCost.formattedValue : '${properties.freeText}'"></span>
								</div>
								<div class="col-sm-8 m-b-0 no-gutter" ng-show="ctrl.checkoutData.totalDiscounts.value != 0">${properties.promotionAndRewardApplied}</div>
								<div class="col-sm-4 text-sm-right p-r-0" ng-show="ctrl.checkoutData.totalDiscounts.value != 0">
									-<span ng-bind="ctrl.checkoutData.totalDiscounts.formattedValue"></span>
								</div>
								<div ng-repeat="promoCode in ctrl.checkoutData.voucherApplied" class="col-sm-8 m-b-1 no-gutter promo-list-title-order-detial"> {{promoCode.voucherCode}}</div>
							</div>
							<div class="col-sm-12">
								<div class="pane-separator"></div>
							</div>
							<div class="col-sm-12 no-gutter">
								<div class="col-sm-8 estimated-total">${properties.estimatedCost}</div>
								<div class="col-sm-4 text-sm-right total"
									ng-bind="ctrl.checkoutData.totalPriceWithTax.formattedValue"></div>
							</div>
						</div>
					</div>
					<div class="checkout-order-wrapper">
						<div class="row checkout-order-head">
							<div class="col-sm-2 p-r-0">
								<div class="checkout-order-wrapper payment-logo"></div>
							</div>
							<div class="col-sm-8 p-l-0">
								<h3 class="m-t-4px">${properties.paymentMethodTitle}</h3>
							</div>
						</div>
						<div class="row checkout-order-body payment">
							<div class="col-sm-12">
								<span ng-if="ctrl.cardType=='visa'" class="pull-sm-left"><img
									src="/etc/clientlibs/dtc/core/main/css/src/assets/images/content/visa-sm.png"></span>
								<span ng-if="ctrl.cardType=='amex'" class="pull-sm-left"><img
									src="/etc/clientlibs/dtc/core/main/css/src/assets/images/css/a-m-e-x.png"></span>
								<span ng-if="ctrl.cardType=='discover'" class="pull-sm-left"><img
									src="/etc/clientlibs/dtc/core/main/css/src/assets/images/css/d-i-s-c-o-v-e-r.svg"></span>
								<span ng-if="ctrl.cardType=='master'" class="pull-sm-left"><img
									src="/etc/clientlibs/dtc/core/main/css/src/assets/images/css/m-a-s-t-e-r-c-a-r-d.png"></span>
								<div class="col-sm-9">
									<p><span ng-bind="ctrl.checkoutData.paymentInfo.accountHolderName"></span>,</p>
									<p>
										${properties.cardEndText} <span
											ng-bind="ctrl.checkoutData.paymentInfo.cardNumber | limitTo:-4"></span>,
										${properties.cardExpireText} <span
											ng-bind="(ctrl.checkoutData.paymentInfo.expiryMonth)+ '/' +(ctrl.checkoutData.paymentInfo.expiryYear | limitTo:-2)"></span>
									</p>
								</div>
							</div>
							<div class="col-sm-12 top-buffer-15">
								<label>${properties.billingAddressLabel}</label>
								<div
									ng-if="ctrl.checkoutData.paymentInfo.billingAddress.shippingAddress">
									<span class="check-mark"></span><span>${properties.sameShippingAdd}</span>
								</div>
								<div
									ng-if="!ctrl.checkoutData.paymentInfo.billingAddress.shippingAddress"
									class="m-b-0_5 billing-add">
									<div
										ng-bind="(ctrl.checkoutData.paymentInfo.billingAddress.firstName) + ' ' + (ctrl.checkoutData.paymentInfo.billingAddress.lastName)"></div>
								</div>
								<div
									ng-if="!ctrl.checkoutData.paymentInfo.billingAddress.shippingAddress"
									class="billing-add">
									<div
										ng-bind="ctrl.checkoutData.paymentInfo.billingAddress.line1"></div>
									<div
										ng-bind="ctrl.checkoutData.paymentInfo.billingAddress.line2"></div>
									<div
										ng-bind="(ctrl.checkoutData.paymentInfo.billingAddress.town) + ' ' + (ctrl.checkoutData.paymentInfo.billingAddress.region.name) + ' ' +(ctrl.checkoutData.paymentInfo.billingAddress.postalCode)"></div>
								</div>
							</div>
						</div>
					</div>
					<div class="checkout-order-wrapper">
						<div class="row checkout-order-head">
							<div class="col-sm-2 p-r-0">
								<div class="checkout-order-wrapper ship-add-logo"></div>
							</div>
							<div class="col-sm-8 p-l-0">
								<h3 class="m-t-4px">${properties.shippingAddressTitle}</h3>
							</div>
						</div>
						<div class="row checkout-order-body shipping">
							<div class="col-sm-12 m-b-0_5">
								<div class="m-b-0_5">
									<span class="cust-name" ng-bind="(ctrl.checkoutData.deliveryAddress.firstName) + ' ' + (ctrl.checkoutData.deliveryAddress.lastName)"></span>
								</div>
								<div>
									<span ng-bind="ctrl.checkoutData.deliveryAddress.line1"></span><span
										ng-bind="ctrl.checkoutData.deliveryAddress.line2"></span><span><span
										ng-bind="(ctrl.checkoutData.deliveryAddress.town) + ' ' + (ctrl.checkoutData.deliveryAddress.region.name) + ' ' +(ctrl.checkoutData.deliveryAddress.postalCode)"></span></span>
								</div>
							</div>
							<div class="col-sm-12 p-r-0">
								<div class="col-sm-12 m-b-0_5 p-l-0">
									<label class="m-b-0">${properties.emailTextLabel}</label><span
										ng-bind="ctrl.checkoutData.deliveryAddress.email"></span>
								</div>
								<div class="col-sm-12 p-l-0">
									<label class="m-b-0">${properties.phoneTextLabel}</label><span
										ng-bind="ctrl.checkoutData.deliveryAddress.phone"></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div
				class="checkout-content-container no-gutter hidden-md-down m-t-0">
				<section class="content">
					<div class="main-section no-gutter m-t-0">
						<div class="top-section">
							<div class="large-full-view">
								<div class="checkout-order-wrapper col-lg-12">
									<div class="row checkout-order-body summary">
										<div class="col-sm-12 no-gutter">
											<div class="col-sm-2 no-gutter m-b-0_5 order-type">${properties.orderTypeText}</div>
											<div class="col-sm-3 no-gutter"><span class="underline"
													ng-bind="'#'+ctrl.checkoutData.code"></span>
											</div>
                                            <div class="col-sm-6 no-gutter text-sm-right float-right purchase-date">${properties.purchaseDate}<span ng-bind="ctrl.checkoutData.created"></span></div>
										</div>

										<div class="col-sm-12 no-gutter">
											<div ng-hide="ctrl.hidePSV"
												ng-class="{'text-sm-right':ctrl.checkoutData.orderSummary.orderFrequency}"
												class="col-sm-6 no-gutter">
												<span class="total-psv-text">${properties.totalPSV}</span><span
													class="total-psv-val"><span
													ng-bind="ctrl.checkoutData.totalPvValue | number:2"></span></span>
											</div>
                                            <div class="col-sm-12 no-gutter m-b-2"><span class="ship-method" ng-bind="ctrl.checkoutData.deliveryMode.name"></span> :<span class="ship-method font-weight-normal" ng-bind="ctrl.deliveryCost"></span></div>

										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="left-section">
							<div class="large-view-1">
								<div ng-if="ctrl.checkoutData.entries.length &gt; 0"
									class="checkout-order-wrapper col-lg-12 p-t-2 p-b-0">
									<div id="accordionform" class="row">
										<div class="col-sm-12">
											<div id="accordion" role="tablist"
												aria-multiselectable="true" class="panel-group">
												<div class="panel panel-default m-b-1 p-l-1 p-r-1">
													<div id="shopping-bag" role="tab" class="panel-heading">
														<h4 class="panel-title">
															<button type="button" data-toggle="collapse"
																data-parent="#accordion" data-target="#shopping-lg"
																aria-expanded="true" aria-controls="address"
																class="btn">
																<div class="col-sm-12">
																	<div class="row col-sm-2 p-l-0">
																		<div
																			class="checkout-order-wrapper shop-bag-logo p-l-0 m-t-neg-4"></div>
																	</div>
																	<div class="col-sm-9">
																		<h3 class="m-t-0">
																			${properties.shoppingBagTitle} (<span
																				ng-bind="ctrl.checkoutData.totalUnitCount"></span>)
																		</h3>
																	</div>
																</div>
															</button>
														</h4>
													</div>
													<div id="shopping-lg" role="tabpanel"
														aria-labelledby="shopping-bag" aria-expanded="true"
														style="height: 0px;" class="panel-collapse collapse in">
														<div class="panel-body">
															<div class="col-sm-12 list-pane">
																<div ng-repeat="item in ctrl.checkoutData.entries">
																	<div ng-class="{'border-line': !$last }"
																		class="col-sm-12 top-bottom-pad-20 no-gutter">
																		<div
																			class="col-sm-3 col-md-2 col-lg-3 no-gutter p-t-1">
																			<img
																				ng-src="{{item.product.imagePath}}">
																		</div>
																		<div class="col-sm-9 col-md-10 col-lg-9 no-gutter">
																			<div class="row">
																				<div class="col-lg-10 col-md-10 col-sm-10">
																					<div ng-bind="item.product.productTitle"
																						class="product-title"></div>
																					<div ng-bind="item.product.code"
																						class="product-content"></div>
																				</div>
																			</div>
																			<div class="row item-desc-cont">
																				<div class="col-sm-12">
																					<div ng-hide="ctrl.hidePSV" class="product-content">
																						${'PSV' @ i18n} <span
																							ng-bind="item.pvValue | number:2"></span>
																					</div>
																					<div
																						ng-repeat="baseOptionsArr in item.product.baseOptions">
																						<div
																							ng-if="baseOptionsArr.variantType !== 'MECGenericVariantTypeProduct'">
																							<div
																								ng-repeat="qualifiers in baseOptionsArr.selected.variantOptionQualifiers">
																								<div class="product-size">
																									<span class="product-size-label" ng-bind="qualifiers.name"></span> |<p class="m-b-0" ng-bind="qualifiers.value"></p>																										
																								</div>
																							</div>
																						</div>
																					</div>
																				</div>
																				<div class="col-sm-6">
																					<div class="item-quantity">
																						<span class="product-size-label">${'Quantity' @ i18n}</span>:
																						<p ng-bind="item.quantity"></p>
																					</div>
																				</div>
																				<div class="col-sm-6 text-sm-right item-cost">
																					<div class="product-cost"
																						ng-bind="item.totalPrice.formattedValue"></div>
																				</div>
																			</div>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="right-section">
							<div class="no-gutter large-view-2">
								<div class="checkout-order-wrapper col-lg-12">
									<div class="row checkout-order-head">
										<div class="col-sm-2 p-r-0">
											<div
												class="checkout-order-wrapper order-logo p-l-0 m-t-neg-4"></div>
										</div>
										<div class="col-sm-6 no-gutter">
											<h3 class="m-t-0">${properties.orderSummaryTitle}</h3>
										</div>
									</div>
									<div class="row checkout-order-body summary">
										<div class="col-sm-12">
											<div class="col-sm-8 m-b-1 no-gutter">${properties.shoppingBagTotal}</div>
											<div class="col-sm-4 text-sm-right p-r-0">
												<span ng-bind="ctrl.checkoutData.subTotal.formattedValue"></span>
											</div>
											<div class="col-sm-8 m-b-1 no-gutter">${properties.taxCost}</div>
											<div class="col-sm-4 text-sm-right p-r-0">
												<span ng-bind="ctrl.checkoutData.totalTax.formattedValue"></span>
											</div>
											<div class="col-sm-8 m-b-1 no-gutter">${properties.shippingCost}</div>
											<div class="col-sm-4 text-sm-right p-r-0">
												<span ng-bind="ctrl.checkoutData.deliveryCost.value !=0 ? ctrl.checkoutData.deliveryCost.formattedValue : '${properties.freeText}'"></span>
											</div>
											<div class="col-sm-8 m-b-0 no-gutter" ng-show="ctrl.checkoutData.totalDiscounts.value != 0">${properties.promotionAndRewardApplied}</div>
											<div class="col-sm-4 text-sm-right p-r-0" ng-show="ctrl.checkoutData.totalDiscounts.value != 0">
												-<span ng-bind="ctrl.checkoutData.totalDiscounts.formattedValue"></span>
											</div>
											<div ng-repeat="promoCode in ctrl.checkoutData.appliedVouchers" class="col-sm-8 m-b-1 no-gutter promo-list-title-order-detial"> {{promoCode.voucherCode}}</div>
										</div>
										<div class="col-sm-12">
											<div class="pane-separator"></div>
										</div>
										<div class="col-sm-12 no-gutter">
											<div class="col-sm-8 estimated-total">${properties.estimatedCost}</div>
											<div class="col-sm-4 text-sm-right total"
												ng-bind="ctrl.checkoutData.totalPriceWithTax.formattedValue"></div>
										</div>
									</div>
								</div>
								<div class="checkout-order-wrapper col-lg-12">
									<div class="row checkout-order-head">
										<div class="col-sm-2 p-r-0">
											<div
												class="checkout-order-wrapper payment-logo p-l-0 m-t-neg-4"></div>
										</div>
										<div class="col-sm-8 p-l-0">
											<h3 class="m-t-0">${properties.paymentMethodTitle}</h3>
										</div>
									</div>
									<div class="row checkout-order-body payment">
										<div class="col-sm-12">
											<span ng-if="ctrl.cardType=='visa'" class="pull-sm-left"><img
												src="/etc/clientlibs/dtc/core/main/css/src/assets/images/content/visa-sm.png"></span>
											<span ng-if="ctrl.cardType=='amex'" class="pull-sm-left"><img
												src="/etc/clientlibs/dtc/core/main/css/src/assets/images/css/a-m-e-x.png"></span>
											<span ng-if="ctrl.cardType=='discover'" class="pull-sm-left"><img
												src="/etc/clientlibs/dtc/core/main/css/src/assets/images/css/d-i-s-c-o-v-e-r.svg"></span>
											<span ng-if="ctrl.cardType=='master'" class="pull-sm-left"><img
												src="/etc/clientlibs/dtc/core/main/css/src/assets/images/css/m-a-s-t-e-r-c-a-r-d.png"></span>
											<div class="col-sm-9">
												<p><span ng-bind="ctrl.checkoutData.paymentInfo.accountHolderName"></span>,
												</p>
												<p>
													${properties.cardEndText} <span
														ng-bind="ctrl.checkoutData.paymentInfo.cardNumber | limitTo:-4"></span>,
													${properties.cardExpireText} <span
														ng-bind="(ctrl.checkoutData.paymentInfo.expiryMonth)+ '/' +(ctrl.checkoutData.paymentInfo.expiryYear | limitTo:-2)"></span>
												</p>
											</div>
										</div>
										<div class="col-sm-12 top-buffer-15">
											<label>${properties.billingAddressLabel}</label>
											<div
												ng-if="ctrl.checkoutData.paymentInfo.billingAddress.shippingAddress">
												<span class="check-mark m-r-10p"></span><span
													class="ship-method">${properties.sameShippingAdd}</span>
											</div>
											<div
												ng-if="!ctrl.checkoutData.paymentInfo.billingAddress.shippingAddress"
												class="m-b-0_5 billing-add">
												<div
													ng-bind="(ctrl.checkoutData.paymentInfo.billingAddress.firstName) + ' ' + (ctrl.checkoutData.paymentInfo.billingAddress.lastName)"></div>
											</div>
											<div
												ng-if="!ctrl.checkoutData.paymentInfo.billingAddress.shippingAddress"
												class="billing-add">
												<div
													ng-bind="ctrl.checkoutData.paymentInfo.billingAddress.line1"></div>
												<div
													ng-bind="ctrl.checkoutData.paymentInfo.billingAddress.line2"></div>
												<div
													ng-bind="(ctrl.checkoutData.paymentInfo.billingAddress.town) + ' ' + (ctrl.checkoutData.paymentInfo.billingAddress.region.name) + ' ' +(ctrl.checkoutData.paymentInfo.billingAddress.postalCode)"></div>
											</div>
										</div>
									</div>
								</div>
								<div class="checkout-order-wrapper col-lg-12">
									<div class="row checkout-order-head">
										<div class="col-sm-2 p-r-0">
											<div
												class="checkout-order-wrapper ship-add-logo p-l-0 m-t-neg-4"></div>
										</div>
										<div class="col-sm-8 p-l-0">
											<h3 class="m-t-0">${properties.shippingAddressTitle}</h3>
										</div>
									</div>
									<div class="row checkout-order-body shipping">
										<div class="col-sm-12 m-b-0_5">
											<div class="m-b-0_5">
												<span class="cust-name" ng-bind="(ctrl.checkoutData.deliveryAddress.firstName) + ' ' + (ctrl.checkoutData.deliveryAddress.lastName)"></span>
											</div>
											<div>
												<span ng-bind="ctrl.checkoutData.deliveryAddress.line1"></span><span
													ng-bind="ctrl.checkoutData.deliveryAddress.line2"></span><span><span
													ng-bind="(ctrl.checkoutData.deliveryAddress.town) + ' ' + (ctrl.checkoutData.deliveryAddress.region.name) + ' ' +(ctrl.checkoutData.deliveryAddress.postalCode)"></span></span>
											</div>
										</div>
										<div class="col-sm-12">
											<div class="col-sm-12 m-b-0_5 p-l-0">
												<label class="m-b-0">${properties.emailTextLabel}</label><span>{{ctrl.checkoutData.deliveryAddress.email}}</span>
											</div>
											<div class="col-sm-12 col-md-6 p-l-0">
												<label class="m-b-0">${properties.phoneTextLabel}</label><span>{{ctrl.checkoutData.deliveryAddress.phone}}</span>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>
<div class="col-sm-12 print-container">
  <div class="col-sm-12 print-logo-container"><img src="/etc/clientlibs/dtc/core/main/css/src/assets/images/css/ic-logo.svg"></div>
  <div class="col-sm-12 print-order-container">
    <div class="row">
      <div class="col-sm-12">
        <h1 class="print-order-type">${properties.oneTimeText}</h1>      
        <h1 class="print-order-number"><span class="underline" ng-bind="'#'+ctrl.checkoutData.code"></span></h1>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <h2>${properties.purchaseDateTemp}</h2><span class="print-purchase-date" ng-bind="ctrl.checkoutData.created"></span>
      </div>
    </div>
    <div class="row row-eq-height">
      <div class="col-sm-4">
        <div class="print-order-total">
          <h2>${properties.orderTotal}</h2><span class="print-order-amount" ng-bind="ctrl.checkoutData.totalPriceWithTax.formattedValue"></span>
        </div>
        <div ng-hide="ctrl.hidePSV" class="print-psv">
          <h3>${properties.totalPSV}</h3><span ng-bind="ctrl.checkoutData.totalPvValue | number:2"></span>
        </div>
      </div>
    </div>
    <div class="row print-item-details-container">
      <table class="col-sm-12">
        <tr>
          <td colspan="3"><span>${properties.Items} (<span ng-bind="ctrl.checkoutData.totalUnitCount"></span>)</span></td>
        </tr>
        <tr>
          <th>${properties.Qty}</th>
          <th>${properties.Items}</th>
          <th>${properties.Price}</th>
        </tr>
        <tr ng-repeat="item in ctrl.checkoutData.entries" ng-class="{'odd':$odd}">
          <td class="quantity"><span ng-bind="item.quantity"></span></td>
          <td class="detail">
            <div class="print-item-detail">
              <h3 ng-bind="item.product.productTitle"></h3>
              <div><span ng-bind="item.product.code"></span><span>
			  <div 	ng-repeat="baseOptionsArr in item.product.baseOptions">
					<div ng-if="baseOptionsArr.variantType !== 'MECGenericVariantTypeProduct'">
						<div ng-repeat="qualifiers in baseOptionsArr.selected.variantOptionQualifiers">
							<div class="product-size">
								<span class="product-size-label" ng-bind="qualifiers.name"></span> 
								<p class="m-b-0" ng-bind="qualifiers.value"></p>																										
							</div>
						</div>
					</div>
				</div></span></div>
            </div>
          </td>
          <td class="cost"><span ng-bind="item.totalPrice.formattedValue"></span></td>
        </tr>
		 <tr class="print-order-total">
          <td colspan="3">
            <h2>${properties.shoppingBagTotal}:</h2><span class="print-order-amount" ng-bind="ctrl.checkoutData.subTotal.formattedValue"></span>
          </td>
        </tr>
		<tr class="print-order-total">
          <td colspan="3">
            <h2>${properties.taxCost}:</h2><span class="print-order-amount" ng-bind="ctrl.checkoutData.totalTax.formattedValue"></span>
          </td>
        </tr>
		<tr class="print-order-total">
          <td colspan="3">
            <h2>${properties.shippingCost}:</h2><span class="print-order-amount" ng-bind="ctrl.checkoutData.deliveryCost.value !=0 ? ctrl.checkoutData.deliveryCost.formattedValue : '${properties.freeText}'"></span>
          </td>
        </tr>
        <tr class="print-order-total" ng-show="ctrl.checkoutData.totalDiscounts.value != 0">
          <td colspan="3" >
            <h2>${properties.promotionAndRewardApplied}:
            <div ng-repeat="promoCode in ctrl.checkoutData.appliedVouchers" class="promotion-applied">{{promoCode.voucherCode}}</div></h2><span class="print-order-amount" ng-bind="'- ' +ctrl.checkoutData.totalDiscounts.formattedValue"></span>
          </td>
        </tr>
        
		<tr class="print-order-total">
          <td colspan="3" class="grand-total">
            <h2>${properties.estimatedCost}:</h2><span class="print-order-amount" ng-bind="ctrl.checkoutData.totalPrice.formattedValue"></span>
          </td>
        </tr>
      </table>
    </div>
    <div class="row print-shipping-details-container">
      <table class="col-sm-12">
        <tr>
          <td colspan="2"><span>${properties.shippingDetails}</span></td>
        </tr>
        <tr>
          <td>
            <h3><span ng-bind="(ctrl.checkoutData.deliveryAddress.firstName) + ' ' + (ctrl.checkoutData.deliveryAddress.lastName)"></span></h3>
          </td>
          <td class="email"><span ng-bind="ctrl.checkoutData.deliveryAddress.email"></span></td>
        </tr>
        <tr>
          <td class="reset-padding">
            <p><span ng-bind="ctrl.checkoutData.deliveryAddress.line1"></span></p>
            <p><span ng-bind="ctrl.checkoutData.deliveryAddress.line2"></span></p>
            <p><span ng-bind="(ctrl.checkoutData.deliveryAddress.town) + ' ' + (ctrl.checkoutData.deliveryAddress.region.name) + ' ' +(ctrl.checkoutData.deliveryAddress.postalCode)"></span></p>                                                                                
          </td>
          <td class="phone"><span ng-bind="ctrl.checkoutData.deliveryAddress.phone"></td>
        </tr>
      </table>
    </div>
    <div class="row print-payment-details-container">
      <table class="col-sm-12">
        <tr>
          <td><span>${properties.paymentDetails}</span></td>
          <td><span class="pull-right print-card-info"><span ng-bind="ctrl.checkoutData.paymentInfo.cardType.name"></span> ${properties.cardEndTemplate}<span ng-bind="ctrl.checkoutData.paymentInfo.cardNumber | limitTo:-4"></span>
		  , ${properties.cardExpireTemplate}<span ng-bind="(ctrl.checkoutData.paymentInfo.expiryMonth)+ '/' +(ctrl.checkoutData.paymentInfo.expiryYear | limitTo:-2)"></span></td>
        </tr>
      </table>
    </div>
	<div class="row print-shipping-details-container" ng-if="ctrl.checkoutData.deliveryAddress.billingAddress" >
      <table class="col-sm-12">
        <tr>
          <td colspan="2"><span>${properties.billingAddressLabel}</span></td>
        </tr>
        <tr>
          <td>
            <h3><span ng-bind="(ctrl.checkoutData.deliveryAddress.firstName) + ' ' + (ctrl.checkoutData.deliveryAddress.lastName)"></span></h3>
          </td>
          <td class="email"><span ng-bind="ctrl.checkoutData.deliveryAddress.email"></span></td>
        </tr>
        <tr>
          <td class="reset-padding">
            <p><span ng-bind="ctrl.checkoutData.deliveryAddress.line1"></span></p>
            <p><span ng-bind="ctrl.checkoutData.deliveryAddress.line2"></span></p>
            <p><span ng-bind="(ctrl.checkoutData.deliveryAddress.town) + ' ' + (ctrl.checkoutData.deliveryAddress.region.name) + ' ' +(ctrl.checkoutData.deliveryAddress.postalCode)"></span></p>                                                                                
          </td>
          <td class="phone"><span ng-bind="ctrl.checkoutData.deliveryAddress.phone"></td>
        </tr>
      </table>
    </div>
		<div  class="row print-shipping-details-container" ng-if="!ctrl.checkoutData.deliveryAddress.billingAddress">
      <table class="col-sm-12">
        <tr>
          <td colspan="2"><span>${properties.billingAddressLabel}</span></td>
        </tr>
        <tr>
          <td>
            <h3><span ng-bind="(ctrl.checkoutData.paymentInfo.billingAddress.firstName) + ' ' + (ctrl.checkoutData.paymentInfo.billingAddress.lastName)"></span></h3>
          </td>
        </tr>
        <tr>
          <td class="reset-padding">
            <p><span ng-bind="ctrl.checkoutData.paymentInfo.billingAddress.line1"></span></p>
            <p><span ng-bind="ctrl.checkoutData.paymentInfo.billingAddress.line2"></span></p>
            <p><span ng-bind="(ctrl.checkoutData.paymentInfo.billingAddress.town) + ' ' + (ctrl.checkoutData.paymentInfo.billingAddress.region.name) + ' ' +(ctrl.checkoutData.paymentInfo.billingAddress.postalCode)"></span></p>                                                                                
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
</div>