<sly data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"
     data-sly-call="${clientLib.js @ categories='dtc.commerce.solrQueryService'}"
     data-sly-unwrap/>
<js
	data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"
	data-sly-call="${clientLib.js @ categories='dtc.commerce.productSearchBanner'}"
	data-sly-unwrap></js>
<div class="product-search-banner-container clearfix col-sm-12" ng-controller="productSearchBannerController as ctrl">
  <div class="row">
      <div class="product-search-banner" style="background-image : url(${properties.searchBanner @ context = 'styleString'})">
      <div class="search-content-banner">
        <div ng-if="false" class="noresult-text"><span></span><span ng-bind="ctrl.searchInput"></span></div>
        <div class="result-text-box"><span ng-bind="ctrl.resultNum"></span><span class="small-font"> ${properties.searchHeader}</span></div>
        <div class="inline-searchbox col-sm-12 reset">
          <div ng-click="ctrl.searchClicked();" class="search-box col-sm-11 col-sm-offset-1 col-md-6 col-xl-4 reset"><span><span class="ic-search"></span>
          <input type="text" placeholder="${properties.searchLabel}" readonly ng-model="ctrl.searchInput"></span></div>
        </div>
        <div class="inline-psv-searchbox col-sm-12 reset ng-hide">
          <div class="col-sm-2 col-md-1 reset"><span class="psv-text-box">${properties.psvLabel}</span></div>
          <div ng-click="ctrl.searchClicked();" class="search-box col-sm-2 col-md-1 reset">
            <input type="text" placeholder="${properties.minPSV}" readonly ng-model="ctrl.minPSV">
          </div>
          <div class="col-sm-2 col-md-1 reset center"><span>${properties.psvLimit}</span></div>
          <div ng-click="ctrl.searchClicked();" class="search-box col-sm-2 col-md-1 reset">
            <input type="text" placeholder="${properties.maxPSV}" readonly ng-model="ctrl.maxPSV">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="clearfix visible-sm"></div>