<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Author id : Deloitte Digital
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/-->
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='dtc.core.footer'}" data-sly-unwrap/>
<div class="footer-nav" ng-controller="footerController as ctrl">
  <div id="scroll-to-top" ng-click="ctrl.backToTopClick()" style="align:right" class="scroll-to-top-button">
    <backtotop class="ng-isolate-scope">
        <div class="back-to-top-circle" ng-init="ctrl.hideBackToTop()">
			<div id="back-to-top" class="back-to-top-icon pointer back-to-top-is-visible"><span class="top-arrow-img"></span><span>${properties.backToTop}</span></div>
		</div>
    </backtotop>
  </div>
  <div data-sly-use.globfooter="com.dtc.core.use.FooterLinkComponent">
     </div>
  <div class="footer-details">
    <div ng-show="{{ctrl.isDistributor}}" class="footer-become-a-distributor-section col-xl-4 col-sm-12">
      <div class="become-a-distributor">
        <div class="nuskin-logo-title col-xl-12 col-md-6"><img  class="nuskin-logo" ng-src="{{ctrl.logoUrl}}"></div>
        </div>
      </div>
    <div ng-show="{{ctrl.isCustomer}}" class="footer-become-a-distributor-section col-xl-4 col-sm-12">
      <div class="become-a-distributor">
        <div class="nuskin-logo-title col-xl-12 col-md-6"><img  class="nuskin-logo" ng-src="{{ctrl.logoUrl}}"></div>
        <div class="become-a-distributor-button-section col-xl-12 col-md-6">
          <input type="Submit" ng-click="ctrl.redirectPage('${properties.becomeDistributorUrl}');" value="${properties.becomeDistributorLabel}" class="btn btn-primary btn-footer">
        </div>
      </div>
    </div>
	<div ng-show="{{ctrl.isAnonymous}}" class="footer-become-a-distributor-section col-xl-4 col-sm-12">
      <div class="become-a-distributor">
          <div class="nuskin-logo-title col-xl-12 col-md-6"><img  class="nuskin-logo" ng-src="{{ctrl.logoUrl}}"></div>
        <div class="become-a-distributor-button-section col-xl-12 col-md-6">
          <input type="Submit"  ng-click="ctrl.redirectPage('${properties.joinNuskinUrl}');" value="${properties.joinNuskinLabel}" class="btn btn-primary btn-footer">
        </div>
      </div>
    </div>
    <div class="footer-details-section col-xl-8 col-sm-12 hidden-md-down">
      <div data-sly-test="${globfooter.footerNavList.footerList.size}" data-sly-list.gfooter="${globfooter.footerNavList.footerList}">
      <div class="detail-sub-section col-md-3">
        <div class="section-title">
          <label class="detail-title">${gfooter.sectionLabel}</label>
        </div>
        <div data-sly-test="${gfooter.Links.size}" data-sly-list.flinks="${gfooter.Links}">
        <div class="section-links">
          <p class="footer-p"><a class="detail-link" ng-click="ctrl.redirectPage('${flinks.linkUrl}');">${flinks.linkLabel}</a></p>
        </div>
        </div>
      </div>
      </div>
	 <sly data-sly-include="social.html"></sly>
    </div>

    <div id="accordionform" class="footer-details-section-accordion col-sm-12 hidden-lg-up">
      <div id="accordion" role="tablist" aria-multiselectable="false" class="panel-group">

  <div data-sly-test="${globfooter.footerNavList.footerList.size}" data-sly-list.gfooter="${globfooter.footerNavList.footerList}">
  <legend class="accordion-legend"></legend>
  <div class="panel panel-default">
          <div id="contact-heading" role="tab" class="panel-heading">
            <h4 class="panel-title">
              <button type="button" data-toggle="collapse" data-parent="#accordion" data-target="#${gfooter.sectionId}" aria-expanded="false" aria-controls=${gfooter.sectionId} class="btn collapsed btn-accordion"><span class="detail-title">${gfooter.sectionLabel}</span></button>
            </h4>
          </div>
          <div id=${gfooter.sectionId} role="tabpanel" aria-expanded="false" class="panel-collapse collapse">
            <div class="panel-body">
			<div data-sly-test="${gfooter.Links.size}" data-sly-list.flinks="${gfooter.Links}">
              <div class="section-links">
                <p class="footer-p"><a class="detail-link"  ng-click="ctrl.redirectPage('${flinks.linkUrl}');">${flinks.linkLabel}</a></p>
              </div>
              <sly data-sly-test="${gfooterList.first && flinksList.last}">
			  	<sly data-sly-include="social.html"></sly>
              </sly>
			  </div>
            </div>
          </div>
        </div>
      </div>
      <legend class="accordion-legend"></legend>
      </div>
    </div>
	 </div>

  <div class="footer-bottom">
    <div class="footer-bottom-section">
      <div class="footer-details-bottom col-xl-8 col-sm-12">
        <div class="link-wrapper">
          <a target="_self" class="bottom-link" href="${properties.copyrightUrl}">&copy;${properties.copyright}</a>
          <label>|</label>
        </div>
        <div class="link-wrapper">
          <a target="_self" class="bottom-link" href="${properties.regulationsUrl}">${properties.regulations}</a>
          <label>|</label>
        </div>
        <div class="link-wrapper">
          <a target="_self" class="bottom-link" href="${properties.privacyPolicyUrl}">${properties.privacyPolicy}</a>
          <label>|</label>
        </div>
        <div class="link-wrapper">
          <a target="_self" class="bottom-link" href="${properties.termsUrl}">${properties.terms}</a>
          <label>|</label>
        </div>
        <div class="link-wrapper">
          <a target="_self" class="bottom-link" href="${properties.dsaUrl}">${properties.dsa}</a>
		  <label>|</label>
        </div>
        <div class="link-wrapper">
          <a class="bottom-link" href="${properties.returnPolicyUrl}">${properties.returnPolicy}</a>
        </div>
      </div>
      <div class="footer-buttons col-xl-4 col-sm-12">
        <div class="bottom-button col-xl-6 col-md-8 col-md-offset-2 col-xl-offset-0">
         <!--  <button type="Submit" name="btn-region" ng-click="ctrl.redirectRegionPage()" class="btn-primary btn-region">&#127760 &#160 Region: United States (Switch)</button> -->
          <select id="footerRegion" name="footerRegion" ng-model="ctrl.model.regionList" ng-change="ctrl.regionChange()" class="form-control dropdown-language">
              <div data-sly-list="${globfooter.regionList}">
				<option value="${item.langCode}">${item.langName}</option>
			  </div>
          </select>
        </div>
        <div class="bottom-dropdown col-xl-6 col-md-8 col-md-offset-2 col-xl-offset-0">
          <div class="select-wrapper language-dropdown">
            <select id="footerLanguage" name="footerLanguage" ng-model="ctrl.model.languageList" ng-change="ctrl.langChange()" class="form-control dropdown-language">
              <div data-sly-list="${globfooter.languageList}">
				<option value="${item.langCode}">${item.langName}</option>
			  </div>
            </select>
            <input type="hidden" name="currentPath" id="currentPath" value="${currentPage.getPath}">
          </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div class="clearfix visible-sm"></div>
