<div class="connect-with-nuskin col-md-12 no-gutter">
	<label class="detail-connect-with-nuskin">${properties.connectwithnuskin}</label>
    <div class="social-icons-section-details clearfix">
    	<div class="footer-social-icon pull-left">
			<a href="${properties.facebookUrl}"><img ng-src="{{ctrl.facebookLogo}}" alt="${properties.facebookIconName}" class="inner-img"></a>
			<a href="${properties.twitterUrl}"><img ng-src="{{ctrl.twitterLogo}}" alt="${properties.twitterIconName}" class="inner-img"></a>
			<a href="${properties.instagramUrl}"><img ng-src="{{ctrl.instagramLogo}}" alt="${properties.instagramIconName}" class="inner-img"></a>
			<a href="${properties.pinrestUrl}"><img ng-src="{{ctrl.pinterestLogo}}" alt="${properties.pinrestIconName}" class="inner-img"></a>
		 </div>
     </div>
 </div>