<div class="mediatile tile-container col-sm-6 col-md-6 col-lg-6  category-tile pdp-padding" resource-url="{{tile.file}}" resource-name="{{tile.title}}" ng-click="resourcesCtrl.getFile(tile.file)">
  <div ng-class="{deactivate : resourcesCtrl.isDeleted || resourcesCtrl.isFavorited &amp;&amp; resourcesCtrl.ifFavUndoVisible}" class="tile col-sm-12 no-gutter">
    <div class="tile-image col-sm-12 no-gutter"><img ng-src="{{tile.thumbnail_url}}" alt="img" height="100%" width="100%">
      <div ng-if=false ng-if="resourcesCtrl.ifFavoriteVisible" ng-click="resourcesCtrl.toggleFavorite()" class="media-favorite-container">
        <button ng-class="{active: resourcesCtrl.isFavorite}" class="favorite">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
              <g id="heart-outline" transform="translate(1.000000, 0.000000)" stroke="#999">
                <path id="fill" d="M22.3634,0.9763 C19.9054,0.9763 17.1654,1.9943 15.9764,5.2263 C15.8984,5.4373 15.5944,5.4293 15.5214,5.2163 C14.4144,1.9913 11.5714,0.9763 9.1154,0.9763 C4.4974,0.9763 0.7394,5.0363 0.7394,10.0263 C0.7394,12.3713 1.5684,14.5963 3.0754,16.2903 L15.0314,28.2673 C15.4224,28.6583 16.0564,28.6593 16.4484,28.2673 L28.1794,16.5343 C29.8234,14.8303 30.7394,12.5113 30.7394,10.0263 C30.7394,5.0363 26.9814,0.9763 22.3634,0.9763" fill="#ffffff"></path>
              </g>
            </g>
        </button>
      </div>
    </div>
    <div class="tile-description col-sm-12 no-gutter"><span class="col-sm-12 no-gutter">{{tile.title}}</span></div>
    <div class="tile-icon-container">
      <div class="logo"><img ng-src="{{tile.product_logo}}" alt="img" height="100%" width="100%"></div>
      <div ng-if="ctrl.ifShareVisible" class="logo-share"></div>
      <div ng-if="ctrl.ifDeleteVisible" ng-click="ctrl.toggleDel();" class="delete-tile">
        <div class="media-delete-container"></div>
      </div>
    </div>
  </div>
  <div ng-show="ctrl.isDeleted" class="undo-delete">
    <div ng-click="ctrl.toggleDel();">
      <button class="btn btn-secondary undo-btn">${properties.undoLabel}</button>
    </div>
  </div>
  <div ng-show="ctrl.isFavorited &amp;&amp; ctrl.ifFavUndoVisible" class="undo-delete">
    <div ng-click="ctrl.toggleFavorite();">
      <button class="btn btn-secondary undo-btn">${properties.undoLabel}</button>
    </div>
  </div>
</div>