<js data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" data-sly-call="${clientLib.js @ categories='dtc.commerce.productResources'}" data-sly-unwrap></js>
<div class="pdp-productresources">
<div data-sly-test="${wcmmode.edit}">Please edit to configure the product resources.</div>
<div class="product-content-container no-gutter" data-sly-use.product="com.dtc.commerce.productdetail.sightly.ProductDetailUsePojo">
   <input type="hidden" name="marketingMaterials" value="${product.marketingMaterials}" />
   <input type="hidden" name="productInformation" value="${product.productInformation}" />
   <input type="hidden" name="otherSource" value="${product.otherSource}" />
      <div class="product-content-wrapper" ng-controller="productResourcesController as resourcesCtrl">
        <div id="accordionform" ng-if = "resourcesCtrl.isEmpty">
          <div class="pdp-accordion-wrapper">
			<div class="container-fluid no-gutter">
            <div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group">
              <div class="panel panel-default col-sm-12 m-b-2">
                <div id="product-info-resources" role="tab" class="panel-heading">
                  <h4 class="panel-title col-lg-12 no-gutter">
                    <button type="button" data-toggle="collapse" data-target="#productresources" aria-expanded="false" aria-controls="productresources" class="btn collapsed">
                      <div class="col-sm-12 no-gutter"><span class="pdp-header">${properties.resourcesLabel}</span></div>
                    </button>
                  </h4>
                  <div id="productresources" role="tabpanel" aria-labelledby="product-info-resources" aria-expanded="false" style="height: 100px;" class="panel-collapse collapse">
                    <div class="panel-body">
                      <div ng-if="resourcesCtrl.marketingMaterials.length &gt;0" class="col-sm-12 col-lg-6 no-gutter">
                        <div id="product-tile" class="col-sm-12 col-lg-9 no-gutter m-t-1">
                          <div class="col-sm-12 m-t-2 no-gutter logo-padding">
                            <h3>${properties.marketingMaterialLabel}</h3>
                            <mediatilecomponent data-sly-include="/apps/dtc/commerce/components/content/productResources/mediatile.html"
                            if-delete-visible="false" if-share-visible="false" if-favourite-visible="false"
                            ng-repeat="tile in resourcesCtrl.marketingMaterials"></mediatilecomponent>
                          </div>
                        </div>
                      </div>
                      <div ng-if="resourcesCtrl.productInformation.length &gt;0" class="col-sm-12 col-lg-6 no-gutter">
                        <div id="product-tile" class="col-sm-12 col-lg-9 no-gutter m-t-2">
                          <div class="col-sm-12 m-t-2 no-gutter logo-padding">
                            <h3>${properties.productInformationLabel}</h3>
                            <mediatilecomponent data-sly-include="/apps/dtc/commerce/components/content/productResources/mediatile.html"
                            if-delete-visible="false" if-share-visible="false" if-favourite-visible="false" 
                            ng-repeat="tile in resourcesCtrl.productInformation"></mediatilecomponent>
                          </div>
                        </div>
                      </div>
                      <div ng-if="resourcesCtrl.otherSource.length &gt;0" ng-style="(resourcesCtrl.marketingMaterials.length > 0 && resourcesCtrl.productInformation.length > 0) ? {'clear':'both'}:{'clear':'right'}" class="col-sm-12 col-lg-6 no-gutter">
                        <div id="product-tile" class="col-sm-12 col-lg-9 no-gutter m-t-1">
                          <div class="col-sm-12 m-t-2 no-gutter logo-padding">
                            <h3>${properties.otherSourceLabel}</h3>
                            <mediatilecomponent data-sly-include="/apps/dtc/commerce/components/content/productResources/mediatile.html"
                            if-delete-visible="false" if-share-visible="false" if-favourite-visible="false" 
                            ng-repeat="tile in resourcesCtrl.otherSource"></mediatilecomponent>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
         </div>
    </div>
    </div>
    </div>
    </div>