<script src="https://www.gstatic.com/firebasejs/3.7.6/firebase.js"></script>
<js data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"
    data-sly-call="${clientLib.js @ categories='dtc.commerce.pitchHeader'}"
    data-sly-unwrap>
</js>
<div class="pitch-header" ng-controller="pitchHeaderController as ctrl">
    <div class="pitch-avatar"><img ng-if="ctrl.avatarSrc" ng-src="{{ctrl.avatarSrc}}"></div>
    <h3>{{ctrl.sponsorName}}${properties.storeLabel}</h3>
</div>
<sly data-sly-include="toastMessage.html" data-sly-unwrap></sly>
