<div ng-controller="toastMsgController as toastCtrl">
    <div ng-if="toastCtrl.dangerType" class="page-level-error">
        <div role="alert" class="alert alert-danger alert-dismissible center">
            <button type="button" ng-click="toastCtrl.hideToastMessage();" aria-label="Close" class="cross inline-block">
                <span aria-hidden="true" ng-bind="toastCtrl.errorMessage"></span>
            </button>
        </div>
    </div>
    <div ng-if="false" class="page-level-error">
        <div role="alert" class="alert success-alert alert-dismissible center">
            <div class="row success-section center-section">
                <button type="button" aria-label="Success" class="check-mark inline-block">
                    <span ng-if="toastCtrl.successMessage" ng-class="{'only-title': !toastCtrl.successDescription}" class="font-weight-bold success-heading m-b-0">{{toastCtrl.successMessage}}</span>
                    <span ng-if="toastCtrl.successDescription" class="m-b-0 success-subheading">{{toastCtrl.successDescription}}</span>
                </button>
            </div>
        </div>
    </div>
</div>