<div class="container-fluid category-standard">
<div class="row">
   <div class="col-sm-12 category-heading no-gutter">
      <div  class="col-sm-12 content-center-banner no-gutter">
          <div ng-style="{'background-image': 'url(${properties.leftImagePath})'}" class="col-lg-4 col-md-6 col-sm-6 content-left-banner"></div>
        <div class="col-lg-4 content-center-banner-in hidden-sm-down hidden-md-down">
          <center>
              <h2>${properties.dualImageText}</h2>
            <p>${properties.dualImageDescription}</p>
            <button onclick="window.location.href='${properties.buttonPath @ context='scriptString'}.html'">${properties.buttonText}</button>
          </center>
        </div>
        <div ng-style="{'background-image': 'url(${properties.rightImagePath})'}" class="col-lg-4 col-md-6 col-sm-6 content-right-banner"></div>
      </div>
      <div class="col-sm-12 content-center-banner-in content-show-banner">
        <center>
          <h2>${properties.dualImageText}</h2>
          <p>${properties.dualImageDescription} </p>
          <button onclick="window.location.href='${properties.buttonPath @ context='scriptString'}.html'">${properties.buttonText}</button>
        </center>
      </div>
    </div>
</div>
</div>