<ng-form name="passwordField" novalidate="novalidate">
    <div class="password-field">
        <div class="form-group">
            <div>
                <label for="passwordInput">{{ctrl.signInPasswordLabel}}</label>
            </div>
            <input id="passwordInput" ng-model="ctrl.credentials.enterPassword"
                   type="{{ctrl.credentials.enterPasswordState == 'text'? 'text': 'password'}}"
                   name="enterPasswordState" ng-blur="ctrl.verifyPassword(passwordField)" ng-required='ctrl.isRequired'
                   ng-class="{'ng-touched':ctrl.isSubmitted, 'ng-invalid': ctrl.passwordempty && ctrl.isSubmitted}"
                   ng-change="ctrl.enterpassword(ctrl.credentials.enterPassword)"
                   class="form-control form-input password-input">
            <img id="passwordImage" ng-click="ctrl.changeImage(false)"
                 ng-src="{{ctrl.credentials.enterPasswordState === 'text'? ctrl.credentials.passwordImage.text: ctrl.credentials.passwordImage.mask}}"
                 title="{{ctrl.credentials.enterPasswordState === 'text'? 'Click to hide Password' : 'Click to show Password'}}"
                 class="password-eye-icon">
            <span ng-show="(ctrl.isSubmitted &amp;&amp; ctrl.passwordempty)"
                  class="error-block">{{ctrl.signInPasswordMandatoryLabel}}</span>
        </div>
    </div>
</ng-form>
