<js data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" data-sly-call="${clientLib.js @ categories='dtc.commerce.recentlyViewed'}" data-sly-unwrap></js>
<div class="container-fluid recently-viewed-main" ng-controller="recentlyViewedController as ctrl">
<sly data-sly-use.rendition="com.dtc.commerce.productdetail.service.ProductsRenditionService">
  <input name="recentltlyViewedRendition" type="hidden" value="${rendition.getRecentlyViewedRendition}"></input>
</sly>
  <div class="row">
    <div ng-if="recos.length" class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1"> 
      <h3 class="heading-text">${properties.h3label}</h3>
      <h2 class="recently-viewed-text">${properties.h2label}</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1"> 
      <secondary-carousel product-data="recos" slick-type="slickType" slick-config="slickSecondaryConfig"
      data-sly-include="/apps/dtc/commerce/components/content/cartRecommendations/secondaryCarousel.html"></secondary-carousel>
    </div>
  </div>
</div>