<div class="clearfix visible-sm"></div>
<sly data-sly-use.component="com.dtc.commerce.productdetail.sightly.FeaturedProductsUsePojo"> 
    <sly data-sly-resource="${ component.topSellersPath @ resourceType='/apps/dtc/commerce/components/content/topTenSellers'}">
    </sly>
</sly>

