<div class="promotions-container-fluid">
   <div class="container-fluid">
      <div class="promo-container">
         <div class="row promo-header">
            <h1>${properties.promtionsHeading}</h1>
            <div class="show-bar">
            </div>
         </div>
         <div name="1Layout" data-sly-test="${properties.selectLayout == '1'}">
            <div data-sly-resource="${ @path='promotionsBanner' , resourceType='dtc/commerce/components/content/promotionsBanner'}" class="no-gutter larger-tile-column col-lg-12"></div>
         </div>
         <div name="3Layout" data-sly-test="${properties.selectLayout == '3'}" data-sly-unwrap>
            <div class="col-lg-3 smaller-tile-column col-md-12 no-gutter">
               <div data-sly-resource="${ @path='promotionsTile1' , resourceType='dtc/commerce/components/content/promotionsTile'}" class="col-md-6 smaller-tile"></div>
               <div data-sly-resource="${ @path='promotionsTile2' , resourceType='dtc/commerce/components/content/promotionsTile'}" class="col-md-6 smaller-tile"></div>
            </div>
            <div data-sly-resource="${ @path='promotionsBanner' , resourceType='dtc/commerce/components/content/promotionsBanner'}" class="larger-tile-column col-lg-9 col-md-12 no-gutter"></div>
         </div>
         <div name="7Layout" data-sly-test="${properties.selectLayout == '7'}" data-sly-unwrap>
            <div class="row">
               <div class="col-lg-3 smaller-tile-column no-gutter">
                  <div data-sly-resource="${ @path='promotionsTile1' , resourceType='dtc/commerce/components/content/promotionsTile'}" class="col-md-6 smaller-tile"></div>
                  <div data-sly-resource="${ @path='promotionsTile2' , resourceType='dtc/commerce/components/content/promotionsTile'}" class="col-md-6 smaller-tile"></div>
               </div>
               <div data-sly-resource="${ @path='promotionsBanner' , resourceType='dtc/commerce/components/content/promotionsBanner'}" class="larger-tile-column col-lg-9 col-md-12 no-gutter"></div>
            </div>
            <div class="row smaller-tile-column no-gutter">
               <div class="col-sm-12 no-gutter">
                  <div data-sly-resource="${ @path='promotionsTile3' , resourceType='dtc/commerce/components/content/promotionsTile'}" class="smaller-tile smaller-tile-bottom col-md-6"></div>
                  <div data-sly-resource="${ @path='promotionsTile4' , resourceType='dtc/commerce/components/content/promotionsTile'}" class="smaller-tile smaller-tile-bottom col-md-6"></div>
                  <div data-sly-resource="${ @path='promotionsTile5' , resourceType='dtc/commerce/components/content/promotionsTile'}" class="smaller-tile smaller-tile-bottom col-md-6"></div>
                  <div data-sly-resource="${ @path='promotionsTile6' , resourceType='dtc/commerce/components/content/promotionsTile'}" class="smaller-tile smaller-tile-bottom col-md-6"></div>
               </div>
            </div>
         </div>
         <div class="row view-all">
            <a ng-href="${properties.viewAllPath}.html">
            <button class="view-all-button">${properties.viewAllLabel}</button>
            </a>
         </div>
      </div>
   </div>
</div>