<js data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" data-sly-call="${clientLib.js @ categories='dtc.commerce.pdpCrossSell'}" data-sly-unwrap></js>
<div data-sly-test="${wcmmode.edit}"> Please edit this component to configure properties of CrossSell </div>
<div class="container-fluid no-gutter" ng-controller="pdpCrosssellComponentController as ctrl" >
   <div ng-show="visible" class="pdp-crosssell-section" >
   <div class="pdp-page-heading col-xs-12">
         <h2>${properties.recommendation}</h2>
   </div>
   <div class="row">
       <div class="col-xs-10 col-xs-offset-1 col-sm-8 col-sm-offset-2 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
         <secondary-carousel product-data="recos" slick-type="slickType" slick-config="slickSecondaryConfig"
         data-sly-include="/apps/dtc/commerce/components/content/cartRecommendations/secondaryCarousel.html"></secondary-carousel>
      </div>
   </div> 
   </div>
</div>