<js data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" data-sly-call="${clientLib.js @ categories='dtc.core.homePageCategories'}" data-sly-unwrap></js>
<sly data-sly-test="${wcmmode.edit}">
    <h2>Click here to Edit DTC Home Page Categories</h2>
</sly>
<input type="hidden" id="categories" value="${properties.categories}"/>
<input type="hidden" id="headerParams" value="${properties.headerParams}"/>
<input type="hidden" id="headerText" value="${properties.header}"/>
<input type="hidden" id="descriptionText" value="${properties.description}"/>

<div ng-init="ctrl.init();" class="featured-categories-container"  ng-controller="homePageCategoriesController as ctrl">
  <div class="featured-categories-components">
	<div class="row featured-catagories-banner-parent">
	 <div class="col-xl-6 col-lg-4 catagory-tiles-child no-gutter">
		<div class="featured-categories-banner">
		  <div class="featured-banner-container">
			<h2 class="banner-title m-b-0">{{ctrl.headerText}}</h2>
			<p class="banner-text">{{ctrl.descriptionText}}</p>
		  </div>
		</div>
	  </div>
	 <div ng-repeat="categories in ctrl.categoriesValues" class="col-xl-3 col-lg-4 col-md-3 col-sm-6 category-details">
	  <a class="category-item"  ng-href="{{categories.categoryUrl}}.html">
		  <div class="category-image"><img ng-src="{{categories.imageUrl}}" class="img-category"></div>
		  <div class="category-text">
			<label class="title-category" >{{categories.categoryText}}</label>
		  </div>
	  </a>
	 </div>
	</div>
  </div>
</div>