<div class="container-fluid category-standard">
<div class="row">
    <div ng-style="{'background-image': 'url(${properties.heroBannerImage})'}" class="col-sm-12 category-directory-banner">
      <div class="col-lg-5 col-md-6 col-sm-6 category-snapshot hidden-sm-down">
        <h1 class="headline">${properties.heroHeadingText}</h1>
        <p>${properties.heroDescription}</p>
      </div>
    </div>
    <div class="col-sm-12 category-snapshot-down">
      <h1 class="headline center">${properties.heroHeadingText}</h1>
      <p>${properties.heroDescription}</p>
    </div>
    <div class="col-sm-12 category-directory-info">
      <h5 class="center">${properties.personalCareTitle}</h5>
      <h1 class="center">${properties.categoryTitle}</h1>
    </div>
    <div class="col-sm-12 refine-and-sort">
      <div class="col-md-12 hidden-sm-down show-refined-items">${properties.preCountDescription} {{$root.searchCountResult}} ${properties.postCountDescription}</div>
      
      <div class="col-sm-12 showing-items">
        <center>${properties.preCountDescription} {{$root.searchCountResult}} ${properties.postCountDescription}</center>
      </div>
    </div>
</div>
</div>