<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Author id : Deloitte Digital
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/-->
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='dtc.signin.signinform'}" data-sly-unwrap/>
<div class="signincontent" ng-controller="signInModuleComponentController as ctrl" ng-cloak>
  <div class="logincontainer clearfix">
    <div class="loginimage clearfix">
      <h1 class="signin center">${properties.signinHeaderLbl}</h1>
    </div>
    <div class="signincontainer clearfix">
      <div class="signinsection tooltipwrapper clearfix">
        <form name="logindetails" ng-submit="ctrl.submitlogin()" novalidate class="signupform" ng-init="ctrl.initLoginForm()">
          <legend><span class="welcomemessage">${properties.signinwelcmeText}</span></legend><a ng-click="ctrl.socialLogin(this.socialLoginProvider='facebook')" class="btn btn-social btn-facebook col-xs-12" style="display:none;">
            <div class="social-media-icon"></div>
            <div class="social-media-text">${properties.signinSocialMediaText}</div></a>
          <div class="content-seperator" style="display:none;"><span class="divider">
              <p>${properties.orButtonLabel}</p></span></div>
          <div class="form-group section-padding">
            <div class="form-group user-name">
              <label class="form-label">${properties.signInUsernameTxt}
               <button id="dropdownInfo" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" class="dropdown-trigger"><span>${properties.infoButtonLabel}</span></button>
                <div aria-labelledby="dropdownLogin" class="dropdown-menu">
                  <p class="dropdown-title p-x-2">${properties.tipText}</p>
                  <p class="dropdown-content p-x-2">${properties.customerCareText}<a>${properties.phnNoText}</a>${properties.forAssistanceText}</p>
                </div>
              </label>
              <input maxlength="320" ng-pattern='/^[^\s]+$/' id="userName" type="email" name="username" ng-model="ctrl.username" ng-focus="focus=true" ng-blur="ctrl.entervalue(ctrl.username);focus=false;" ng-class="{'ng-touched': ctrl.clickedsignin || !focus , 'ng-valid': focus, 'ng-invalid': ctrl.usernameempty || (!ctrl.match &amp;&amp; ctrl.clickedsignin) || !ctrl.match }" class="form-control" autocapitalize="none" autocomplete="off" autocorrect="off" >
              <span ng-show="!focus && ((ctrl.clickedsignin &amp;&amp; ctrl.usernameempty) || (!ctrl.match &amp;&amp; (!ctrl.usernameempty &amp;&amp; ctrl.clickedsignin)) || !ctrl.match)" class="error-block">${properties.signinmandatefldmsg}</span>
              <span ng-show="!focus && (!ctrl.match &amp;&amp; (!ctrl.usernameempty &amp;&amp; ctrl.clickedsignin))" class="error-block">${properties.signinvalierrmsg}</span><a ng-click="ctrl.redirectforgotusername()" ng-show=false class="btn btn-link forgetlink" id="forgetlink">${properties.forgotUserNameLabel}</a>
            </div>
            <div class="form-group m-b-2">
              <password-field credentials="ctrl.credentials" is-required="ctrl.isRequired" is-submitted="logindetails.$submitted"></password-field>
              <password-field-values data-sign-in-password-label="${properties.signInPasswordLbl}" data-sign-in-password-mandatory-field="${properties.signinpasswdmandatefldmsg}"/>
              <a ng-click="ctrl.redirectforgotpassword()" class="btn btn-link forgetlink" id="forgetlink">${properties.forgotPasswordLabel}</a>
            </div>
			<div id="loginErrorMsgText" class="form-group error-block" style="display:none"></div>
			<div class="error-container col-sm-12 m-t-0" id="incorrectUPMsg" style="display:none">
			<strong class="error-block">${properties.incorrectUPMsg1}</strong><br>
			<span>${properties.incorrectUPMsg2}</span>
			</div>
			<div class="error-container col-sm-12 m-t-0" id="attemptsMsg" style="display:none">
			<strong class="error-block">${properties.attemptsMsgPart1}</strong><br>
			</div>
			<div class="error-container col-sm-12 m-t-0" id="accountLockedMsg" style="display:none">
			<span class="error-block">${properties.accountLockedMsg1}</span>
			<strong class="error-block">${properties.accountLockedMsg2}</strong>
			</div>
			<div class="beta-account p-x-1 p-y-1" id="betaMsg" style="display:none">
              <p><b>${properties.accountNotActivated}</b></p>
              <p class="m-b-0">${properties.accountNotActivatedInfo}</p>
            </div>
            <div class="m-b-2 checkbox">
              <input type="checkbox" name="rememberme" id="rememberme" value="test" ng-model="ctrl.isRememberMe">
              <label class="rememberme">${properties.signinRememberMeLbl}</label>
            </div>
            <div class="form-group m-b-1">
              <input id="Signin" type="submit" value="${properties.signinSingInBut}" class="btn btn-primary col-lg-12">
            </div>
            <div class="form-group">
              <input id="Signup" type="button" value="${properties.signinSignUpBut}" ng-click="ctrl.redirectsignup()" class="btn btn-block btn-primary-outline col-lg-12">
            </div>
          </div>
        </form>
        <input type="hidden" id="sihninHomePagePath" ng-init="sihninHomePagePath='${properties.sihninHomePagePath}'" ng-model="sihninHomePagePath" value="${properties.sihninHomePagePath}"/>
        <input type="hidden" id="joinDTCPagePath" ng-init="joinDTCPagePath='${properties.joinDTCPagePath}'" ng-model="joinDTCPagePath" value="${properties.joinDTCPagePath}"/>
        <input type="hidden" id="forgotUserNamePath" ng-init="forgotUserNamePath='${properties.forgotUserNamePath}'" ng-model="forgotUserNamePath" value="${properties.forgotUserNamePath}"/>
        <input type="hidden" id="sihninForgotPasswordPagePath" ng-init="sihninForgotPasswordPagePath='${properties.sihninForgotPasswordPagePath}'" ng-model="sihninForgotPasswordPagePath" value="${properties.sihninForgotPasswordPagePath}"/>
        <input type="hidden" id="sihninSignUpPagePath" ng-init="sihninSignUpPagePath='${properties.sihninSignUpPagePath}'" ng-model="sihninSignUpPagePath" value="${properties.sihninSignUpPagePath}"/>
        <input type="hidden" id="sihninAccLinkingPagePath" value="${properties.sihninAccLinkingPagePath}"/>
        <input type="hidden" id="loggedInRedirectionPagePath" value="${properties.loggedInRedirectionPagePath}"/>
        <input type="hidden" id="sessionexpiredmsg" value="${properties.sessionexpiredmsg}"/>
      </div>
    </div>
  </div>
</div>
