<ng-form name="customLoginForm" novalidate="novalidate">
  <div class="form-group">
    <label class="form-label">{{ctrl.title}}</label>
    <div ng-if="ctrl.isEmailOrPhone">
      <input ng-model="ctrl.credentials.userDetailsField" type="text" placeholder="Email or Phone" name="userDetailField" ui-mask="{{ctrl.maskFormat}}" ng-blur="ctrl.onChange(customLoginForm, true)" ui-options="ctrl.maskOptions" ui-mask-placeholder="" ng-class="ctrl.isSubmitted?'ng-touched':''" ng-required="ctrl.isRequired" autocomplete="off" class="form-control" autocapitalize="none" autocorrect="off">
      <div ng-if="(customLoginForm.$error &amp;&amp; customLoginForm.userDetailField.$touched) || ctrl.isSubmitted" class="error-block">
        <div ng-if="customLoginForm.$error.required">Your email address or phone number is required</div>
        <div ng-if="customLoginForm.$error.pattern || customLoginForm.$error.mask">Your email address or phone number is Invalid</div>
      </div>
    </div>
    <div ng-if="ctrl.isEmail">
      <input ng-model="ctrl.credentials.userEmailField" type="email" placeholder="email@domain.com" name="userEmailField" ng-required="ctrl.isRequired" ng-blur="ctrl.onChange(customLoginForm, true);focus=false;ctrl.checkUserName(customLoginForm)" ng-focus="focus=true;ctrl.isEmailDuplicate=false;" fieldspinner display="ctrl.displayFieldSpinner" autocomplete="off" ng-pattern="ctrl.patterns.email" ng-class="{'ng-touched':  (!focus &amp;&amp; ctrl.isSubmitted) || (customLoginForm.userEmailField.$touched &amp;&amp; !focus), 'ng-valid': focus || !(customLoginForm.$error.pattern), 'ng-invalid': (customLoginForm.$error.pattern &amp;&amp; customLoginForm.$error.required)}" maxlength="320" class="form-control" autocapitalize="none" autocorrect="off">
      <div ng-if="(customLoginForm.$error &amp;&amp; customLoginForm.userEmailField.$touched &amp;&amp;  !focus) || (ctrl.isSubmitted &amp;&amp;  !focus)" class="error-block">
        <div ng-if="customLoginForm.$error.required">Your email address is required</div>
        <div ng-if="customLoginForm.$error.pattern">Your email address is Invalid</div>
      </div>
      <div ng-if="ctrl.isEmailDuplicate" class="error-block p-b-1">{{ctrl.emailDuplicatedError}}</div>
    </div>
    <div ng-if="ctrl.isPhone">
      <input ng-model="ctrl.credentials.userPhoneField" type="tel" placeholder="Mobile Number" name="userPhoneField" ui-mask="(999) 999-9999" model-view-value="true" ui-options="ctrl.maskOptions" ui-mask-placeholder="" ng-blur="ctrl.onChange(customLoginForm, true)" ng-required="ctrl.isRequired" autocomplete="off" ng-class="ctrl.isSubmitted?'ng-touched':''" class="form-control" autocapitalize="none" autocorrect="off">
      <div ng-if="(customLoginForm.$error &amp;&amp; customLoginForm.userPhoneField.$touched) || ctrl.isSubmitted" class="error-block">
        <div ng-if="customLoginForm.$error.required">Your phone number is required</div>
        <div ng-if="customLoginForm.$error.pattern || customLoginForm.$error.mask">Your phone number is Invalid</div>
      </div>
    </div>
  </div>
</ng-form>