<div data-sly-test="${wcmmode.disabled && pageProperties.securedPage}">
	<input type="hidden" name="authenticatedRedirectPage" value="${pageProperties.secureRedirect}" />
	<js data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" data-sly-call="${clientLib.js @ categories='mec.core.authenticatedRedirect'}" data-sly-unwrap></js>
	<div ng-controller="authRedirectCtrl"></div>
</div>