<!--/*
    Copyright 2015 Adobe Systems Incorporated
  
    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at
  
        http://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/-->
<!--/* Include the site client libraries (loading only the CSS in the header, JS will be loaded in the footer) */-->
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.css @ categories='dtc.main'}" data-sly-unwrap/>

<!--/* Include Adobe Dynamic Tag Management libraries for the header */-->
<sly data-sly-include="/libs/cq/cloudserviceconfigs/components/servicelibs/servicelibs.jsp" data-sly-unwrap/>

<!--/* Initializes the Experience Manager authoring UI */-->
<sly data-sly-include="/libs/wcm/core/components/init/init.jsp" data-sly-unwrap/>

<!--/* Include the site client libraries (loading only the JQuery in  Publish) */-->
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-test="${!wcmmode.edit || !wcmmode.preview}" data-sly-call="${clientLib.js @ categories='dtc.jquery'}" data-sly-unwrap/>


<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='dtc.core.angular'}" data-sly-unwrap/>

<script type="text/javascript">
    
    var mulesoftHybrisEndpoint,
    atlasServiceEndPoint,
    mulesoftHybrisGuestEndpoint,
    
    mulesoftSolrEndpoint,

    mulesoftStorefrontEndpoint,
    
    mulesoftMECStorefrontEndpoint,

    mulesoftTokenEndpoint,
    
    mulesoftClientId,
    mulesoftClientSecret,
    
    s3BucketURL,
    shortenServiceUrl,
    shortenServiceKey,
    
    qasServiceEndpoint,
    analyticsJsUrl,
    gigyaURL,
    gigyaApiKey,
    gigyaCommentsDomain,
    gigyaSecretKey,
    gigyaUserKey,
    googleApiKey,
    sprinklrBaseURL,
    marketDateMaskFormat;

</script>
<div data-sly-use.configService="com.dtc.core.services.EnvironmentConfig" data-sly-unwrap>

    <input type="hidden" name="mulesoft-hybris-endpoint" value="${configService.mulesoftHybrisEndpoint}" />
     <input type="hidden" name="atlas_service_url" value="${configService.atlas_service_url}" />
    <input type="hidden" name="mulesoft-hybris-guest-endpoint" value="${configService.mulesoftHybrisGuestEndpoint}" />
    
    <input type="hidden" name="mulesoft-solr-endpoint" value="${configService.mulesoftSolrEndpoint}" />
    
    <input type="hidden" name="mulesoft-storefront-endpoint" value="${configService.mulesoftStorefrontEndpoint}" />
    
    <input type="hidden" name="mulesoft-token-endpoint" value="${configService.mulesoftTokenEndpoint}" />
    
    <input type="hidden" name="mulesoft-client-id" value="${configService.mulesoftClientId}" />
    <input type="hidden" name="mulesoft-client-secret" value="${configService.mulesoftClientSecret}" />
    
    <input type="hidden" name="s3-bucket-URL" value="${configService.s3BucketURL}" />
    <input type="hidden" name="shorten-service-url" value="${configService.shortenServiceUrl}" />
    <input type="hidden" name="shorten-service-key" value="${configService.shortenServiceKey}" />
	<input type="hidden" name="google-Api-Key" value="${configService.googleApiKey}" />
</div>


<!--/* Include the site client libraries (loading only the JS in the footer, CSS was loaded in the header) */-->
<sly data-sly-use.clientLib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientLib.js @ categories='dtc.main'}" data-sly-unwrap/>

<loader-component display-loader="showGlobalLoader"></loader-component>

<script type="text/javascript">
	function injectJs(gigyaURL, gigyaApiKey) {
	    var scr = document.createElement('script');
	    scr.type="text/javascript";
	    scr.id="gigyaScriptApp";
	    scr.src= "https://cdns.gigya.com/JS/gigya.js?apikey=3_S3gkUpwBx5u_H6rOqG10HAKt22bzWnhB1SSkM6X_cbByscbye6vR17cv8kzwIJ2-";
	    scr.innerHTML =  "{"+
	        					"siteName: 'jasonr.gigya-cs.com',"+
	    						"customEventMap: {"+
	      							"defaultMethod: function(ev){"+
	                                    "console.log(ev);"+
										"if(ev.response && ev.response.errorCode == \"400096\" && ev.response.requestParams.initialResponse.errorCode == \"200010\") {"+
											"globalRegToken = ev.response.requestParams.initialResponse.regToken;"+
	          								"findConflictingAccounts();"+
	                                    "}"+
	      							"},"+
	      							"eventMap : [{events: 'afterSubmit', args: ['$event']}]"+
	    						"}"+
	  					"}";
	
	    document.getElementsByTagName('head')[0].appendChild(scr);
	
	}
    
    var mulesoftHybrisEndpoint = $('input[name=mulesoft-hybris-endpoint]').val();
    var atlasServiceEndPoint=$('input[name=atlas_service_url ]').val();
    var mulesoftHybrisGuestEndpoint = $('input[name=mulesoft-hybris-guest-endpoint]').val();
    
    var mulesoftSolrEndpoint = $('input[name=mulesoft-solr-endpoint]').val();

    var mulesoftStorefrontEndpoint = $('input[name=mulesoft-storefront-endpoint]').val();
    
    var mulesoftTokenEndpoint = $('input[name=mulesoft-token-endpoint]').val();
    
    var mulesoftClientId = $('input[name=mulesoft-client-id]').val();
    var mulesoftClientSecret = $('input[name=mulesoft-client-secret]').val();
    
    var s3BucketURL = $('input[name=s3-bucket-URL]').val();
    var gigyaApiKey = $('input[name=gigya-apikey]').val();
    var shortenServiceUrl = $('input[name=shorten-service-url]').val();
    var shortenServiceKey = $('input[name=shorten-service-key]').val();
	var googleApiKey = $('input[name=google-Api-Key]').val();
    injectJs();
</script>
