<js data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" data-sly-call="${clientLib.js @ categories='dtc.commerce.topTenSellers'}" data-sly-unwrap></js>
<div data-sly-test="${wcmmode.edit}"> Please edit to configure the Top 10 Sellers component</div>
<div class="container-fluid category-standard ten-products-main" data-sly-use.topSellers="com.dtc.commerce.productdetail.sightly.TopTenSellersPojo">
  <div class="row" ng-controller="topTenSellersController as topTenCtrl" ng-hide="topTenCtrl.inParamVal">
    <div class="col-sm-12 category-heading no-gutter">
      <h3 class="center"><span>${properties.topSellersTitle}</span><em class="center"></em></h3>
      <div class="product-standard-container">
	<div data-sly-list.product="${topSellers.sellersList}" data-sly-unwrap>
      <div class="col-lg-3 col-md-4 col-sm-6 product-standard no-gutter product-view">
		<div class="pdp-product-view">
            <input type="hidden" value="${product.productSku}" name="prodSKU"></input>
            <input type="hidden" value="${product.parentProductSku}" name="parentProdSKU"></input>
            <div class="col-sm-12"  >
			<div ng-if=false ng-click="productCtrl.toggle()" ng-show="!topTenCtrl.show" class="category-favorite">
			  <button ng-class="{active: productCtrl.isShown}" class="favorite">
				<svg width="20px" height="18px" viewbox="0 0 24 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="heart">
				  <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
					<g id="heart-outline" transform="translate(1.000000, 0.000000)" stroke="#999">
					  <path id="fill" d="M22.3634,0.9763 C19.9054,0.9763 17.1654,1.9943 15.9764,5.2263 C15.8984,5.4373 15.5944,5.4293 15.5214,5.2163 C14.4144,1.9913 11.5714,0.9763 9.1154,0.9763 C4.4974,0.9763 0.7394,5.0363 0.7394,10.0263 C0.7394,12.3713 1.5684,14.5963 3.0754,16.2903 L15.0314,28.2673 C15.4224,28.6583 16.0564,28.6593 16.4484,28.2673 L28.1794,16.5343 C29.8234,14.8303 30.7394,12.5113 30.7394,10.0263 C30.7394,5.0363 26.9814,0.9763 22.3634,0.9763" fill="#ffffff"></path>
					</g>
				  </g>
				</svg>
			  </button>
			</div>
		  </div>
		  <div class="col-sm-12 pdp-product-catalogue pdp-product-viewed pointer"><a ng-href="${product.productLink}"><img src="${product.productImage}" ></a></div>
		  <div class="col-sm-12 pdp-product-title no-gutter">
			<a ng-href="${product.productLink}" class="no-gutter">${product.productName}</a>
			<div class="clearfix visible-sm"></div>
			<star-rating rating-value="" max="topTenCtrl.max" class="pdp-product-category-stars">
				<div  class="star-rating-component star-big">
				  <div class="star-rating-hover stars-${product.parentProductSku}"></div>
				</div>
			</star-rating>
			<div  class="stock-status" >
				<p ng-show="false" class="stock-${product.productSku}-LS">${'Low Stock' @ i18n}</p>
                <p ng-show="false" class="stock-${product.productSku}-OS">${'Out of Stock' @ i18n}</p>
                <p ng-show="false" class="stock-${product.productSku}-BO">${'On Backorder' @ i18n}</p>			
			</div>
		  </div>
		  <div class="col-sm-12 pdp-product-rate no-gutter"><span class="price-${product.productSku}"></span><i class="psvSeperator-${product.productSku}" ng-hide="topTenCtrl.hidePSV">|</i><psv class="psv-color psvSeperator-${product.productSku}" ng-hide="topTenCtrl.hidePSV">${'PSV' @ i18n} </psv><span class="psv-color" ng-hide="topTenCtrl.hidePSV" class="psv-${product.productSku}" ></span></div>
		  <div class="col-sm-12 purchase-link no-gutter"><a ng-href="${product.productLink}">${'Purchase' @ i18n}</a></div>
		</div>
      </div>
      </div>
      </div>
    </div>
  </div>
</div>