<div ng-if="ctrl.displayLoader" class="loading-animation">
  <div class="dots dot-1"></div>
  <div class="dots dot-2"></div>
  <div class="dots dot-3"></div>
  <div class="dots dot-4"></div>
  <div class="dots dot-5"></div>
</div>