
<div class="custom-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header"><a ng-click="ctrl.goBackAndEdit()"><span class="icn-chevron"></span><span class="back-lbl">{{ctrl.back}}</span></a></div>
      <div class="modal-body clearfix">
        <h3 class="m-x-1">{{ctrl.modalHeading}}</h3>
        <iframe ng-src="{{ctrl.trustUrl(ctrl.srcUrl)}}" class="iframe"></iframe>
        <div class="iframe-wrapper">
          <iframe ng-src="{{ctrl.srcUrl}}" class="iframe"></iframe>
        </div>
        <div class="col-sm-12 m-t-1">
          <button ng-click="ctrl.goBackAndEdit()" class="btn btn-primary-outline">{{ctrl.goBack}}</button>
        </div>
      </div>
    </div>
  </div>
</div>