
<div class="modal-header">
  <div class="clearfix">
    <div ng-click="ctrl.goBackAndEdit();" class="pointer cross-icon pull-right"></div>
  </div>
  <div class="heading-section center-section"><span>Verify Address Details</span></div>
</div>
<div class="modal-body">
  <div class="desc-section"><span ng-if="!ctrl.addressInvalid">Sorry, we do not recognize your address. To proceed, please choose from one of the options below.</span><span ng-if="ctrl.addressInvalid">The Address provided is Invalid, Please Re-Enter the Address</span></div>
  <div class="entered-address-section">
    <div class="heading-section">
      <p class="small text-uppercase m-b-0">ENTERED ADDRESS</p>
    </div>
    <div class="small-desc-section">
      <p class="small">(This address may be undeliverable)</p>
    </div>
  </div>
  <div screen-width ng-class="{'m-b-2': width &lt; 768}" ng-if="ctrl.addressData" class="original-entered-address-section">
    <div><span ng-if="ctrl.addressData.addressLine1">{{ctrl.addressData.addressLine1}}</span><span ng-if="ctrl.addressData.addressLine2">&nbsp;{{ctrl.addressData.addressLine2}},</span></div>
    <div><span ng-if="ctrl.addressData.city">{{ctrl.addressData.city}}</span><span ng-if="ctrl.addressData.state">, {{ctrl.addressData.state}}&nbsp;</span><span ng-if="ctrl.addressData.zip">{{ctrl.addressData.zip}}</span></div>
  </div>
  <div class="submit-section">
    <div class="go-ahead-section">
      <button ng-click="ctrl.useEnteredAddress();" class="btn btn-primary"><span class="text-uppercase">USE ENTERED ADDRESS</span></button>
    </div>
    <div class="edit-click-section">
      <button ng-click="ctrl.goBackAndEdit();" class="btn btn-primary-outline fullWidth"><span class="text-uppercase">EDIT</span></button>
    </div>
  </div>
  <div class="or-section relative">
    <div class="or-cross-line-section fullWidth"></div>
    <div align="center" class="center-section relative or-circle-section"><span class="or-text-section">OR</span></div>
  </div>
  <div screen-width ng-class="{'m-t-2': width &lt; 768}" class="choose-section">
    <p class="small text-uppercase">CHOOSE FROM POTENTIAL MATCHES</p>
  </div>
  <div screen-width ng-class="{'m-b-2': width &lt; 768}" class="choose-address-list-section">
    <div class="clearfix toggle-label-section">
      <p ng-if="!ctrl.isAddressListVisible" ng-click="ctrl.isAddressListVisible = !ctrl.isAddressListVisible;" class="toggle-label pointer pull-left m-b-0">Display All</p>
      <p ng-if="ctrl.isAddressListVisible" ng-click="ctrl.isAddressListVisible = !ctrl.isAddressListVisible;" class="toggle-label pointer pull-left m-b-0">Hide All</p>
    </div>
    <div class="address-form-section" ng-if="ctrl.isAddressListVisible">
      <form name="form.selectAddressForm" class="m-b-0" ng-if="(!ctrl.invalidAddress && ctrl.isAddressListVisible)">
          <p></p>
        <div ng-repeat="item in ctrl.suggestionsData" ng-init="ctrl.selectedAddress = ctrl.suggestionsData[0]" class="choose-address-list">
          <div class="radio">
           <input type="radio" name="addressList" ng-value="item" ng-model="ctrl.selectedAddress" ng-required="true" class="form-control">
            <label>
              <div class="address-radio-label">
                <div><span ng-if="item.addressLine1">{{item.addressLine1}},</span><span ng-if="item.addressLine2">&nbsp;{{item.addressLine2}},</span></div>
                <div><span ng-if="item.city">{{item.city}}</span><span ng-if="item.state">, {{item.state}}&nbsp;</span><span ng-if="item.zip">{{item.zip}}</span></div>
              </div>
            </label>
          </div>
        </div>
        <div screen-width ng-class="{'m-t-2': width &lt; 768}" class="selected-address-section">
          <button type="button" ng-click="ctrl.goWithSelectedAddress(form.selectAddressForm.$valid, ctrl.selectedAddress)" class="btn btn-primary m-b-0"><span>USE SELECTED ADDRESS</span></button>
        </div>
      </form>
    </div>
  </div>
</div> 