<js data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" data-sly-call="${clientLib.js @ categories='dtc.commerce.pdpCategoryStandard'}" data-sly-unwrap></js>
<div class="container-fluid category-standard">
<div class="row">
<div data-sly-use.product="com.dtc.commerce.productdetail.sightly.ProductDetailUsePojo" ng-controller="pdpCategoryStandardController as productCtrl" ng-style="{'background-image': 'url(${properties.categoryImagePath})'}" class="col-sm-12 category-highlight" >
    <div class="product-highlight">
   		<input type="hidden" name="product-sku" value="${properties.skuid}" />
        <h2>${properties.title}</h2>
        <p>${product.categoryProductDescription}</p><a href="${properties.productPath}${product.categoryProductUrl}">${product.categoryProductName}</a>
        <div class="col-sm-12 no-gutter" ng-controller="RatingController as ratingCtrl">
            <star-rating rating-value="ctrl.selRating" max="5" class="pdp-product-category-stars" data-sly-include="/apps/dtc/commerce/components/content/pdpCategoryStandard/starRating.html"></star-rating>
			<div class="pdp-product-rating-count">{{ratingCtrl.ratings.streamInfo.commentCount}}</div>
        </div>
        <div class="col-sm-12 pdp-product-rate no-gutter"><span ng-bind="productCtrl.price"></span><i ng-hide="productCtrl.hidePSV">|</i> <span ng-hide="productCtrl.hidePSV">${'PSV' @ i18n} {{productCtrl.minPvv | number:2}}</span><span ng-show="showSeperator" ng-bind="seperator"> </span><span ng-hide="productCtrl.hidePSV" ng-bind="productCtrl.maxPvv | number:2"></span></div>
        <div class="col-sm-12 no-gutter">
            <button class="btn btn-primary-outline" ng-click="productCtrl.addProductToCart(productCtrl.sku)" >${'Purchase' @ i18n}</button>
        </div>
    </div>
</div>
</div>
</div>