<js data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" data-sly-call="${clientLib.js @ categories='dtc.commerce.dsFeaturedBundles'}" data-sly-unwrap></js>
<div data-sly-test="${wcmmode.edit}"> Please edit to configure properties of DS Homepage - Featured Bundles </div>
<div class="msf-bundle-container" ng-controller="dsFeaturedBundlesController as ctrl">
<input type="hidden" name="errorMessage" value="${properties.errorMessage}" />
  <div class="msf-bundle-content">
    <h1 class="header-text">${properties.heading}</h1>
    <div class="teal-line"></div>
    <div class="header-description">      
      <p class="description">{{ctrl.bundleMessage}}</p>
    </div>    
    <div class="product-container">
      <div class="product-data-tiles">
        <div ng-repeat="data in recos track by $index" class="product-tile"><img ng-src="{{data.productImage}}" alt="img" height="auto" width="auto" class="product-image">
          <div ng-if="(recos.length == 4 &amp;&amp; $index != 2) || (recos.length == 3) || (recos.length == 2) || (recos.length == 5)" ng-class="(recos.length == 2?'circle-middle':'')" class="circle-plus hidden-md-down test-{{$index}}">
            <div class="plus">+</div>
          </div>
          <div class="circle-plus show-status">
            <div class="plus">+ </div>
          </div>
          <p class="product-description">{{data.name}}</p>
          <p ng-show="false" class= "availability-indicator-{{data.skuid}}-LS">${'Low Stock' @ i18n}</p>
          <p ng-show="false" class= "availability-indicator-{{data.skuid}}-OS">${'Out of Stock' @ i18n}</p>
          <p ng-show="false" class= "availability-indicator-{{data.skuid}}-BO">${'On Backorder' @ i18n}</p>
          <p ng-if="data.message" class="indicator-message">{{data.message}}	</p>          
          
        </div>
      </div>
      <div class="purchase-bundle">
        <button class="btn bundle-button" ng-click="ctrl.addProductToCart(recos)"><span class="bundle-text">${properties.purchaseBundle}</span><span class="bundle-price">{{ctrl.totalCost}}</span></button>
      </div>
    </div>
  </div>
</div>