<div ng-if="ctrl.viewType == 1" class="producttile product-tile-container" ng-controller="PopoverController as popctrl">
  <div ng-class="{deactivate : ctrl.isDeleted || ctrl.isFavorited &amp;&amp; ctrl.ifFavUndoVisible}" class="tile col-sm-12 col-md-12 col-lg-12 no-gutter">
    <div class="tile-image col-sm-4 col-md-4 col-lg-4 no-gutter">
      <div class="product-image center-block"><a ng-href="{{product.product_link}}" ><img ng-src="{{product.imagePathList}}" alt="{{product.product_name}}" height="100%" width="100%" class="img-responsive"></a>
        <div ng-if=false ng-click="ctrl.toggleFavorite()" class="media-favorite-container">
          <button ng-class="{active: product.isFavorite}" class="favorite">
            <svg width="20px" height="18px" viewbox="0 0 24 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="heart">
              <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"></g>
              <g id="heart-outline" transform="translate(1.000000, 0.000000)" stroke="#999">
                <path id="fill" d="M22.3634,0.9763 C19.9054,0.9763 17.1654,1.9943 15.9764,5.2263 C15.8984,5.4373 15.5944,5.4293 15.5214,5.2163 C14.4144,1.9913 11.5714,0.9763 9.1154,0.9763 C4.4974,0.9763 0.7394,5.0363 0.7394,10.0263 C0.7394,12.3713 1.5684,14.5963 3.0754,16.2903 L15.0314,28.2673 C15.4224,28.6583 16.0564,28.6593 16.4484,28.2673 L28.1794,16.5343 C29.8234,14.8303 30.7394,12.5113 30.7394,10.0263 C30.7394,5.0363 26.9814,0.9763 22.3634,0.9763" fill="#ffffff"></path>
              </g>
            </svg>
          </button>
        </div>
      </div>
    </div>
    <div class="product-name col-sm-8 col-md-6 col-lg-8 no-gutter">
      <div class="col-lg-12"><a ng-href="{{product.product_link}}"><span class="col-md-12 col-lg-6 col-xl-7 product-title no-gutter" ng-bind="product.product_name"></span></a><span ng-if="product.show_price" class="col-md-12 col-lg-6 col-xl-5 product-price no-gutter"><price ng-bind="product.product_price"></price><line ng-hide="product.hidePSV"> | ${'PSV' @ i18n} </line><psv ng-hide="product.hidePSV" ng-bind="product.product_psv | number:2"></psv><span ng-show="product.psvSeperator" ng-bind="seperator"> </span><psv ng-hide="product.hidePSV" ng-bind="product.product_maxpsv | number:2"></psv></span></div>
      <div class="col-lg-12">
      	<span class="show-stars col-md-12 col-lg-6 col-xl-7 no-gutter">
			<div class = "media-stars">
			  <star-rating class="pdp-product-category-stars" data-sly-include="starRating.html"></star-rating>
			  <span class="ratings-text">{{popctrl.ratingDataArr.streamInfo.commentCount}}</span>
			</div>
		</span>
		<div class="add-to-bag atb-large col-md-12 col-lg-6 col-xl-5 no-gutter">
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12 no-gutter">
						<a class="animate"  ng-href="{{product.product_link}}">${'Purchase' @ i18n}</a>
					</div>
				</div>
			</div>
		</div>
		<div class="clearfix visible-lg"></div>
		<div ng-if="product.product_Stock_Status.length" class="stock-status">
			<p ng-if="product.product_Stock_Status=='OS'">${'Out of Stock' @ i18n}</p>
			<p ng-if="product.product_Stock_Status=='CS'">${'Coming Soon' @ i18n}</p>
			<p ng-if="product.product_Stock_Status=='LS'">${'Low Stock' @ i18n}</p>
			<p ng-if="product.product_Stock_Status=='BO'">${'On Backorder' @ i18n}</p>
		</div>
	  </div>
      <div class="mobile-only-price col-sm-12"><span ng-if="product.show_price" class="col-md-12 col-lg-6 no-gutter" ><price ng-bind="product.product_price"></price><line ng-hide="product.hidePSV"> | ${'PSV' @ i18n} </line><psv ng-hide="product.hidePSV" ng-bind="product.product_psv | number:2"></psv><span ng-show="product.psvSeperator" ng-bind="seperator"> </span><psv ng-hide="product.hidePSV" ng-bind="product.product_maxpsv | number:2"></psv></span><span class="add-to-bag col-md-12 col-lg-6 no-gutter">
          	<div class="container-fluid "><div class="row"><div class="col-lg-12 no-gutter">
				<a class="animate"  ng-href="{{product.product_link}}">${'Purchase' @ i18n}</a>
			</div></div></div></span></div>
            <div class="col-md-12 col-lg-7 prod-desc-parent"><span class="product-desc" ng-bind="product.product_desc"></span></div>
    </div>
    <div class="mobile-only-desc col-sm-12 prod-desc-parent"><span class="product-desc" ng-bind="product.product_desc"></span></div>
    <div ng-if=false ng-click="ctrl.toggleFavorite()" class="media-favorite-container mobile-only-favorite">
      <button ng-class="{active: product.isFavorite}" class="favorite">
        <svg width="20px" height="18px" viewbox="0 0 24 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="heart">
          <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"></g>
          <g id="heart-outline" transform="translate(1.000000, 0.000000)" stroke="#999">
            <path id="fill" d="M22.3634,0.9763 C19.9054,0.9763 17.1654,1.9943 15.9764,5.2263 C15.8984,5.4373 15.5944,5.4293 15.5214,5.2163 C14.4144,1.9913 11.5714,0.9763 9.1154,0.9763 C4.4974,0.9763 0.7394,5.0363 0.7394,10.0263 C0.7394,12.3713 1.5684,14.5963 3.0754,16.2903 L15.0314,28.2673 C15.4224,28.6583 16.0564,28.6593 16.4484,28.2673 L28.1794,16.5343 C29.8234,14.8303 30.7394,12.5113 30.7394,10.0263 C30.7394,5.0363 26.9814,0.9763 22.3634,0.9763" fill="#ffffff"></path>
          </g>
        </svg>
      </button>
    </div>
  </div>
</div>
<div ng-if="ctrl.viewType == 0" class="grid-view-layout" ng-controller="PopoverController as popctrl">
  <div ng-class="{deactivate : ctrl.isDeleted || ctrl.isFavorited &amp;&amp; ctrl.ifFavUndoVisible}" class="tile col-sm-12">
	  <div class="tile-image">
	    <div class="product-image center-block"><a ng-href="{{product.product_link}}" ><img ng-src="{{product.imagePathGrid}}" alt="{{product.product_name}}" height="100%" width="100%" class="img-responsive"></a>
	      <div ng-if=false ng-click="ctrl.toggleFavorite()" class="media-favorite-container">
	        <button ng-class="{active: product.isFavorite}" class="favorite">
	          <svg width="20px" height="18px" viewbox="0 0 24 21" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="heart">
	            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"></g>
	            <g id="heart-outline" transform="translate(1.000000, 0.000000)" stroke="#999">
	              <path id="fill" d="M22.3634,0.9763 C19.9054,0.9763 17.1654,1.9943 15.9764,5.2263 C15.8984,5.4373 15.5944,5.4293 15.5214,5.2163 C14.4144,1.9913 11.5714,0.9763 9.1154,0.9763 C4.4974,0.9763 0.7394,5.0363 0.7394,10.0263 C0.7394,12.3713 1.5684,14.5963 3.0754,16.2903 L15.0314,28.2673 C15.4224,28.6583 16.0564,28.6593 16.4484,28.2673 L28.1794,16.5343 C29.8234,14.8303 30.7394,12.5113 30.7394,10.0263 C30.7394,5.0363 26.9814,0.9763 22.3634,0.9763" fill="#ffffff"></path>
	            </g>
	          </svg>
	        </button>
	      </div>
	    </div>
	    <div class="product-details col-md-12 col-lg-12 no-gutter"><a ng-href="{{product.product_link}}"><span class="col-md-12 col-lg-12 product-title no-gutter" ng-bind="product.product_name" ></span></a>
		<span class="show-stars col-md-12 col-lg-12 no-gutter">
	       <div class = "media-stars">
	          <star-rating class="pdp-product-category-stars" data-sly-include="starRating.html"></star-rating>
	          <span class="ratings-text">{{popctrl.ratingDataArr.streamInfo.commentCount}}</span>
			</div>
		</span>
	    <div class="clearfix visible-lg"></div>
		<div ng-if="product.product_Stock_Status.length" class="stock-status">
			<p ng-if="product.product_Stock_Status=='OS'">${'Out of Stock' @ i18n}</p>
			<p ng-if="product.product_Stock_Status=='CS'">${'Coming Soon' @ i18n}</p>
			<p ng-if="product.product_Stock_Status=='LS'">${'Low Stock' @ i18n}</p>
			<p ng-if="product.product_Stock_Status=='BO'">${'On Backorder' @ i18n}</p>
	    </div>
		<span ng-if="product.show_price" class="col-md-12 col-lg-12 product-price no-gutter" ><price ng-bind="product.product_price"></price><line ng-hide="product.hidePSV"> | ${'PSV' @ i18n} </line><psv ng-hide="product.hidePSV" ng-bind="product.product_psv | number:2"></psv><span ng-show="product.psvSeperator" ng-bind="seperator"> </span><psv ng-hide="product.hidePSV" ng-bind="product.product_maxpsv | number:2"></psv></span><span class="add-to-bag col-md-12 col-lg-12 no-gutter">
	        	<div class="container-fluid "><div class="row"><div class="col-lg-12 no-gutter">
					<a class="animate"  ng-href="{{product.product_link}}">${'Purchase' @ i18n}</a>
				</div></div></div></span></div>
	  </div>
  </div>
</div>