<sly data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"
     data-sly-call="${clientLib.js @ categories='dtc.commerce.utils, dtc.commerce.solrQueryService, granite.csrf.standalone'}"
     data-sly-unwrap/>
<js
	data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"
	data-sly-call="${clientLib.js @ categories='dtc.commerce.productSearchList'}"
	data-sly-unwrap></js>
<div data-sly-test="${wcmmode.edit}">Please click here to edit the Search List component </div>
<input type="hidden" id="toptenparams" ng-init="toptenparams='${properties.toptenparams}'" ng-model="toptenparams" value="${properties.toptenparams}"/>
<div ng-if="resultFound!=0" ng-controller="productSearchListController as ctrl">
<input type="hidden" name="pdpBasePath" value="${properties.pdpBasePath}" />
<sly data-sly-use.rendition="com.dtc.commerce.productdetail.service.ProductsRenditionService">
    <input type="hidden" name="searchListRendition" value="${rendition.getProductSearchListRendition}"/>
    <input type="hidden" name="searchGridRendition" value="${rendition.getProductSearchGridRendition}"/>
</sly>
<div ng-if="ctrl.noData" class="empty"></div>
<div ng-if="!ctrl.noData" class="product-search-list-container clearfix col-xs-12 col-sm-12 col-md-12 col-lg-12 no-gutter">
  <div class="header-bar row">
    <button type="button" ng-if="false" ng-click="ctrl.callFilter();" class="refine hide-button-outline"><span class="refine-icon"></span><span>Refine</span></button>
    <button type="button" ng-class="(ctrl.viewType == 0) ? 'active' : ''" ng-click="ctrl.setViewType(0)" class="view-type hide-button-outline grid-button"><span class="grid-icon"></span><span></span></button>
    <button type="button" ng-class="(ctrl.viewType == 0) ? 'inactive' : ''" ng-click="ctrl.setViewType(1)" class="view-type hide-button-outline list-button"><span class="list-icon"></span><span></span></button>
  </div>
  <div id="filter-product" ng-class="{'filter-mobile': ctrl.isMobileMode}" class="no-gutter col-sm-12 col-md-4 col-lg-4 col-xl-3">
    <div class="col-sm-12 reset header-container">
      <div class="filter-header">
        <h3 class="result-text">150 Results</h3>
      </div>
      <div>
        <label ng-click="ctrl.resetFilter();" class="filter-text pointer">RESET FILTER</label>
        <label ng-click="ctrl.callFilter();" class="filter-close pointer">DONE</label>
      </div>
    </div>
    <div class="col-sm-12 filtercontainer reset">
      <div ng-repeat="filter in ctrl.filterData.data" ng-click="ctrl.change(true,filter, $event);ctrl.hideCurrentFilter(filter.filter_type)" class="filter-row pointer">
        <div class="row reset">
          <div class="col-sm-10 no-gutter">
            <div ng-class="{'float-top': (!filter.isFilterSelected &amp;&amp; filter.selectedFilterType)}" class="filter-name white">{{filter.filter_type}}</div>
            <div ng-show="!filter.isFilterSelected &amp;&amp; filter.selectedFilterType" class="filter-selcted-name white">
              <lable class="selected-option">{{filter.selectedFilterType}}</lable>
            </div>
          </div>
          <div class="col-sm-2 no-gutter">
            <div ng-show="!filter.isDropdownOpen" class="dropdown-img-down dropdown-container"></div>
            <div ng-show="filter.isDropdownOpen" class="dropdown-img-up dropdown-container"></div>
          </div>
          <div ng-show="filter.showFilterOptions" ng-init="ctrl.setLimit(filter);" class="col-sm-12 no-gutter">
            <div ng-if="filter.filter_category == 'count'" class="opt-container">
              <div ng-repeat="option in filter.filter_options | limitTo:filter.limit as results" ng-click="ctrl.selectOption(option.option_value,filter.filter_type)" class="option-row row reset pointer">
                <div class="option-text col-sm-10">
                  <div class="opt">
                    <div ng-show="option.color" ng-style="{'background-color': '{{option.color}}'}" class="color-icon"></div><img ng-show="option.icon_url" ng-src="{{option.icon_url}}" class="option-icon">
                    <label ng-class="{'selected-option': option.currentSelected}" class="option-list-text">{{option.option_value}}</label>
                  </div>
                </div>
                <div class="option-count col-sm-2">
                  <div class="opt">
                    <label class="option-list">25</label>
                  </div>
                </div>
              </div>
              <div ng-click="filter.limit = filter.filter_options.length;ctrl.change(false,filter, $event);" ng-show="filter.limit &lt; filter.filter_options.length" class="see-more">See More</div>
              <div ng-click="filter.limit = 5;ctrl.change(false,filter, $event);" ng-show="filter.limit == filter.filter_options.length &amp;&amp; filter.limit &gt; 8 " class="see-more">See Less</div>
            </div>
          </div>
          <div ng-show="!filter.showFilterOptions" class="col-sm-12 separator-line-filter"></div>
        </div>
      </div>
      <div ng-repeat="filterToggle in ctrl.filterData.toggleData" class="filter-row">
        <div class="row reset">
          <div class="col-sm-12 no-gutter">
            <div class="filter-name">
              <label class="filter-name white">{{filterToggle.filter_type}}</label>
              <label class="switch">
                <input type="checkbox" ng-model="filterToggle.isSelected">
                <div class="slider round"></div>
              </label>
            </div>
          </div>
          <div class="col-sm-12 separator-line-filter"></div>
        </div>
      </div>
    </div>  
  </div>
  <div id="list-product" ng-class="{'padding-zero': ctrl.showFilter}" class="col-sm-12 col-md-12 col-lg-12 col-xl-12 no-gutter">
    <div scrolly="ctrl.loadMore()" class="row reset">
      <section class="col-sm-12 search-list-tab-container no-gutter">
		<uib-tabset active="active">
          <!--/* <uib-tab index="0" heading="Products ({{ctrl.totalProducts}})" ng-click="ctrl.setActiveTab = 'products'"> */-->
          	<div ng-if="ctrl.viewType == 0" class="product-grid-parent-flex">
          		<div id="lists{{$index}}" data-sly-include="productTile.html"  list-item="product" ng-repeat="product in ctrl.searchResult track by $index | limitTo:ctrl.queryLength" class="product-flex-tile"></div>
         	</div>
          	<div ng-if="ctrl.viewType == 1" class="product-list-parent">
          		<div id="lists{{$index}}" data-sly-include="productTile.html"  list-item="product" ng-repeat="product in ctrl.searchResult track by $index | limitTo:ctrl.queryLength"></div>
         	</div>         	
          <!--/*</uib-tab>
           <uib-tab index="1" heading="Videos" ng-click="ctrl.setActiveTab = 'videos'">
            <div>Videos</div>
          </uib-tab>
          <uib-tab index="2" heading="Articles" ng-click="ctrl.setActiveTab = 'documents'">
            <div>Articles</div>
          </uib-tab>
          <uib-tab index="3" heading="Documents" ng-click="ctrl.setActiveTab = 'articles'">
            <div>Documents</div>
          </uib-tab> */-->
        </uib-tabset>
        <div ng-show="ctrl.showLoader" class="lazy-loading-animation">

                      <div class="lazy-dots dot-1"></div>
                      <div class="lazy-dots dot-2"></div>
                      <div class="lazy-dots dot-3"></div>
                      <div class="lazy-dots dot-4"></div>
                      <div class="lazy-dots dot-5"></div>

                </div>
		<!-- <div ng-show="ctrl.showLoader" class="lazy-load">
            <center><img ng-src="/etc/clientlibs/dtc/core/main/css/src/assets/images/css/lazy-loader.gif"></center>
        </div> -->
      </section>
    </div>
  </div>
</div>
</div>
<div class="clearfix visible-sm"></div>