<div ng-controller="PopoverController as ctrl" ng-class="ctrl.starClass" class="star-rating-component ">
  <div ng-style="{'background-position':ctrl.starRating}"  class="star-rating-hover"></div>
</div>
