<div data-sly-use.tile="tileImage.js" onclick="window.location.href='${properties.tileNavigation @ context = 'text'}.html';">
	<div class="promo-tile">
		<div class="promo-text">
			<h1>${properties.tileHeading}</h1>
			<span>${properties.tileDescription}</span>
		</div>
		<div class="promo-image">
			<img ng-src="${tile.secondImage.path}" />
		</div>
	</div>
</div>