<js
	data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"
	data-sly-call="${clientLib.js @ categories='dtc.commerce.pdpUpSell'}"
	data-sly-unwrap></js>
<div data-sly-test="${wcmmode.edit}"> Please edit this component to configure properties of Up Sell </div>
<div class="pdp-upsell-container container-fluid clearfix"
	ng-controller="pdpUpsellComponentController as upSellCtrl">
	<div class="row clearfix pdp-upsell-section" ng-show="componentVisible" >
		<div class="pdp-upsell-header col-xs-12 clerfix">
			<h2 class="col-xs-12">${properties.componentHeading}</h2>
			<p class="col-xs-12">${properties.updateHeader}</p>
		</div>
		<div class="pdp-upsell-body clearfix">
			<div class="upsell-row clearfix row reset row-eq-height">
				<div
					class="upsell-productA col-xl-4 col-lg-6 col-md-6 col-sm-12 reset">
					<div class="row-eq-height">
						<div class="product-img col-md-4 col-sm-3">
                            <div class="product-img-container col-sm-12 reset">
								<img ng-src="{{upSellCtrl.imgPrimaryProd}}" alt="{{upSellCtrl.productNamePrimary}}"
									height="100%" width="100%">
							</div>
						</div>
						<div class="product-desc col-md-7 col-sm-9">
							<div class="product-heading col-sm-12 no-gutter" ng-bind="upSellCtrl.productNamePrimary"></div>
							<div class="short-desc col-sm-12 no-gutter" ng-bind="upSellCtrl.shortDescriptionPrimary"></div>
						</div>
						<div class="product-add-symbol-container">
							<div class="product-add-symbol"></div>
						</div>
					</div>
				</div>
				<div
					class="upsell-productB col-xl-4 col-lg-6 col-md-6 col-sm-12 reset">
					<div class="row-eq-height">
						<div class="product-img col-md-4 col-sm-3">
							<div class="product-img-container col-xs-12 reset">
								<a ng-href="${properties.productPath}{{upSellCtrl.upSellProdUrl}}" class="upsell-link" upsell-name="{{upSellCtrl.upSellProdName}}"><img
									ng-src="{{upSellCtrl.upSellProdImage}}" alt="{{upSellCtrl.upSellProdName}}"
									height="100%" width="100%"></a>
							</div>
						</div>
						<div class="product-desc col-md-7 col-sm-9">
							<div class="product-heading col-sm-12 no-gutter">
								<a ng-href="${properties.productPath}{{upSellCtrl.upSellProdUrl}}" class="upsell-link" upsell-name="{{upSellCtrl.upSellProdName}}">{{upSellCtrl.upSellProdName}}</a>
							</div>
							<div class="short-desc col-sm-12 no-gutter">{{upSellCtrl.upSellProdShortDescription}}</div>
						</div>
					</div>
				</div>
				<div
					class="upsell-price col-xl-4 col-lg-4 col-lg-12 col-md-12 col-sm-12 reset">
					<div class="row row-eq-height">
						<div class="upsell-button-wrapper col-sm-12 col-xs-12">
							<button type="button"
								class="upsell-button btn btn-primary-outline col-sm-12 no-padding upsell-add-cart"
								ng-click="addUpsellToCart()">
								<span class="button-fixed-text">${properties.buttonText}</span><br> <span class="button-floating-text">{{currency}}{{newPrice
									| number:2}}</span>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>