<js data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" data-sly-call="${clientLib.js @ categories='dtc.commerce.welcomeMessageDS'}" data-sly-unwrap></js>
<div data-sly-use.welcomeMsgImages="welcomeMsgImages.js"></div>
<div ng-controller="welcomeMessageController as ctrl" class="container-fluid no-gutter account-linking">
  <div class="row welcome-header">
  <input type="hidden" name="welcomeMessageDialog" value="${properties.welcomeMessage}" />
    <div class="content-wrapper">
      <div class="imgwrapper-welcome">
        <div class="avatar-block">
        	<img ng-if="!ctrl.distributorImage" ng-src="${welcomeMsgImages.avatarImage.path}" alt="" width="100" class="avatar">
        	<img ng-if="ctrl.distributorImage" src="{{ctrl.distributorImage}}" alt="" width="100" class="avatar"/>
        </div>
      </div>
      <div class="text-wrapper">
        <div class="welcome-title inverse">
          <h2 class="m-b-0">${properties.helloText}{{ctrl.distributorName}}.&nbsp;${properties.welcomeToStore}</h2>
        </div>
        <div class="welcome-text inverse">
          <p ng-if="!ctrl.welcomeText">${properties.welcomeMessage}</p>
          <p ng-if="ctrl.welcomeText" ng-bind="ctrl.welcomeText"></p>
        </div>
      </div>
    </div>
  </div>
</div>