<js
	data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"
	data-sly-call="${clientLib.js @ categories='dtc.commerce.pdpUpSellKit'}"
	data-sly-unwrap></js>
<div data-sly-test="${wcmmode.edit}"> Please edit to configure properties of UpSell Kit</div>
<div ng-controller="pdpUpsellKitComponentController"
	class="pdp-upsellkit-container container-fluid clearfix">
	<div ng-show="componentVisible" class="row clearfix pdp-upsell-section">
		<div class="pdp-upsell-header col-sm-12 clerfix reset">
			<h2 class="col-sm-12">${properties.headerText @ context='html'}</h2>
			<p class="col-sm-12">${properties.tagLine @ context='html'}</p>
		</div>
		<div class="pdp-upsell-body col-sm-12 clerfix reset">
			<div class="upsell-row clearfix row reset">
				<div class="upsell-productA col-sm-12 col-md-6 reset">
					<div class="product-img col-sm-4 reset">
						<div class="product-img-container col-sm-12 reset">
							<a ng-href="${properties.productPath}{{upSellKitProdUrl}}" class="upsell-kit-link" upsell-kit-name="{{productName}}"><img
								ng-src="{{kitImage}}" alt="{{productName}}"
								height="100%" width="100%"></a>
						</div>
					</div>
					<div class="product-desc col-sm-8 reset">
						<div class="product-heading col-sm-12 reset">
							<a ng-href="${properties.productPath}{{upSellKitProdUrl}}" class="upsell-kit-link" upsell-kit-name="{{productName}}">{{productName}}</a>
						</div>
						<div class="short-desc col-sm-12 reset">{{shortDescription}}</div>
						<div class="short-desc2 col-sm-12 reset">
							<span ng-bind="upsellKitPrice"></span><span class="separator" ng-hide="hidePSV"> | </span><psv ng-hide="hidePSV">${'PSV' @ i18n} </psv><span ng-hide="hidePSV" ng-bind="psvValue | number:2"></span>
						</div>
					</div>
					<div></div>
				</div>
				<div class="upsell-price col-sm-12 col-md-6 reset">
					<div class="upsell-button-wrapper col-sm-12 col-md-9 col-md-push-2">
						<button type="button"
							class="upsell-button btn btn-primary-outline upsell-kit-add-cart"
							ng-click="addUpsellKitToCart()">
							<span class="button-fixed-text">${properties.buttonText @
								context='html'}</span><br> <span class="button-floating-text"
								ng-bind="upsellKitPrice"></span>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>