<table>
  <col width="10%">
  <col width="90%">
  <tr>
    <td><b>Type</b></td>
    <td><b>Text Testimonial</b></td>
  </tr>
  <tr>
	<td>Text</td>
    <td>${properties.text}</td>
  </tr>
  <tr>
    <td>Name</td>
    <td>${properties.name}</td>
  </tr>
  <tr>
    <td>Age</td>
    <td>${properties.age}</td>
  </tr>
</table>
<br>