<div data-sly-test="${wcmmode.edit}">[Author Edit Mode]</div>
<script src="${properties.storefrontBundleJSUrl || '/etc/designs/components/dtc/commerce/bundle.js'}"></script>

<script data-sly-use.ph="com.dtc.signup.components.PropertiesHelper" >
    var jsonString = ${ph.jsonString @ context='unsafe'};

    if ("undefined" !=  typeof mecStorefront) {

        //mecStorefront.configManager.getSiteConfig("mec", "US");
        mecStorefront.configManager.setConfig(mecStorefront.MARKET_US);

        //mecStorefront.strings.load(mecStorefront.EN_US);

        mecStorefront.strings.load(jsonString);

        angular.module("dtc").requires.push("dtc-common");
        angular.module("dtc").requires.push("dtc-storefront");
    }
</script>

<ui-view></ui-view>