<!--/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
  ~ Author id : Deloitte Digital
  ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/-->
<js
	data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}"
	data-sly-call="${clientLib.js @ categories='dtc.core.header'}"
	data-sly-unwrap> </js>
<div class="nav-header"
	data-sly-use.header="com.dtc.core.use.GlobalHeaderUsePojo"
	ng-controller="headerNavController as vm" ng-init="vm.loadMenuData()">

	<div data-sly-use.profileComponent="profileimage.js" data-sly-unwrap>
    </div>

    	<input type="hidden" name="profileImageReferencePath" id="profileImageReferencePath" value="${profileComponent.distributorSetupImage.path}">
		<input type="hidden" name="resourcePath" id="resourcePath" value="${currentPage.getPath}">
		<input type="hidden" id="homePagePath" name="homePage" value="${properties.homePagePath}" ></input>
		<input type="hidden" id="browsererror" name="browsererror" value="${properties.browsererror}" ></input>
	<div class="row reset">
		<div data-toggle="modal" data-target="#sideMenu"
			ng-click="vm.openMenu()"
			class="col-sm-4 col-md-2 nav-header-menu reset">
			<div class="nav-header-menu-container">
				<span>SHOP</span>
			</div>
		</div>
		<div ng-if="vm.accType=='distributor'"
			class="col-sm-4 col-md-8 col-lg-3 nav-header-logo common-logo reset">
			<div>
				<img src="/etc/clientlibs/dtc/core/main/css/src/assets/images/css/ic-brand-logo.svg" ng-click="vm.gotoShopLandingPage('${properties.shopLandingPagePath}')" class="logo-sm-md">
				<img src="/etc/clientlibs/dtc/core/main/css/src/assets/images/css/ic-brand-logo.svg" ng-click="vm.gotoShopLandingPage('${properties.shopLandingPagePath}')" class="logo-lg-xl">
			</div>
			<div data-sly-test=false class="distributor-details-lg-xl">
				<div class="distributor-name-lg-xl">{{firstName}} {{lastName}}</div>
				<div class="distributor-contact-lg-xl">CONTACT ME</div>
			</div>
		</div>
		<div ng-if="vm.accType!='distributor'"
			class="col-sm-4 col-md-8 col-lg-3 nav-header-logo common-logo reset">
			<div>
			<img src="/etc/clientlibs/dtc/core/main/css/src/assets/images/css/ic-brand-logo.svg" ng-click="vm.gotoShopLandingPage('${properties.shopLandingPagePath}')" class="logo-sm-md">
			<img src="/etc/clientlibs/dtc/core/main/css/src/assets/images/css/ic-brand-logo.svg" ng-click="vm.gotoShopLandingPage('${properties.shopLandingPagePath}')" class="logo-lg-xl">
			</div>
			</div>
		<div class="col-lg-7 nav-header-center-menu reset">
			<div class="col-lg-9 menu-dropdown no-gutter" ng-click='vm.hideSubCategory($event)'>
				<div id="dropdown-category"
					ng-click="vm.showSubCategory('heading1')"
					ng-class="vm.activeSubCategory=='heading1'?'active':''"
					class="dropdown-category">
					<span>${header.heading1.headingName}</span>
				</div>
				<div class="menu-seperator"></div>
				<div id="dropdown-category"
					ng-click="vm.showSubCategory('heading2')"
					ng-class="vm.activeSubCategory=='heading2'?'active':''"
					class="dropdown-category">
					<span>${header.heading2.headingName}</span>
				</div>
				<div class="menu-seperator"></div>
				<div id="dropdown-category"
					ng-click="vm.showSubCategory('heading3')"
					ng-class="vm.activeSubCategory=='heading3'?'active':''"
					class="dropdown-category">
					<span>${header.heading3.headingName}</span>
				</div>
			</div>
			<div data-toggle="modal" data-target="#headerSearch"
				ng-click="vm.showSearch=true" class="col-lg-3 menu-search">
				<form name="form" novalidate="novalidate" ng-submit=""
					class="center-menu-search-form">
					<div class="form-group">
						<div class="search-icon"></div>
						<input id="searchInput"
							type="text" name="searchInput"
							placeholder="${properties.productsPlaceholder}"
							ng-model="vm.headerSearch" ng-focus="vm.searchMode=true"
							class="form-control searchInput">
					</div>
				</form>
			</div>
		</div>
		<div ng-click="vm.showAccountModal()" class="col-sm-2 col-md-1 nav-header-profile reset" id="showMyAccountId">
		  <!--<div ng-if="vm.accType!='guest'" class="col-sm-12 col-xl-5 nav-header-profile-logo reset"><img ng-src="{{accImage!=''?accImage:'/etc/clientlibs/dtc/core/main/css/src/assets/images/css/ic-profile-blue.svg'}}"></div>-->
		  <div ng-if="vm.accType!='guest'" class="col-sm-12 col-xl-5 nav-header-profile-logo reset"><img ng-src="{{accImage!=''?accImage:'${header.profileImageRefPathBlue}'}}"></div>
		  <div ng-if="vm.accType!='guest'" class="col-xl-7 reset nav-header-profile-text left">{{vm.accTypeDesc}}</div>
		  <div ng-if="vm.accType=='guest'" class="col-sm-12 col-xl-4 nav-header-profile-logo guest-profile-logo reset"></div>
		  <div ng-if="vm.accType=='guest'" class="col-xl-12 reset nav-header-profile-text">Sign In or Join</div>
		  <div ng-if="vm.showAccountInfo" class="acc-info-arrow"></div>
		</div>

		<div class="col-sm-2 col-md-1 nav-header-cart reset" ng-click="vm.gotoCart('${properties.shoppingBagPath}')">
			<div ng-if="vm.items &gt; 0" class="header-cart-value"><span ng-bind="vm.items"></span></div>
		</div>
	</div>
	<div ng-click="vm.hideModal($event);" ng-if="vm.showAccountInfo" class="overlay" id="showAccountInfo"></div>
	<div ng-class="vm.showAccountInfo?'show-info':''" class="account-info no-gutter" id="showAccountInfoId">
    <div class="customer-distributor-info">
      <div class="col-sm-12 profile-info no-gutter">
        <div ng-if="vm.accType=='distributor'" class="profile-distributor">
          <div class="col-sm-4 col-lg-4 col-lg-offset-1 acc-img no-gutter"><img ng-src="{{vm.accLevel}}" class="acc-level"><img ng-src="{{accImage!=''?accImage:'${header.profileImageRefPathWhite}'}}"></div>

          <div class="col-sm-8 col-lg-7 acc-name no-gutter break-long-text" ng-if="preferredName">{{preferredName}} {{lastName}}</div>
          <div class="col-sm-8 col-lg-7 acc-name no-gutter break-long-text" ng-if="!preferredName">{{firstName}} {{lastName}}</div>

        </div>
        <div ng-if="vm.accType=='customer'" class="profile-customer">
          <div class="col-sm-4 col-lg-4 col-lg-offset-1 acc-img no-gutter"><img ng-src="{{accImage!=''?accImage:'${header.profileImageRefPathWhite}'}}"></div>

          <div class="col-sm-8 col-lg-7 acc-name no-gutter break-long-text" ng-if="preferredName">{{preferredName}} {{lastName}}</div>

          <div class="col-sm-8 col-lg-7 acc-name no-gutter break-long-text" ng-if="!preferredName">{{firstName}} {{lastName}}</div>

        </div>
      </div>
      <div ng-if="vm.accType=='distributor'" class="col-sm-12 distributor-placeholder-links no-gutter">
          <sly data-sly-use.headerComp="header.js" data-sly-unwrap>
              <sly data-sly-list.header="${headerComp.customComponents}" data-sly-unwrap>
                    <div><a href="" id="${header.customButtonLabel}${header.index}" ng-click="vm.handleCustomAction(this.customActionPath='${header.customButtonActionURL}',this.index='${header.index}')">${header.customButtonLabel}</a></div>
             </sly>
          </sly>
      </div>
      <div class="col-sm-12 acc-tabs no-gutter" ng-if="vm.showAccountInfo">
        <div class="col-sm-12 acc-settings border-all no-gutter"><a href='' ng-click="vm.handleMenuAction(this.customActionPath='nvgaccsettpath',this.index='',false,false)">${properties.nvgaccsettmenulbl}</a></div>
        <div ng-if="vm.accType=='distributor'" class="col-sm-4 acc-links border-left border-bottom no-gutter"><a href="" ng-click="vm.handleMenuAction(this.customActionPath='nvgprospectpath',this.index='',false,false)">
            <div class="acc-link-img prospecting-link"></div>                ${properties.nvgprospectmenulbl}</a></div>
        <div ng-if="vm.accType=='distributor'" class="col-sm-4 acc-links border-left border-bottom border-right no-gutter"><a href="" ng-click="vm.handleMenuAction(this.customActionPath='nvgmediacenterpath',this.index='',false,false)">
            <div class="acc-link-img media-center-link"></div>              ${properties.nvgmediacentermenulbl}</a></div>
        <!-- Hidden the field for alpha release -->
        <div ng-hide="true" ng-if="vm.accType=='distributor'" class="col-sm-4 acc-links border-right border-bottom no-gutter"><a href="" ng-click="vm.handleMenuAction(this.customActionPath='nvgmystorepath',this.index='',false,false)">
            <div class="acc-link-img my-store-link"></div>              ${properties.nvgmystorelbl}</a></div>
        <div ng-if="vm.accType=='distributor'" class="col-sm-4 acc-links border-left border-bottom border-right no-gutter"><a href="" ng-click="vm.handleMenuAction(this.customActionPath='nvgmbsstorypath',this.index='',false,false)">
            <div class="acc-link-img mbs-share-link"></div>                ${properties.nvgmbsstorylbl}</a></div>
        <!-- Hidden the field for alpha release -->
        <div ng-hide="true" ng-if="vm.accType=='distributor'" class="col-sm-4 acc-links border-left border-bottom no-gutter"><a href="" ng-click="vm.handleMenuAction(this.customActionPath='nvgtrainingpath',this.index='',false,false)">
            <div class="acc-link-img training-link"></div>                ${properties.nvgtrainingmenulbl}</a></div>
        <!-- Hidden the field for alpha release -->
        <div ng-hide="true" class="col-sm-4 acc-links border-left border-bottom border-right no-gutter"><a href="" ng-click="vm.handleMenuAction(this.customActionPath='nvgorderspath',this.index='',false,false)">
            <div class="acc-link-img orders-link"></div>                ${properties.nvgorderslbl}</a></div>
        <div ng-if="vm.accType=='customer'" ng-hide="true" class="col-sm-4 acc-links border-bottom border-right no-gutter"><a href="" ng-click="vm.handleMenuAction(this.customActionPath='nvgshippingpath',this.index='',false,false)">
            <div class="acc-link-img shipping-link"></div>                ${properties.nvgshippinglbl}</a></div>
        <div ng-if="vm.accType=='customer'" ng-hide="true" class="col-sm-4 acc-links border-bottom border-right no-gutter"><a href="" ng-click="vm.handleMenuAction(this.customActionPath='nvgpaymentpath',this.index='',false,false)">
            <div class="acc-link-img payment-link"></div>                ${properties.nvgpaymentlbl}</a></div>
      </div>
    </div>
    <div ng-if="vm.accType=='distributor'" class="distributor-links">
      <div class="col-sm-12 text-center no-gutter"><a href="" ng-click="vm.handleMenuAction(this.customActionPath='nvgvolgenpath',this.index='',false,true)">${properties.nvgvolgenlbl}</a></div>
      <div class="col-sm-12 text-center no-gutter"><a href="" ng-click="vm.handleMenuAction(this.customActionPath='nvgdocsearchpath',this.index='',false,true)">${properties.nvgdocsearchlbl}</a></div>
      <div class="col-sm-12 text-center no-gutter"><a href="" ng-click="vm.handleMenuAction(this.customActionPath='nvgbackofcpath',this.index='',false,true)">${properties.nvgbackoffclbl}</a></div>
    </div>
    <div ng-click="vm.handleMenuAction(this.customActionPath='nvgsignoutpath',this.index='',true,false)" class="acc-sign-out col-sm-12 no-gutter"  ng-class="{'customer-sign-out':vm.isCustomer}"><span>${properties.nvgsignoutlbl}</span></div>
    <input type="hidden" id="nvgaccsettpath" value="${properties.nvgaccsettpath}"/>
    <input type="hidden" id="nvgprospectpath" value="${properties.nvgprospectpath}"/>
    <input type="hidden" id="nvgtrainingpath" value="${properties.nvgtrainingpath}"/>
    <input type="hidden" id="nvgmediacenterpath" value="${properties.nvgmediacenterpath}"/>
    <input type="hidden" id="nvgorderspath" value="${properties.nvgorderspath}"/>
    <input type="hidden" id="nvgmystorepath" value="${properties.nvgmystorepath}"/>
    <input type="hidden" id="nvgmbsstorypath" value="${properties.nvgmbsstorypath}"/>
    <input type="hidden" id="nvgmbsstorypathtaken" value="${properties.nvgmbsstorypathtaken}"/>
    <input type="hidden" id="nvgshippingpath" value="${properties.nvgshippingpath}"/>
    <input type="hidden" id="nvgpaymentpath" value="${properties.nvgpaymentpath}"/>
    <input type="hidden" id="nvgvolgenpath" value="${properties.nvgvolgenpath}"/>
    <input type="hidden" id="nvgdocsearchpath" value="${properties.nvgdocsearchpath}"/>
    <input type="hidden" id="nvgbackofcpath" value="${properties.nvgbackofcpath}"/>
    <input type="hidden" id="nvgsignoutpath" value="${properties.nvgsignoutpath}"/>
    <input type="hidden" id="nvgsigninpath" value="${properties.nvgsigninpath}"/>
  </div>
	<div data-sly-test=false  ng-if="vm.accType=='distributor'"
		class="col-sm-12 reset distributor-details-sm-md">
		<div class="col-sm-12 col-md-6 distributor-name-sm-md">Distributor
			Name</div>
		<div class="col-sm-12 col-md-6 distributor-contact-sm-md">CONTACT
			ME</div>
	</div>
	<div class="overlay-dropdown-menu" ng-if='!vm.isCategoryShown' ng-click='vm.hideSubCategory($event)'></div>
	<div id="dropdown-menu-modal" ng-if="!vm.isCategoryShown"
		 class="dropdown-menu-modal">
		<div class="sub-category">
			<div ng-if="vm.activeSubCategory == 'heading1'">
				<div data-sly-test="${header.heading1.uncategorizedLinkPairs}"
					data-sly-list.items="${header.heading1.uncategorizedLinkPairs}"
					class="col-lg-12 col-xl-9 no-gutter">
					<div class="col-lg-4 list-item">
						<a target="_self" href="${items.link1Url}" class="col-lg-12 no-gutter">${items.link1Name}</a>
						<a target="_self" href="${items.link2Url}"
							class="list-item-a col-lg-12 no-gutter">${items.link2Name}</a>
					</div>
				</div>
				<div class="col-xl-2 menu-promotion no-gutter">
					<img src="${header.heading1.promotion.imageUrl}"
						class="promotion-image">
					<div class="col-xl-10 col-xl-offset-1 promotion-header no-gutter">${header.heading1.promotion.header}</div>
					<div class="col-xl-10 col-xl-offset-1 promotion-content no-gutter">${header.heading1.promotion.content}</div>
					<a target="_self" href="${header.heading1.promotion.link.url}"
						class="col-xl-10 col-xl-offset-1 promotion-link no-gutter">
						${header.heading1.promotion.link.name} </a>
				</div>
			</div>

			<div ng-if="vm.activeSubCategory == 'heading2'">
				<div class="col-lg-12 col-xl-10 sub-category-content no-gutter">
					<div class="col-lg-3 no-gutter">
						<div class="col-lg-12 list-header no-gutter">${header.heading2.subcategory1Name}</div>
						<div data-sly-test="${header.heading2.subcategory1Links}"
							data-sly-list.items="${header.heading2.subcategory1Links}">
							<div class="col-lg-12 list-item">
								<a target="_self" href="${items.url}">${items.name}</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3 no-gutter">
						<div class="col-lg-12 list-header no-gutter">${header.heading2.subcategory2Name}</div>
						<div data-sly-test="${header.heading2.subcategory2Links}"
							data-sly-list.items="${header.heading2.subcategory2Links}">
							<div class="col-lg-12 list-item">
								<a target="_self" href="${items.url}">${items.name}</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3 no-gutter">
						<div class="col-lg-12 list-header no-gutter">${header.heading2.subcategory3Name}</div>
						<div data-sly-test="${header.heading2.subcategory3Links}"
							data-sly-list.items="${header.heading2.subcategory3Links}">
							<div class="col-lg-12 list-item">
								<a target="_self" href="${items.url}">${items.name}</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3 no-gutter">
					<div class="col-lg-12 list-header no-gutter">${header.heading2.uncategorizedName}</div>
					<div data-sly-test="${header.heading2.uncategorizedLinks}"
						data-sly-list.items="${header.heading2.uncategorizedLinks}">
						<div data-sly-test="${itemsList.even}" class="col-lg-12 list-item">
							<a target="_self" href="${items.url}">${items.name}</a>
						</div>
						<div data-sly-test="${itemsList.odd}" class="col-lg-12 list-item">
							<a target="_self" href="${items.url}">${items.name}</a>
						</div>
					</div>
					</div>
				</div>

				<div class="col-xl-2 menu-promotion no-gutter">
					<img src="${header.heading2.promotion.imageUrl}"
						class="promotion-image">
					<div class="col-xl-10 col-xl-offset-1 promotion-header no-gutter">${header.heading2.promotion.header}</div>
					<div class="col-xl-10 col-xl-offset-1 promotion-content no-gutter">${header.heading2.promotion.content}</div>
					<a target="_self" href="${header.heading2.promotion.link.url}"
						class="col-xl-10 col-xl-offset-1 promotion-link no-gutter">
						${header.heading2.promotion.link.name} </a>
				</div>
			</div>

			<div ng-if="vm.activeSubCategory == 'heading3'">
				<div class="col-lg-12 col-xl-10 sub-category-content no-gutter">
					<div class="col-lg-3 no-gutter">
						<div class="col-lg-12 list-header no-gutter">${header.heading3.subcategory1Name}</div>
						<div data-sly-test="${header.heading3.subcategory1Links}"
							data-sly-list.items="${header.heading3.subcategory1Links}">
							<div class="col-lg-12 list-item">
								<a target="_self" href="${items.url}">${items.name}</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3 no-gutter">
						<div class="col-lg-12 list-header no-gutter">${header.heading3.subcategory2Name}</div>
						<div data-sly-test="${header.heading3.subcategory2Links}"
							data-sly-list.items="${header.heading3.subcategory2Links}">
							<div class="col-lg-12 list-item">
								<a target="_self" href="${items.url}">${items.name}</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3 no-gutter">
						<div class="col-lg-12 list-header no-gutter">${header.heading3.subcategory3Name}</div>
						<div data-sly-test="${header.heading3.subcategory3Links}"
							data-sly-list.items="${header.heading3.subcategory3Links}">
							<div class="col-lg-12 list-item">
								<a target="_self" href="${items.url}">${items.name}</a>
							</div>
						</div>
					</div>
					<div class="col-lg-3 no-gutter">
					<div class="col-lg-12 list-header no-gutter">${header.heading3.uncategorizedName}</div>
					<div data-sly-test="${header.heading3.uncategorizedLinks}"
						data-sly-list.items="${header.heading3.uncategorizedLinks}">
						<div data-sly-test="${itemsList.even}" class="col-lg-12 list-item">
							<a target="_self" href="${items.url}">${items.name}</a>
						</div>
						<div data-sly-test="${itemsList.odd}" class="col-lg-12 list-item">
							<a target="_self" href="${items.url}">${items.name}</a>
						</div>
					</div>
					</div>
				</div>

				<div class="col-xl-2 menu-promotion no-gutter">
					<img src="${header.heading3.promotion.imageUrl}"
						class="promotion-image">
					<div class="col-xl-10 col-xl-offset-1 promotion-header no-gutter">${header.heading3.promotion.header}</div>
					<div class="col-xl-10 col-xl-offset-1 promotion-content no-gutter">${header.heading3.promotion.content}</div>
					<a target="_self" href="${header.heading2.promotion.link.url}"
						class="col-xl-10 col-xl-offset-1 promotion-link no-gutter">
						${header.heading3.promotion.link.name} </a>
				</div>
			</div>
		</div>
	</div>
	<div id="sideMenu" tabindex="-1" role="dialog"
		aria-labelledby="sideMenu" class="modal fade">
		<div role="document" class="modal-dialog">
			<div ng-style="{'min-height':vm.screenHeight}"
				class="modal-content side-menu">
				<div class="modal-header">
					<div ng-if="!vm.isCategoryShown||vm.searchMode"
						ng-click="vm.hideSubCategory($event)" class="side-menu-back">
						<img
							src="/etc/clientlibs/dtc/core/main/css/src/assets/images/css/ic-back.svg"
							class="back-icon">Back
					</div>
					<button type="button" data-dismiss="modal" aria-label="Close"
						class="close"></button>
					<h4 id="sideMenu" class="modal-title nav-header-logo"></h4>
				</div>
				<div class="side-menu-logo"></div>
				<div ng-if="vm.showSearch" class="side-menu-search">
					<form name="form" novalidate="novalidate"
						ng-submit="vm.submitSearch('${properties.searchNavigationPath}')" class="side-menu-search-form">
						<div class="form-group">
							<div class="search-icon"></div>
							<div ng-if="vm.headerSearch" ng-click="vm.clearValue();"
								class="clear-input"></div>
								<input ng-if="!vm.isDevice" id="sideSearchInput" ng-keyup="vm.updateNumberList($event)" type="text" name="sideSearchInput"
								placeholder="${properties.productsPlaceholder}"
								ng-model="vm.headerSearch" ng-focus="vm.showSearchMode()"
								sf-typeahead="" datasets="vm.searchDataset"
								options="vm.searchOptions"
								ng-keypress="($event.which === 13)?vm.submitSearch('${properties.searchNavigationPath}'):0"
								class="form-control searchInput typeahead"/>
								<input ng-if="vm.isDevice" id="sideSearchInput"
								type="text" name="sideSearchInput"
								placeholder="${properties.productsPlaceholder}"
								ng-model="vm.headerSearch"
								ng-keypress="($event.which === 13)?vm.submitSearch('${properties.searchNavigationPath}'):0"
								class="form-control searchInput typeahead"/>
						</div>
						<div ng-class="vm.searchMode?'show-search-mode':''"
							class="search-mode">
							<div ng-if="vm.accType=='distributor'"
								class="col-sm-12 search-optional-fields no-gutter ng-hide">
								<div ng-class="form.minPSV.$error.pattern?'invalid':''"
									class="col-sm-5 input-box no-gutter">
									<input id="minPSV" type="text" name="minPSV"
										placeholder="${properties.minPSV}" ng-model="vm.minPSV"
										pattern="[0-9]*"
										ng-keypress="($event.which === 13)?vm.submitSearch('${properties.searchNavigationPath}'):0"
										class="form-control searchInput">
								</div>
								<div class="col-sm-2 to-text no-gutter">${properties.psvLimit}</div>
								<div ng-class="form.maxPSV.$error.pattern?'invalid':''"
									class="col-sm-5 input-box no-gutter">
									<input id="maxPSV" type="text" name="maxPSV"
										placeholder="${properties.maxPSV}" ng-model="vm.maxPSV"
										pattern="[0-9]*"
										ng-keypress="($event.which === 13)?vm.submitSearch('${properties.searchNavigationPath}'):0"
										class="form-control searchInput">
								</div>
							</div>
							<span
								ng-if="form.minPSV.$error.pattern || form.maxPSV.$error.pattern"
								class="error-block">Please enter valid PSV values</span>
							<div class="col-sm-12 search-history no-gutter">
								<h5 class="margin-search">${properties.searchHistoryHeader}</h5>
								<div ng-repeat="history in vm.searchedHistoryData track by $index"
									class="searched-items">
									<a ng-href="${properties.searchNavigationPath}{{history.url}}">{{history.tile}}</a>
								</div>
							</div>
						</div>
					</form>
				</div>
				<div ng-class="vm.searchMode?'hide-content':''"
					class="side-menu-content">
					<div ng-class="vm.isCategoryShown?'':'category-hidden'"
						class="content-page1">
						<div class="side-menu-category">
							<div ng-click="vm.showSubCategory('heading1')" class="list-item">${header.heading1.headingName}</div>
							<div class="seperator"></div>
							<div ng-click="vm.showSubCategory('heading2')" class="list-item">${header.heading2.headingName}</div>
							<div class="seperator"></div>
							<div ng-click="vm.showSubCategory('heading3')" class="list-item">${header.heading3.headingName}</div>
						</div>
					</div>
					<div ng-class="!vm.isCategoryShown?'subCategory-shown':''"
						class="content-page2">
						<div class="side-menu-subCategory">
							<div class="side-menu-subCategory-header">
								<span ng-if="vm.activeSubCategoryName == 'heading1'">${header.heading1.headingName}</span>
								<span ng-if="vm.activeSubCategoryName == 'heading2'">${header.heading2.headingName}</span>
								<span ng-if="vm.activeSubCategoryName == 'heading3'">${header.heading3.headingName}</span>
							</div>
							<div class="seperator"></div>


							<div ng-if="vm.activeSubCategory == 'heading1'">
								<div data-sly-test="${header.heading1.uncategorizedLinks}"
									data-sly-list.items="${header.heading1.uncategorizedLinks}"
									class="subCategory-list-group">
									<div class="list-item">
										<a target="_self" href="${items.url}">${items.name}</a>
									</div>
								</div>
							</div>
							<div ng-if="vm.activeSubCategory == 'heading2'">
                                <div class="subCategory-list-group">
								<div data-sly-test="${header.heading2.subcategory1Name}"
									class="list-group">${header.heading2.subcategory1Name}</div>
								<div data-sly-test="${header.heading2.subcategory1Links}"
									data-sly-list.items="${header.heading2.subcategory1Links}">
									<div class="list-item">
										<a target="_self" href="${items.url}">${items.name}</a>
									</div>
								</div>
                                </div>
								<div class="subCategory-list-group">
								<div data-sly-test="${header.heading2.subcategory2Name}"
									class="list-group">${header.heading2.subcategory2Name}</div>
								<div data-sly-test="${header.heading2.subcategory2Links}"
									data-sly-list.items="${header.heading2.subcategory2Links}">
									<div class="list-item">
										<a target="_self" href="${items.url}">${items.name}</a>
									</div>
								</div>
                                </div>
								<div class="subCategory-list-group">
								<div data-sly-test="${header.heading2.subcategory3Name}"
									class="list-group">${header.heading2.subcategory3Name}</div>
								<div data-sly-test="${header.heading2.subcategory3Links}"
									data-sly-list.items="${header.heading2.subcategory3Links}">
									<div class="list-item">
										<a target="_self" href="${items.url}">${items.name}</a>
									</div>
								</div>
                                </div>
								<div class="subCategory-list-group">
								<div data-sly-test="${header.heading2.uncategorizedName}"
									class="list-group">${header.heading2.uncategorizedName}</div>
								<div data-sly-test="${header.heading2.uncategorizedLinks}"
									data-sly-list.items="${header.heading2.uncategorizedLinks}">
									<div class="list-item">
										<a target="_self" href="${items.url}">${items.name}</a>
									</div>
								</div>
                                </div>
							</div>
							<div ng-if="vm.activeSubCategory == 'heading3'">
								<div class="subCategory-list-group">
								<div data-sly-test="${header.heading3.subcategory1Name}"
									class="list-group">${header.heading3.subcategory1Name}</div>
								<div data-sly-test="${header.heading3.subcategory1Links}"
									data-sly-list.items="${header.heading3.subcategory1Links}">
									<div class="list-item">
										<a target="_self" href="${items.url}">${items.name}</a>
									</div>
								</div>
								</div>
								<div class="subCategory-list-group">
								<div data-sly-test="${header.heading3.subcategory2Name}"
									class="list-group">${header.heading3.subcategory2Name}</div>
								<div data-sly-test="${header.heading3.subcategory2Links}"
									data-sly-list.items="${header.heading3.subcategory2Links}">
									<div class="list-item">
										<a target="_self" href="${items.url}">${items.name}</a>
									</div>
								</div>
								</div>
								<div class="subCategory-list-group">
								<div data-sly-test="${header.heading3.subcategory3Name}"
									class="list-group">${header.heading3.subcategory3Name}</div>
								<div data-sly-test="${header.heading3.subcategory3Links}"
									data-sly-list.items="${header.heading3.subcategory3Links}">
									<div class="list-item">
										<a target="_self" href="${items.url}">${items.name}</a>
									</div>
								</div>
								</div>
								<div class="subCategory-list-group">
								<div data-sly-test="${header.heading3.uncategorizedName}"
									class="list-group">${header.heading3.uncategorizedName}</div>
								<div data-sly-test="${header.heading3.uncategorizedLinks}"
									data-sly-list.items="${header.heading3.uncategorizedLinks}">
									<div class="list-item">
										<a target="_self" href="${items.url}">${items.name}</a>
									</div>
								</div>
                                </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="headerSearch" tabindex="-1" role="dialog"
		aria-labelledby="headerSearch" class="modal fade">
		<div role="document" class="modal-dialog">
			<div ng-style="{'min-height':vm.screenHeight}"
				class="modal-content header-search">
				<div class="modal-header">
					<div class="col-lg-2 col-xl-3 nav-header-logo common-logo reset">
					<div><img src="/etc/clientlibs/dtc/core/main/css/src/assets/images/css/ic-brand-logo.svg" ng-click="vm.gotoShopLandingPage('${properties.shopLandingPagePath}')" class="logo-lg-xl"></div>
					</div>
					<button type="button" data-dismiss="modal" aria-label="Close"
						class="close"></button>
				</div>
				<div class="search-content">
					<div ng-if="vm.showSearch"
						class="center-menu-search col-md-4 col-md-push-4 col-lg-6 col-lg-push-3 col-xl-4 col-xl-push-4">
						<form name="form" novalidate="novalidate"
							ng-submit="vm.submitSearch('${properties.searchNavigationPath}')" class="center-menu-search-form">
							<div class="form-group">
								<div class="search-icon"></div>
								<div ng-if="vm.headerSearch" ng-click="vm.clearValue();"
									class="clear-input"></div>
								<input id="searchInput" ng-keyup="vm.updateNumberList($event)"
									type="text" name="searchInput" ng-model="vm.headerSearch"
									sf-typeahead="" datasets="vm.searchDataset"
									options="vm.searchOptions"
									class="form-control searchInput typeahead">
                                <div class="search-btn">
                                	<button type="submit" class="btn btn-primary-outline">${properties.searchButtonLabel}</button>
                                </div>
							</div>
							<div class="search-mode">
								<div class="col-sm-12 search-optional-fields no-gutter ng-hide">
									<div ng-class="form.minPSV.$error.pattern?'invalid':''"
										class="col-sm-4 input-box no-gutter">
										<input id="minPSV" type="text" name="minPSV"
											placeholder="${properties.minPSV}" ng-model="vm.minPSV"
											pattern="[0-9]*" class="form-control searchInput">
									</div>
									<div class="col-sm-1 to-text no-gutter">${properties.psvLimit}</div>
									<div ng-class="form.maxPSV.$error.pattern?'invalid':''"
										class="col-sm-4 input-box no-gutter">
										<input id="maxPSV" type="text" name="maxPSV"
											placeholder="${properties.maxPSV}" ng-model="vm.maxPSV"
											pattern="[0-9]*" class="form-control searchInput">
									</div>
									<span
										ng-if="form.minPSV.$error.pattern || form.maxPSV.$error.pattern"
										class="error-block col-lg-12 no-gutter">Please enter
										valid PSV values</span>
								</div>
								<div class="col-sm-12 search-history no-gutter">
									<h5 class="margin-search">${properties.searchHistoryHeader}</h5>
									<div ng-repeat="history in vm.searchedHistoryData track by $index"
										class="searched-items">
										<a ng-href="${properties.searchNavigationPath}{{history.url}}">{{history.tile}}</a>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<sly data-sly-include="toastMessage.html"></sly>
<sly data-sly-include="shoppingBag.html"></sly>
