<sly data-sly-use.header="com.mec.dtc.core.GlobalHeaderUsePojo">
	<uib-accordion>
        <div uib-accordion-group="" class="panel-default">
          <uib-accordion-heading>
            <h5>${header.heading2.subcategory1Name}</h5>
          </uib-accordion-heading>
          <div class="row">
          	<sly data-sly-list.items="${header.heading2.subcategory1Links}">
              <div class="col-sm-12">
                  <p><a href="${items.url}">${items.name}</a></p>
              </div>
            </sly>
          </div>
        </div>
		<div uib-accordion-group="" class="panel-default">
          <uib-accordion-heading>
            <h5>${header.heading2.subcategory2Name}</h5>
          </uib-accordion-heading>
          <div class="row">
			<sly data-sly-list.items="${header.heading2.subcategory2Links}">
            	<div class="col-sm-12">
					<p><a href="${items.url}">${items.name}</a></p>
                </div>
			</sly>
         </div>
        </div>
		<div uib-accordion-group="" class="panel-default">
          <uib-accordion-heading>
            <h5>${header.heading2.subcategory3Name}</h5>
          </uib-accordion-heading>
          <div class="row">
			<sly data-sly-list.items="${header.heading2.subcategory3Links}">
            	<div class="col-sm-12">
					<p><a href="${items.url}">${items.name}</a></p>
                </div>
			</sly>
         </div>
        </div>
		<div uib-accordion-group="" class="panel-default">
          <uib-accordion-heading>
            <h5>${properties.h2uncategorizedName}</h5>
          </uib-accordion-heading>
		  <div class="row">
			<sly data-sly-list.items="${header.heading2.uncategorizedLinks}">
            	<div class="col-sm-12">
                  <p><a href="${items.url}">${items.name}</a></p>
                </div>
			</sly>
		  </div>
        </div>
    </uib-accordion>
</sly>