<sly data-sly-use.header="com.mec.dtc.core.GlobalHeaderUsePojo">
	<div class="col-sm-2">
		<h5>${header.heading2.subcategory1Name}</h5>
		<sly data-sly-list.items="${header.heading2.subcategory1Links}"><p><a href="${items.url}">${items.name}</a></p></sly>
	</div>
	<div class="col-sm-2">
		<h5>${header.heading2.subcategory2Name}</h5>
		<sly data-sly-list.items="${header.heading2.subcategory2Links}"><p><a href="${items.url}">${items.name}</a></p></sly>
	</div>
	<div class="col-sm-2">
		<h5>${header.heading2.subcategory3Name}</h5>
		<sly data-sly-list.items="${header.heading2.subcategory3Links}"><p><a href="${items.url}">${items.name}</a></p></sly>
	</div>
	<div class="col-sm-2">
		<h5>${properties.h2uncategorizedName}</h5>
		<sly data-sly-list.items="${header.heading2.uncategorizedLinks}">
			<sly data-sly-test="${itemsList.even}"><p><a href="${itemsList.url}">${items.name}</a></p></sly>
			<sly data-sly-test="${itemsList.odd}"><p><a href="${itemsList.url}">${items.name}</a></p></sly>
		</sly>    
	</div>
 </sly>