<div class="container-fluid">
  <input type="hidden" id="toastOSMsg" value="${properties.toastOSMsg}" />
  <input type="hidden" id="addToCartErrorMessage" value="${properties.addToCartErrorMsg}" />
  <div class="row"  ng-controller="shoppingBagController as shoppingBag">
    <div class="col-lg-12 no-gutter">
      <div id="shoppingCartModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" class="modal fade">
        <div class="modal-dialog">
          <div class="modal-content remove-padding">
            <div class="modal-body remove-padding">
              <ng-form name="productBag.popupForm" novalidate="">
                <div id="add-to-cart">
                  <div class="cart-overlay">
                    <div class="cart-confirm">
                      <div class="icons"><span class="icon-shopping-bag"></span></div>
					    <p class="text-confirm" ng-show="shoppingBag.itemsAdded == '1'">${properties.oneItemAdded}</p>
                        <p class="text-confirm" ng-show="shoppingBag.itemsAdded > '1'"><span ng-bind="shoppingBag.itemsAdded"></span> ${properties.quantityAdded @ context='unsafe'}</p>
                    </div>
                    <div class="cart-total">
                      <div class="cart-total-header">
                        <h3>${properties.totalPrice}</h3>
                        <h2 ng-bind="shoppingBag.totalPrice"></h2>
                      </div>
                      <div class="cart-total-footer">
                        <p class="text-uppercase bag-item">${properties.bagItems}<b ng-bind="shoppingBag.totalItems"></b></p>
                        <p ng-hide="shoppingBag.hidePSV" class="text-uppercase bag-item">${properties.psvLabel}<b ng-bind="shoppingBag.totalPsv | number:2"></b></p>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>