<div ng-if="ctrl.dangerType" class="page-level-error">
    <div role="alert" ng-show="ctrl.isDisplayErrorMessage" class="alert alert-danger alert-dismissible center">
        <button type="button" ng-click="ctrl.modifyDisplayErrorMessage();" aria-label="Close" ng-class="{'hide': ctrl.isShowInfoIconOnError, 'pointer': !ctrl.isShowInfoIconOnError}" class="cross inline-block"><span ng-class="{'show-info-icon': ctrl.isShowInfoIconOnError}" aria-hidden="true">{{ctrl.errorMessage}}</span></button>
    </div>
</div>
<div ng-if="ctrl.successType" class="page-level-error">
    <div role="alert" class="alert success-alert alert-dismissible center">
        <div class="row success-section center-section">
            <button type="button" aria-label="Success" class="check-mark inline-block">
                <span ng-if="ctrl.successMessage" ng-class="{'only-title': !ctrl.successDescription}" class="font-weight-bold success-heading m-b-0">{{ctrl.successMessage}}</span>
                <span ng-if="ctrl.successDescription" class="m-b-0 success-subheading">{{ctrl.successDescription}}</span>
            </button>
        </div>
    </div>
</div>
