
<js data-sly-use.clientLib="${'/libs/granite/sightly/templates/clientlib.html'}" data-sly-call="${clientLib.js @ categories='dtc.commerce.authenticatedSuggestions'}" data-sly-unwrap></js>
<sly data-sly-use.basicsCards="com.dtc.digitalkit.mediaCenter.mediaCenterBasics.component.BasicsComponent" data-sly-unwrap>
		<input type="hidden" id="basicsList" ng-init="toDoCards=${basicsCards.basicsCardsList}" ng-model="toDoCards" value="${basicsCards.basicsCardsList}" />
</sly>

<div class="dist-auth-cards col-sm-12 no-gutter" ng-controller="authenticatedSuggestionsController as ctrl" ng-init="ctrl.init('${properties.cardtype}')">
<div ng-if="ctrl.distributor">
  <div class="bg-cayman bg-cayman-wrapper">
    <div id="accordion" role="tablist" aria-multiselectable="true" class="panel-group">
      <div class="panel panel-default col-sm-12 no-gutter">
        <div id="show-suggestions-heading" role="tab" class="panel-heading">
          <h4 class="panel-title">
            <button type="button" data-toggle="collapse" ng-click="ctrl.handleAccordionHeight()" data-parent="#accordion" data-target="#show-suggestions" aria-expanded="true" aria-controls="show-suggestions" class="btn">
              <div class="suggestions-heading">${properties.todaysSuggestions}</div>
            </button>
          </h4>
        </div>
        <div id="show-suggestions" role="tabpanel" aria-labelledby="show-suggestions-heading" aria-expanded="true" class="panel-collapse collapse in">
          <div class="panel-body">
            <div ng-if="!ctrl.cardDismissShow" class="col-sm-12 col-lg-5 col-xl-4 no-gutter">
                <input type="hidden" id="cardType" value="${properties.cardtype}"/>
                    <cards-component to-do-cards="ctrl.toDoCards" show="ctrl.cardDismissShow" dots="true" arrows="true" use-type="'${properties.cardtype}'"></cards-component>
            </div>
            <div ng-if="ctrl.cardDismissShow" class="suggestions-dismissed col-sm-12 col-lg-5 col-xl-4 no-gutter">
              <p>${properties.wellDoneMsg}</p>
            </div>
            <div class="col-lg-7 col-xl-8 quick-links-container no-gutter">
            <div class="ng-isolate-scope" >
              <div class="quick-links">
			  <div class="col-sm-12 quick-link-header no-gutter">${properties.quickLinksTitle}</div>
				  <div class="col-sm-12 no-gutter">
				  	 <div  ng-click="ctrl.handleMenuAction(this.customActionPath='nvgprospectpath1',true)" ng-class="($index==ctrl.config.columns[ctrl.breakpoint()])?'clear':''" class="links-container no-gutter">
				      <div class="link">
				        <div ng-style="{'background-image':'url(/etc/clientlibs/dtc/core/main/css/src/assets/images/css/prospecting.svg)'}" class="link-image"></div>
				        <div class="link-text">${properties.nvgprospectmenulbl}</div>
				      </div>
				      <div class="link-desc">${properties.nvgprospectmenudesc}</div>
				    </div>
				    <div  ng-click="ctrl.handleMenuAction(this.customActionPath='nvgmediacenterpath1',true)" ng-class="($index==ctrl.config.columns[ctrl.breakpoint()])?'clear':''" class="links-container no-gutter">
				      <div class="link">
				        <div ng-style="{'background-image':'url(/etc/clientlibs/dtc/core/main/css/src/assets/images/css/media-centre.svg)'}" class="link-image"></div>
				        <div class="link-text">${properties.nvgmediacentermenulbl}</div>
				      </div>
				      <div class="link-desc">${properties.nvgmediacentermenudesc}</div>
				    </div>
				    <!-- Hidden the field for alpha release -->
				    <div  ng-hide="true" ng-click="ctrl.handleMenuAction(this.customActionPath='nvgmystorepath1',true)" ng-class="($index==ctrl.config.columns[ctrl.breakpoint()])?'clear':''" class="links-container no-gutter">
				      <div class="link">
				        <div ng-style="{'background-image':'url(/etc/clientlibs/dtc/core/main/css/src/assets/images/css/my-store.svg)'}" class="link-image"></div>
				        <div class="link-text">${properties.nvgmystorelbl}</div>
				      </div>
				      <div class="link-desc">${properties.nvgmystoredesc}</div>
				    </div>
				    <!-- Hidden the field for alpha release -->
				    <div  ng-hide="true" ng-click="ctrl.handleMenuAction(this.customActionPath='nvgtrainingpath1',true)" ng-class="($index==ctrl.config.columns[ctrl.breakpoint()])?'clear':''" class="links-container no-gutter">
				      <div class="link">
				        <div ng-style="{'background-image':'url(/etc/clientlibs/dtc/core/main/css/src/assets/images/css/training.svg)'}" class="link-image"></div>
				        <div class="link-text">${properties.nvgtrainingmenulbl}</div>
				      </div>
				      <div class="link-desc">${properties.nvgtrainingmenudesc}</div>
				    </div>
				    <!-- Hidden the field for alpha release -->
				    <div  ng-hide="true" ng-click="ctrl.handleMenuAction(this.customActionPath='nvgorderspath1',true)" ng-class="($index==ctrl.config.columns[ctrl.breakpoint()])?'clear':''" class="links-container no-gutter">
				      <div class="link">
				        <div ng-style="{'background-image':'url(/etc/clientlibs/dtc/core/main/css/src/assets/images/css/order.svg)'}" class="link-image"></div>
				        <div class="link-text">${properties.nvgorderslbl}</div>
				      </div>
				      <div class="link-desc">${properties.nvgordersdesc}</div>
				    </div>
				    <div  ng-click="ctrl.handleMenuAction(this.customActionPath='nvgaccsettpath1',true)" ng-class="($index==ctrl.config.columns[ctrl.breakpoint()])?'clear':''" class="links-container no-gutter">
				      <div class="link">
				        <div ng-style="{'background-image':'url(/etc/clientlibs/dtc/core/main/css/src/assets/images/css/ic-profile.svg)'}" class="link-image"></div>
				        <div class="link-text">${properties.nvgaccsettmenulbl}</div>
				      </div>
				      <div class="link-desc">${properties.nvgaccsettmenudesc}</div>
				    </div>
                    <div  ng-click="ctrl.handleMenuAction(this.customActionPath='nvgmbsstorypath1',true)" ng-class="($index==ctrl.config.columns[ctrl.breakpoint()])?'clear':''" class="links-container no-gutter">
				      <div class="link">
				        <div ng-style="{'background-image':'url(/etc/clientlibs/dtc/core/main/css/src/assets/images/css/mbs-share.png)'}" class="link-image"></div>
				        <div class="link-text">${properties.nvgmbsstorymenulbl}</div>
				      </div>
				      <div class="link-desc">${properties.nvgmbsstorymenudesc}</div>
				    </div>
				    <input type="hidden" id="nvgaccsettpath1" data-path="${properties.nvgaccsettpath}"/>
				    <input type="hidden" id="nvgprospectpath1" data-path="${properties.nvgprospectpath}"/>
				    <input type="hidden" id="nvgtrainingpath1" data-path="${properties.nvgtrainingpath}"/>
				    <input type="hidden" id="nvgmediacenterpath1" data-path="${properties.nvgmediacenterpath}"/>
					<input type="hidden" id="nvgmbsstorypath1" data-path="${properties.nvgmbsstorypath}"/>
					<input type="hidden" id="nvgmbsstorypathtaken1" data-path="${properties.nvgmbsstorypathtaken}"/>
				    <input type="hidden" id="nvgorderspath1" data-path="${properties.nvgorderspath}"/>
				    <input type="hidden" id="nvgmystorepath1" data-path="${properties.nvgmystorepath}"/>
				  </div>
			</div>
			</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
 <div class="clearfix visible-sm"></div>